# review when someone opens a pull request

# Spanner Import Export templates
v1/src/main/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/spanner/ @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/SpannerToText.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/main/java/com/google/cloud/teleport/templates/common/SpannerConverters.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextIT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextLT.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/SpannerToTextTest.java @GoogleCloudPlatform/spanner-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/common/SpannerConverterTest.java @GoogleCloudPlatform/spanner-migrations-team

# Datastream To spanner template
v2/datastream-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-common/ @GoogleCloudPlatform/spanner-migrations-team

# Spanner To other database reverse replication templates
v2/spanner-change-streams-to-sharded-file-sink/ @GoogleCloudPlatform/spanner-migrations-team
v2/gcs-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-migrations-sdk/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-custom-shard/ @GoogleCloudPlatform/spanner-migrations-team
v2/spanner-to-sourcedb/ @GoogleCloudPlatform/spanner-migrations-team

# Datastream Templates
v2/datastream-to-sql/ @GoogleCloudPlatform/datastream
v2/datastream-to-bigquery/ @GoogleCloudPlatform/datastream
v2/datastream-to-postgres/ @GoogleCloudPlatform/datastream
v2/datastream-to-mongodb/ @GoogleCloudPlatform/datastream
v2/datastream-common/ @GoogleCloudPlatform/datastream

# Spanner Bulk migration template
v2/sourcedb-to-spanner/ @GoogleCloudPlatform/spanner-migrations-team

# Bigtable Import Export templates
v1/src/main/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/bigtable @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToAvroIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToJsonIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToParquetIT.java @GoogleCloudPlatform/bigtable-migrations-team
v1/src/test/java/com/google/cloud/teleport/templates/BigtableToVectorEmbeddingsIT.java @GoogleCloudPlatform/bigtable-migrations-team

# Bigtable CDC shared logic
v2/bigtable-changestreams-to-hbase/ @GoogleCloudPlatform/bigtable-migrations-team
v2/bigtable-common/ @GoogleCloudPlatform/bigtable-migrations-team
