{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "accessapproval:v1",
  "name": "accessapproval",
  "canonicalName": "Access Approval",
  "version": "v1",
  "revision": "0",
  "title": "Access Approval API",
  "description": "An API for controlling access to data by Google personnel.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/access-approval/docs",
  "protocol": "rest",
  "rootUrl": "https://accessapproval.googleapis.com/",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListApprovalRequestsResponse": {
      "id": "ListApprovalRequestsResponse",
      "description": "Response to listing of ApprovalRequest objects.",
      "type": "object",
      "properties": {
        "approvalRequests": {
          "description": "Approval request details.",
          "type": "array",
          "items": {
            "$ref": "ApprovalRequest"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more.",
          "type": "string"
        }
      }
    },
    "ApprovalRequest": {
      "id": "ApprovalRequest",
      "description": "A request for the customer to approve access to a resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}\/{id}\/approvalRequests\/{approval_request}\".",
          "type": "string"
        },
        "requestedResourceName": {
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https:\/\/cloud.google.com\/apis\/design\/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"\/\/library.googleapis.com\/shelves\/shelf1\/books\/book2\") or a \"relative\" resource name (e.g. \"shelves\/shelf1\/books\/book2\") as described in the resource name specification.",
          "type": "string"
        },
        "requestedResourceProperties": {
          "description": "Properties related to the resource represented by requested_resource_name.",
          "$ref": "ResourceProperties"
        },
        "requestedReason": {
          "description": "The justification for which approval is being requested.",
          "$ref": "AccessReason"
        },
        "requestedLocations": {
          "description": "The locations for which approval is being requested.",
          "$ref": "AccessLocations"
        },
        "requestTime": {
          "description": "The time at which approval was requested.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedExpiration": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        },
        "dismiss": {
          "description": "The request was dismissed.",
          "$ref": "DismissDecision"
        }
      }
    },
    "ResourceProperties": {
      "id": "ResourceProperties",
      "description": "The properties associated with the resource of the request.",
      "type": "object",
      "properties": {
        "excludesDescendants": {
          "description": "Whether an approval will exclude the descendants of the resource being requested.",
          "type": "boolean"
        }
      }
    },
    "AccessReason": {
      "id": "AccessReason",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of access justification.",
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW"
          ]
        },
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        }
      }
    },
    "AccessLocations": {
      "id": "AccessLocations",
      "description": "Home office and physical location of the principal.",
      "type": "object",
      "properties": {
        "principalOfficeCountry": {
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        },
        "principalPhysicalLocationCountry": {
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        }
      }
    },
    "ApproveDecision": {
      "id": "ApproveDecision",
      "description": "A decision that has been made to approve access to a resource.",
      "type": "object",
      "properties": {
        "approveTime": {
          "description": "The time at which approval was granted.",
          "type": "string",
          "format": "google-datetime"
        },
        "expireTime": {
          "description": "The time at which the approval expires.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DismissDecision": {
      "id": "DismissDecision",
      "description": "A decision that has been made to dismiss an approval request.",
      "type": "object",
      "properties": {
        "dismissTime": {
          "description": "The time at which the approval request was dismissed.",
          "type": "string",
          "format": "google-datetime"
        },
        "implicit": {
          "description": "This field will be true if the ApprovalRequest was implcitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time).",
          "type": "boolean"
        }
      }
    },
    "ApproveApprovalRequestMessage": {
      "id": "ApproveApprovalRequestMessage",
      "description": "Request to approve an ApprovalRequest.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "The expiration time of this approval.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DismissApprovalRequestMessage": {
      "id": "DismissApprovalRequestMessage",
      "description": "Request to dismiss an approval request.",
      "type": "object",
      "properties": {
      }
    },
    "AccessApprovalSettings": {
      "id": "AccessApprovalSettings",
      "description": "Settings on a Project\/Folder\/Organization related to Access Approval.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the settings. Format is one of: * \"projects\/{project}\/accessApprovalSettings\" * \"folders\/{folder}\/accessApprovalSettings\" * \"organizations\/{organization}\/accessApprovalSettings\"",
          "type": "string"
        },
        "notificationEmails": {
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enrolledServices": {
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded.",
          "type": "array",
          "items": {
            "$ref": "EnrolledService"
          }
        },
        "enrolledAncestor": {
          "description": "Output only. This field is read only (not settable via UpdateAccessAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors).",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "EnrolledService": {
      "id": "EnrolledService",
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "type": "object",
      "properties": {
        "cloudProduct": {
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * App Engine * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Dataflow * Cloud Identity and Access Management * Cloud Pub\/Sub * Cloud Storage * Persistent Disk Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * appengine.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * cloudkms.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * iam.googleapis.com * pubsub.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https:\/\/cloud.google.com\/access-approval\/docs\/supported-services",
          "type": "string"
        },
        "enrollmentLevel": {
          "description": "The enrollment level of the service.",
          "type": "string",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ],
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ]
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "getAccessApprovalSettings": {
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^projects\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the settings. Format is one of: * \"projects\/{project}\/accessApprovalSettings\" * \"folders\/{folder}\/accessApprovalSettings\" * \"organizations\/{organization}\/accessApprovalSettings\"",
              "location": "path",
              "required": true,
              "pattern": "^projects\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask."
        },
        "deleteAccessApprovalSettings": {
          "id": "accessapproval.projects.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "required": true,
              "pattern": "^projects\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited."
        }
      }
      ,
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "id": "accessapproval.projects.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/projects/{projectsId}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource. This may be \"projects\/{project}\", \"folders\/{folder}\", or \"organizations\/{organization}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that . are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological."
            },
            "get": {
              "id": "accessapproval.projects.approvalRequests.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "id": "accessapproval.projects.approvalRequests.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "dismiss": {
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "getAccessApprovalSettings": {
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^folders\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the settings. Format is one of: * \"projects\/{project}\/accessApprovalSettings\" * \"folders\/{folder}\/accessApprovalSettings\" * \"organizations\/{organization}\/accessApprovalSettings\"",
              "location": "path",
              "required": true,
              "pattern": "^folders\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask."
        },
        "deleteAccessApprovalSettings": {
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "required": true,
              "pattern": "^folders\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited."
        }
      }
      ,
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "id": "accessapproval.folders.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource. This may be \"projects\/{project}\", \"folders\/{folder}\", or \"organizations\/{organization}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that . are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological."
            },
            "get": {
              "id": "accessapproval.folders.approvalRequests.get",
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "id": "accessapproval.folders.approvalRequests.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "dismiss": {
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "getAccessApprovalSettings": {
          "id": "accessapproval.organizations.getAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings associated with a project, folder, or organization."
        },
        "updateAccessApprovalSettings": {
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the settings. Format is one of: * \"projects\/{project}\/accessApprovalSettings\" * \"folders\/{folder}\/accessApprovalSettings\" * \"organizations\/{organization}\/accessApprovalSettings\"",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask."
        },
        "deleteAccessApprovalSettings": {
          "id": "accessapproval.organizations.deleteAccessApprovalSettings",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the AccessApprovalSettings to delete.",
              "location": "path",
              "required": true,
              "pattern": "^organizations\/[^\/]+\/accessApprovalSettings$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited."
        }
      }
      ,
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "id": "accessapproval.organizations.approvalRequests.list",
              "path": "v1/{+parent}/approvalRequests",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "The parent resource. This may be \"projects\/{project}\", \"folders\/{folder}\", or \"organizations\/{organization}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that . are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological."
            },
            "get": {
              "id": "accessapproval.organizations.approvalRequests.get",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist."
            },
            "approve": {
              "id": "accessapproval.organizations.approvalRequests.approve",
              "path": "v1/{+name}:approve",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            },
            "dismiss": {
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations\/[^\/]+\/approvalRequests\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}