{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dataflow:v1b3",
  "name": "dataflow",
  "canonicalName": "Dataflow",
  "version": "v1b3",
  "revision": "0",
  "title": "Dataflow API",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dataflow",
  "protocol": "rest",
  "rootUrl": "https://dataflow.googleapis.com/",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dataflow.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "View your email address"
        }
      }
    }
  },
  "schemas": {
    "GetDebugConfigRequest": {
      "id": "GetDebugConfigRequest",
      "description": "Request to get updated debug configuration for component.",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug configuration is requested.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        }
      }
    },
    "GetDebugConfigResponse": {
      "id": "GetDebugConfigResponse",
      "description": "Response to a get debug configuration request.",
      "type": "object",
      "properties": {
        "config": {
          "description": "The encoded debug configuration for the requested component.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureRequest": {
      "id": "SendDebugCaptureRequest",
      "description": "Request to send encoded debug information.",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "data": {
          "description": "The encoded debug information.",
          "type": "string"
        },
        "location": {
          "description": "The [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "description": "Response to a send capture request. nothing",
      "type": "object",
      "properties": {
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "Represents a snapshot of a job.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of this snapshot.",
          "type": "string"
        },
        "projectId": {
          "description": "The project this snapshot belongs to.",
          "type": "string"
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "creationTime": {
          "description": "The time this snapshot was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "ttl": {
          "description": "The time after which this snapshot will be automatically deleted.",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "description": "State of the snapshot.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ]
        },
        "pubsubMetadata": {
          "description": "PubSub snapshot metadata.",
          "type": "array",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          }
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "diskSizeBytes": {
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "description": "Represents a Pubsub snapshot.",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "The name of the Pubsub topic.",
          "type": "string"
        },
        "snapshotName": {
          "description": "The name of the Pubsub snapshot.",
          "type": "string"
        },
        "expireTime": {
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DeleteSnapshotResponse": {
      "id": "DeleteSnapshotResponse",
      "description": "Response from deleting a snapshot.",
      "type": "object",
      "properties": {
      }
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "description": "List of snapshots.",
      "type": "object",
      "properties": {
        "snapshots": {
          "description": "Returned snapshots.",
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          }
        }
      }
    },
    "Job": {
      "id": "Job",
      "description": "Defines a job to be run by the Cloud Dataflow service.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of this job. This field is set by the Cloud Dataflow service when the Job is created, and is immutable for the life of the job.",
          "type": "string"
        },
        "projectId": {
          "description": "The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        },
        "name": {
          "description": "The user-specified Cloud Dataflow job name. Only one Job with a given name may exist in a project at any given time. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt returns the existing Job. The name must match the regular expression `[a-z]([-a-z0-9]{0,38}[a-z0-9])?`",
          "type": "string"
        },
        "type": {
          "description": "The type of Cloud Dataflow job.",
          "type": "string",
          "enumDescriptions": [
            "The type of the job is unspecified, or unknown.",
            "A batch job with a well-defined end point: data is read, data is processed, data is written, and the job is done.",
            "A continuously streaming job with no end: data is read, processed, and written continuously."
          ],
          "enum": [
            "JOB_TYPE_UNKNOWN",
            "JOB_TYPE_BATCH",
            "JOB_TYPE_STREAMING"
          ]
        },
        "environment": {
          "description": "The environment for the job.",
          "$ref": "Environment"
        },
        "steps": {
          "description": "Exactly one of step or steps_location should be specified. The top-level steps that constitute the entire job. Only retrieved with JOB_VIEW_ALL.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        },
        "stepsLocation": {
          "description": "The GCS location where the steps are stored.",
          "type": "string"
        },
        "currentState": {
          "description": "The current state of the job. Jobs are created in the `JOB_STATE_STOPPED` state unless otherwise specified. A job in the `JOB_STATE_RUNNING` state may asynchronously enter a terminal state. After a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED"
          ]
        },
        "currentStateTime": {
          "description": "The timestamp associated with the current state.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedState": {
          "description": "The job's requested state. `UpdateJob` may be used to switch between the `JOB_STATE_STOPPED` and `JOB_STATE_RUNNING` states, by setting requested_state. `UpdateJob` may also be used to directly set a job's requested state to `JOB_STATE_CANCELLED` or `JOB_STATE_DONE`, irrevocably terminating the job if it has not already reached a terminal state.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED"
          ]
        },
        "executionInfo": {
          "description": "Deprecated.",
          "$ref": "JobExecutionInfo"
        },
        "createTime": {
          "description": "The timestamp when the job was initially created. Immutable and set by the Cloud Dataflow service.",
          "type": "string",
          "format": "google-datetime"
        },
        "replaceJobId": {
          "description": "If this job is an update of an existing job, this field is the job ID of the job it replaced. When sending a `CreateJobRequest`, you can update a job by specifying it here. The job named here is stopped, and its intermediate state is transferred to this job.",
          "type": "string"
        },
        "transformNameMapping": {
          "description": "The map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clientRequestId": {
          "description": "The client's unique identifier of the job, re-used across retried attempts. If this field is set, the service will ensure its uniqueness. The request to create a job will fail if the service has knowledge of a previously submitted job with the same client's ID and job name. The caller may use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
          "type": "string"
        },
        "replacedByJobId": {
          "description": "If another job is an update of this job (and thus, this job is in `JOB_STATE_UPDATED`), this field contains the ID of that job.",
          "type": "string"
        },
        "tempFiles": {
          "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com\/{bucket}\/{object} bucket.storage.googleapis.com\/{object}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "description": "The [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) that contains this job.",
          "type": "string"
        },
        "pipelineDescription": {
          "description": "Preliminary field: The format of this data may change at any time. A description of the user pipeline and stages through which it is executed. Created by Cloud Dataflow service. Only retrieved with JOB_VIEW_DESCRIPTION or JOB_VIEW_ALL.",
          "$ref": "PipelineDescription"
        },
        "stageStates": {
          "description": "This field may be mutated by the Cloud Dataflow service; callers cannot mutate it.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageState"
          }
        },
        "jobMetadata": {
          "description": "This field is populated by the Dataflow service to support filtering jobs by the metadata values provided here. Populated for ListJobs and all GetJob views SUMMARY and higher.",
          "$ref": "JobMetadata"
        },
        "startTime": {
          "description": "The timestamp when the job was started (transitioned to JOB_STATE_PENDING). Flexible resource scheduling jobs are started with some delay after job creation, so start_time is unset before start and is updated when the job is started by the Cloud Dataflow service. For other jobs, start_time always equals to create_time and is immutable and set by the Cloud Dataflow service.",
          "type": "string",
          "format": "google-datetime"
        },
        "createdFromSnapshotId": {
          "description": "If this is specified, the job's initial state is populated from the given snapshot.",
          "type": "string"
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "description": "Describes the environment in which a Dataflow Job runs.",
      "type": "object",
      "properties": {
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"\/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com\/{bucket}\/{object} bucket.storage.googleapis.com\/{object}",
          "type": "string"
        },
        "clusterManagerApiService": {
          "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
          "type": "string"
        },
        "experiments": {
          "description": "The list of experiments to enable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceKmsKeyName": {
          "description": "If set, contains the Cloud KMS key identifier used to encrypt data at rest, AKA a Customer Managed Encryption Key (CMEK). Format: projects\/PROJECT_ID\/locations\/LOCATION\/keyRings\/KEY_RING\/cryptoKeys\/KEY",
          "type": "string"
        },
        "workerPools": {
          "description": "The worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
          "type": "array",
          "items": {
            "$ref": "WorkerPool"
          }
        },
        "userAgent": {
          "description": "A description of the process that generated the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "version": {
          "description": "A structure describing which components and their versions of the service are required in order to run the job.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dataset": {
          "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com\/{dataset}",
          "type": "string"
        },
        "sdkPipelineOptions": {
          "description": "The Cloud Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "internalExperiments": {
          "description": "Experimental settings.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "serviceAccountEmail": {
          "description": "Identity to run virtual machines as. Defaults to the default account.",
          "type": "string"
        },
        "flexResourceSchedulingGoal": {
          "description": "Which Flexible Resource Scheduling mode to run in.",
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "workerRegion": {
          "description": "The Compute Engine region (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity.",
          "type": "string"
        }
      }
    },
    "WorkerPool": {
      "id": "WorkerPool",
      "description": "Describes one particular pool of Cloud Dataflow workers to be instantiated by the Cloud Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of the worker pool; currently only `harness` and `shuffle` are supported.",
          "type": "string"
        },
        "numWorkers": {
          "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "packages": {
          "description": "Packages to be installed on workers.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "defaultPackageSet": {
          "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
          "type": "string",
          "enumDescriptions": [
            "The default set of packages to stage is unknown, or unspecified.",
            "Indicates that no packages should be staged at the worker unless explicitly specified by the job.",
            "Stage packages typically useful to workers written in Java.",
            "Stage pacakges typically useful to workers written in Python."
          ],
          "enum": [
            "DEFAULT_PACKAGE_SET_UNKNOWN",
            "DEFAULT_PACKAGE_SET_NONE",
            "DEFAULT_PACKAGE_SET_JAVA",
            "DEFAULT_PACKAGE_SET_PYTHON"
          ]
        },
        "machineType": {
          "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "teardownPolicy": {
          "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: `TEARDOWN_ALWAYS`, `TEARDOWN_ON_SUCCESS`, and `TEARDOWN_NEVER`. `TEARDOWN_ALWAYS` means workers are always torn down regardless of whether the job succeeds. `TEARDOWN_ON_SUCCESS` means workers are torn down if the job succeeds. `TEARDOWN_NEVER` means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the `TEARDOWN_ALWAYS` policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string",
          "enumDescriptions": [
            "The teardown policy isn't specified, or is unknown.",
            "Always teardown the resource.",
            "Teardown the resource on success. This is useful for debugging failures.",
            "Never teardown the resource. This is useful for debugging and development."
          ],
          "enum": [
            "TEARDOWN_POLICY_UNKNOWN",
            "TEARDOWN_ALWAYS",
            "TEARDOWN_ON_SUCCESS",
            "TEARDOWN_NEVER"
          ]
        },
        "diskSizeGb": {
          "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "diskSourceImage": {
          "description": "Fully qualified source image for disks.",
          "type": "string"
        },
        "zone": {
          "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
          "type": "string"
        },
        "taskrunnerSettings": {
          "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field.",
          "$ref": "TaskRunnerSettings"
        },
        "onHostMaintenance": {
          "description": "The action to take on host maintenance, as defined by the Google Compute Engine API.",
          "type": "string"
        },
        "dataDisks": {
          "description": "Data disks that are used by a VM in this workflow.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "metadata": {
          "description": "Metadata to set on the Google Compute Engine VMs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoscalingSettings": {
          "description": "Settings for autoscaling of this WorkerPool.",
          "$ref": "AutoscalingSettings"
        },
        "poolArgs": {
          "description": "Extra arguments for this worker pool.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions\/REGION\/subnetworks\/SUBNETWORK\".",
          "type": "string"
        },
        "workerHarnessContainerImage": {
          "description": "Required. Docker container image that executes the Cloud Dataflow worker harness, residing in Google Container Registry. Deprecated for the Fn API path. Use sdk_harness_container_images instead.",
          "type": "string"
        },
        "numThreadsPerWorker": {
          "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
          "type": "integer",
          "format": "int32"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "sdkHarnessContainerImages": {
          "description": "Set of SDK harness containers needed to execute this pipeline. This will only be set in the Fn API path. For non-cross-language pipelines this should have only one entry. Cross-language pipelines will have two or more entries.",
          "type": "array",
          "items": {
            "$ref": "SdkHarnessContainerImage"
          }
        }
      }
    },
    "Package": {
      "id": "Package",
      "description": "The packages that must be installed in order for a worker to run the steps of the Cloud Dataflow job that will be assigned to its worker pool. This is the mechanism by which the Cloud Dataflow SDK causes code to be loaded onto the workers. For example, the Cloud Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc.) required in order for that code to run.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the package.",
          "type": "string"
        },
        "location": {
          "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com\/{bucket} bucket.storage.googleapis.com\/",
          "type": "string"
        }
      }
    },
    "TaskRunnerSettings": {
      "id": "TaskRunnerSettings",
      "description": "Taskrunner configuration settings.",
      "type": "object",
      "properties": {
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
          "type": "string"
        },
        "taskGroup": {
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
          "type": "string"
        },
        "oauthScopes": {
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "baseUrl": {
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http:\/\/www.googleapis.com\/\"",
          "type": "string"
        },
        "dataflowApiVersion": {
          "description": "The API version of endpoint, e.g. \"v1b3\"",
          "type": "string"
        },
        "parallelWorkerSettings": {
          "description": "The settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "continueOnException": {
          "description": "Whether to continue taskrunner if an exception is hit.",
          "type": "boolean"
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console.",
          "type": "boolean"
        },
        "alsologtostderr": {
          "description": "Whether to also send taskrunner log info to stderr.",
          "type": "boolean"
        },
        "logUploadLocation": {
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com\/{bucket}\/{object} bucket.storage.googleapis.com\/{object}",
          "type": "string"
        },
        "logDir": {
          "description": "The directory on the VM to store logs.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com\/{bucket}\/{object} bucket.storage.googleapis.com\/{object}",
          "type": "string"
        },
        "harnessCommand": {
          "description": "The command to launch the worker harness.",
          "type": "string"
        },
        "workflowFileName": {
          "description": "The file to store the workflow in.",
          "type": "string"
        },
        "commandlinesFileName": {
          "description": "The file to store preprocessing commands in.",
          "type": "string"
        },
        "vmId": {
          "description": "The ID string of the VM.",
          "type": "string"
        },
        "languageHint": {
          "description": "The suggested backend language.",
          "type": "string"
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        }
      }
    },
    "WorkerSettings": {
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness.",
      "type": "object",
      "properties": {
        "baseUrl": {
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http:\/\/www.googleapis.com\/\"",
          "type": "string"
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "servicePath": {
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow\/v1b3\/projects\".",
          "type": "string"
        },
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle\/v1beta1\".",
          "type": "string"
        },
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com\/{bucket}\/{object} bucket.storage.googleapis.com\/{object}",
          "type": "string"
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        },
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com\/projects\/project-id\/zones\/zone\/diskTypes\/pd-standard",
          "type": "string"
        },
        "mountPoint": {
          "description": "Directory in a VM where disk is mounted.",
          "type": "string"
        }
      }
    },
    "AutoscalingSettings": {
      "id": "AutoscalingSettings",
      "description": "Settings for WorkerPool autoscaling.",
      "type": "object",
      "properties": {
        "algorithm": {
          "description": "The algorithm to use for autoscaling.",
          "type": "string",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ]
        },
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap scaling at.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SdkHarnessContainerImage": {
      "id": "SdkHarnessContainerImage",
      "description": "Defines a SDK harness container for executing Dataflow pipelines.",
      "type": "object",
      "properties": {
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        },
        "useSingleCorePerContainer": {
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed.",
          "type": "boolean"
        }
      }
    },
    "Step": {
      "id": "Step",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of step in the Cloud Dataflow job.",
          "type": "string"
        },
        "name": {
          "description": "The name that identifies the step. This must be unique for each step with respect to all other steps in the Cloud Dataflow job.",
          "type": "string"
        },
        "properties": {
          "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties. Must be provided on Create. Only retrieved with JOB_VIEW_ALL.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "JobExecutionInfo": {
      "id": "JobExecutionInfo",
      "description": "Additional information about how a Cloud Dataflow job will be executed that isn't contained in the submitted job.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "A mapping from each stage to the information about that stage.",
          "type": "object",
          "additionalProperties": {
            "$ref": "JobExecutionStageInfo"
          }
        }
      }
    },
    "JobExecutionStageInfo": {
      "id": "JobExecutionStageInfo",
      "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
      "type": "object",
      "properties": {
        "stepName": {
          "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PipelineDescription": {
      "id": "PipelineDescription",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "type": "object",
      "properties": {
        "originalPipelineTransform": {
          "description": "Description of each transform in the pipeline and collections between them.",
          "type": "array",
          "items": {
            "$ref": "TransformSummary"
          }
        },
        "executionPipelineStage": {
          "description": "Description of each stage of execution of the pipeline.",
          "type": "array",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        },
        "displayData": {
          "description": "Pipeline level display data.",
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          }
        }
      }
    },
    "TransformSummary": {
      "id": "TransformSummary",
      "description": "Description of the type, names\/ids, and input\/outputs for a transform.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Type of transform.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "id": {
          "description": "SDK generated id of this transform instance.",
          "type": "string"
        },
        "name": {
          "description": "User provided name for this transform instance.",
          "type": "string"
        },
        "displayData": {
          "description": "Transform-specific display data.",
          "type": "array",
          "items": {
            "$ref": "DisplayData"
          }
        },
        "outputCollectionName": {
          "description": "User names for all collection outputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputCollectionName": {
          "description": "User names for all collection inputs to this transform.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DisplayData": {
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system.",
          "type": "string"
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering.",
          "type": "string"
        },
        "strValue": {
          "description": "Contains value if the data is of string type.",
          "type": "string"
        },
        "int64Value": {
          "description": "Contains value if the data is of int64 type.",
          "type": "string",
          "format": "int64"
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "type": "number",
          "format": "float"
        },
        "javaClassValue": {
          "description": "Contains value if the data is of java class type.",
          "type": "string"
        },
        "timestampValue": {
          "description": "Contains value if the data is of timestamp type.",
          "type": "string",
          "format": "google-datetime"
        },
        "durationValue": {
          "description": "Contains value if the data is of duration type.",
          "type": "string",
          "format": "google-duration"
        },
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "shortStrValue": {
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip.",
          "type": "string"
        },
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        },
        "label": {
          "description": "An optional label to display in a dax UI for the element.",
          "type": "string"
        }
      }
    },
    "ExecutionStageSummary": {
      "id": "ExecutionStageSummary",
      "description": "Description of the composing transforms, names\/ids, and input\/outputs of a stage of execution. Some composing transforms and sources may have been generated by the Dataflow service during execution planning.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this stage.",
          "type": "string"
        },
        "id": {
          "description": "Dataflow service generated id for this stage.",
          "type": "string"
        },
        "kind": {
          "description": "Type of tranform this stage is executing.",
          "type": "string",
          "enumDescriptions": [
            "Unrecognized transform type.",
            "ParDo transform.",
            "Group By Key transform.",
            "Flatten transform.",
            "Read transform.",
            "Write transform.",
            "Constructs from a constant value, such as with Create.of.",
            "Creates a Singleton view of a collection.",
            "Opening or closing a shuffle session, often as part of a GroupByKey."
          ],
          "enum": [
            "UNKNOWN_KIND",
            "PAR_DO_KIND",
            "GROUP_BY_KEY_KIND",
            "FLATTEN_KIND",
            "READ_KIND",
            "WRITE_KIND",
            "CONSTANT_KIND",
            "SINGLETON_KIND",
            "SHUFFLE_KIND"
          ]
        },
        "inputSource": {
          "description": "Input sources for this stage.",
          "type": "array",
          "items": {
            "$ref": "StageSource"
          }
        },
        "outputSource": {
          "description": "Output sources for this stage.",
          "type": "array",
          "items": {
            "$ref": "StageSource"
          }
        },
        "prerequisiteStage": {
          "description": "Other stages that must complete before this stage can run.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "componentTransform": {
          "description": "Transforms that comprise this execution stage.",
          "type": "array",
          "items": {
            "$ref": "ComponentTransform"
          }
        },
        "componentSource": {
          "description": "Collections produced and consumed by component transforms of this stage.",
          "type": "array",
          "items": {
            "$ref": "ComponentSource"
          }
        }
      }
    },
    "StageSource": {
      "id": "StageSource",
      "description": "Description of an input or output of an execution stage.",
      "type": "object",
      "properties": {
        "userName": {
          "description": "Human-readable name for this source; may be user or system generated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "sizeBytes": {
          "description": "Size of the source, if measurable.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ComponentTransform": {
      "id": "ComponentTransform",
      "description": "Description of a transform executed as part of an execution stage.",
      "type": "object",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransform": {
          "description": "User name for the original user transform with which this transform is most closely associated.",
          "type": "string"
        }
      }
    },
    "ComponentSource": {
      "id": "ComponentSource",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "type": "object",
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        }
      }
    },
    "ExecutionStageState": {
      "id": "ExecutionStageState",
      "description": "A message describing the state of a particular execution stage.",
      "type": "object",
      "properties": {
        "executionStageName": {
          "description": "The name of the execution stage.",
          "type": "string"
        },
        "executionStageState": {
          "description": "Executions stage states allow the same set of values as JobState.",
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED"
          ]
        },
        "currentStateTime": {
          "description": "The time at which the stage transitioned to this state.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "JobMetadata": {
      "id": "JobMetadata",
      "description": "Metadata available primarily for filtering jobs. Will be included in the ListJob response and Job SUMMARY view.",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "description": "The SDK version used to run the job.",
          "$ref": "SdkVersion"
        },
        "spannerDetails": {
          "description": "Identification of a Spanner source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "SpannerIODetails"
          }
        },
        "bigqueryDetails": {
          "description": "Identification of a BigQuery source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigQueryIODetails"
          }
        },
        "bigTableDetails": {
          "description": "Identification of a BigTable source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "BigTableIODetails"
          }
        },
        "pubsubDetails": {
          "description": "Identification of a PubSub source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "PubSubIODetails"
          }
        },
        "fileDetails": {
          "description": "Identification of a File source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "FileIODetails"
          }
        },
        "datastoreDetails": {
          "description": "Identification of a Datastore source used in the Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "DatastoreIODetails"
          }
        }
      }
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "description": "The version of the SDK used to run the job.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the SDK used to run the job.",
          "type": "string"
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "description": "The support status for this SDK version.",
          "type": "string",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be no longer supported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ]
        }
      }
    },
    "SpannerIODetails": {
      "id": "SpannerIODetails",
      "description": "Metadata for a Spanner connector used by the job.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "databaseId": {
          "description": "DatabaseId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "BigQueryIODetails": {
      "id": "BigQueryIODetails",
      "description": "Metadata for a BigQuery connector used by the job.",
      "type": "object",
      "properties": {
        "table": {
          "description": "Table accessed in the connection.",
          "type": "string"
        },
        "dataset": {
          "description": "Dataset accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "Project accessed in the connection.",
          "type": "string"
        },
        "query": {
          "description": "Query used to access data in the connection.",
          "type": "string"
        }
      }
    },
    "BigTableIODetails": {
      "id": "BigTableIODetails",
      "description": "Metadata for a BigTable connector used by the job.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        },
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "PubSubIODetails": {
      "id": "PubSubIODetails",
      "description": "Metadata for a PubSub connector used by the job.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Topic accessed in the connection.",
          "type": "string"
        },
        "subscription": {
          "description": "Subscription used in the connection.",
          "type": "string"
        }
      }
    },
    "FileIODetails": {
      "id": "FileIODetails",
      "description": "Metadata for a File connector used by the job.",
      "type": "object",
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      }
    },
    "DatastoreIODetails": {
      "id": "DatastoreIODetails",
      "description": "Metadata for a Datastore connector used by the job.",
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Namespace used in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "ListJobsResponse": {
      "id": "ListJobsResponse",
      "description": "Response to a request to list Cloud Dataflow jobs in a project. This might be a partial response, depending on the page size in the ListJobsRequest. However, if the project does not have any jobs, an instance of ListJobsResponse is not returned and the requests's response body is empty {}.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "A subset of the requested job information.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "Set if there may be more results than fit in this response.",
          "type": "string"
        },
        "failedLocation": {
          "description": "Zero or more messages describing the [regional endpoints] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) that failed to respond.",
          "type": "array",
          "items": {
            "$ref": "FailedLocation"
          }
        }
      }
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "description": "Indicates which [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) failed to respond to a request for data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) that failed to respond.",
          "type": "string"
        }
      }
    },
    "SnapshotJobRequest": {
      "id": "SnapshotJobRequest",
      "description": "Request to create a snapshot of a job.",
      "type": "object",
      "properties": {
        "ttl": {
          "description": "TTL for the snapshot.",
          "type": "string",
          "format": "google-duration"
        },
        "location": {
          "description": "The location that contains this job.",
          "type": "string"
        },
        "snapshotSources": {
          "description": "If true, perform snapshots for sources which support this.",
          "type": "boolean"
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        }
      }
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "description": "Response to a request to list job messages.",
      "type": "object",
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "JobMessage"
          }
        },
        "nextPageToken": {
          "description": "The token to obtain the next page of results if there are more.",
          "type": "string"
        },
        "autoscalingEvents": {
          "description": "Autoscaling events in ascending timestamp order.",
          "type": "array",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        }
      }
    },
    "JobMessage": {
      "id": "JobMessage",
      "description": "A particular message pertaining to a Dataflow job.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Deprecated.",
          "type": "string"
        },
        "time": {
          "description": "The timestamp of the message.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageText": {
          "description": "The text of the message.",
          "type": "string"
        },
        "messageImportance": {
          "description": "Importance level of the message.",
          "type": "string",
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ]
        }
      }
    },
    "AutoscalingEvent": {
      "id": "AutoscalingEvent",
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "type": "object",
      "properties": {
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "type": "string",
          "format": "int64"
        },
        "targetNumWorkers": {
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string",
          "format": "int64"
        },
        "eventType": {
          "description": "The type of autoscaling event to report.",
          "type": "string",
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ]
        },
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "time": {
          "description": "The time this event was emitted to indicate a new target or current num_workers value.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerPool": {
          "description": "A short and friendly name for the worker pool this event refers to, populated from the value of PoolStageRelation::user_pool_name.",
          "type": "string"
        }
      }
    },
    "StructuredMessage": {
      "id": "StructuredMessage",
      "description": "A rich message format, including a human readable string, a key for identifying the message, and structured data associated with the message for programmatic consumption.",
      "type": "object",
      "properties": {
        "messageText": {
          "description": "Human-readable version of message.",
          "type": "string"
        },
        "messageKey": {
          "description": "Identifier for this message type. Used by external systems to internationalize or personalize message.",
          "type": "string"
        },
        "parameters": {
          "description": "The structured data associated with this message.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "description": "Structured data associated with this message.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key or name for this parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value for this parameter.",
          "type": "any"
        }
      }
    },
    "JobMetrics": {
      "id": "JobMetrics",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "type": "object",
      "properties": {
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "description": "All metrics for this job.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      }
    },
    "MetricUpdate": {
      "id": "MetricUpdate",
      "description": "Describes the state of a metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "kind": {
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
          "type": "string"
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "scalar": {
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
          "type": "any"
        },
        "meanSum": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
          "type": "any"
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "set": {
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
          "type": "any"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "internal": {
          "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
          "type": "any"
        },
        "updateTime": {
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MetricStructuredName": {
      "id": "MetricStructuredName",
      "description": "Identifies a metric, by describing the source which generated the metric.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
          "type": "string"
        },
        "name": {
          "description": "Worker-defined metric name.",
          "type": "string"
        },
        "context": {
          "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] = .",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobExecutionDetails": {
      "id": "JobExecutionDetails",
      "description": "Information about the execution of a job.",
      "type": "object",
      "properties": {
        "stages": {
          "description": "The stages of the job execution.",
          "type": "array",
          "items": {
            "$ref": "StageSummary"
          }
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      }
    },
    "StageSummary": {
      "id": "StageSummary",
      "description": "Information about a particular execution stage of a job.",
      "type": "object",
      "properties": {
        "stageId": {
          "description": "ID of this stage",
          "type": "string"
        },
        "state": {
          "description": "State of this stage.",
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "startTime": {
          "description": "Start time of this stage.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "progress": {
          "description": "Progress for this stage. Only applicable to Batch jobs.",
          "$ref": "ProgressTimeseries"
        },
        "metrics": {
          "description": "Metrics for this stage.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      }
    },
    "ProgressTimeseries": {
      "id": "ProgressTimeseries",
      "description": "Information about the progress of some component of job execution.",
      "type": "object",
      "properties": {
        "currentProgress": {
          "description": "The current progress of the component, in the range [0,1].",
          "type": "number",
          "format": "double"
        },
        "dataPoints": {
          "description": "History of progress for the component. Points are sorted by time.",
          "type": "array",
          "items": {
            "$ref": "Point"
          }
        }
      }
    },
    "Point": {
      "id": "Point",
      "description": "A point in the timeseries.",
      "type": "object",
      "properties": {
        "time": {
          "description": "The timestamp of the point.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "description": "The value of the point.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "StageExecutionDetails": {
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "type": "object",
      "properties": {
        "workers": {
          "description": "Workers that have done work on the stage.",
          "type": "array",
          "items": {
            "$ref": "WorkerDetails"
          }
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      }
    },
    "WorkerDetails": {
      "id": "WorkerDetails",
      "description": "Information about a worker",
      "type": "object",
      "properties": {
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        },
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "type": "array",
          "items": {
            "$ref": "WorkItemDetails"
          }
        }
      }
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "description": "Information about an individual work item execution.",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "Name of this work item.",
          "type": "string"
        },
        "attemptId": {
          "description": "Attempt ID of this work item",
          "type": "string"
        },
        "startTime": {
          "description": "Start time of this work item attempt.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of this work item.",
          "type": "string",
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "metrics": {
          "description": "Metrics for this work item.",
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          }
        }
      }
    },
    "ValidateResponse": {
      "id": "ValidateResponse",
      "description": "Response to the validation request.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Will be empty if validation succeeds.",
          "type": "string"
        },
        "queryInfo": {
          "description": "Information about the validated query. Not defined if validation fails.",
          "$ref": "QueryInfo"
        }
      }
    },
    "QueryInfo": {
      "id": "QueryInfo",
      "description": "Information about a validated query.",
      "type": "object",
      "properties": {
        "queryProperty": {
          "description": "Includes an entry for each satisfied QueryProperty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The query property is unknown or unspecified.",
              "Indicates this query reads from >= 1 unbounded source."
            ],
            "enum": [
              "QUERY_PROPERTY_UNSPECIFIED",
              "HAS_UNBOUNDED_SOURCE"
            ]
          }
        }
      }
    },
    "CreateJobFromTemplateRequest": {
      "id": "CreateJobFromTemplateRequest",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "type": "object",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs:\/\/`.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "location": {
          "description": "The [regional endpoint] (https:\/\/cloud.google.com\/dataflow\/docs\/concepts\/regional-endpoints) to which to direct the request.",
          "type": "string"
        }
      }
    },
    "RuntimeEnvironment": {
      "id": "RuntimeEnvironment",
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "numWorkers": {
          "description": "The initial number of Google Compute Engine instnaces for the job.",
          "type": "integer",
          "format": "int32"
        },
        "maxWorkers": {
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "zone": {
          "description": "The Compute Engine [availability zone](https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs:\/\/`.",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https:\/\/www.googleapis.com\/compute\/v1\/projects\/HOST_PROJECT_ID\/regions\/REGION\/subnetworks\/SUBNETWORK\" or \"regions\/REGION\/subnetworks\/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "additionalUserLabels": {
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https:\/\/cloud.google.com\/compute\/docs\/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects\/\/locations\/\/keyRings\/\/cryptoKeys\/",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ]
        },
        "workerRegion": {
          "description": "The Compute Engine region (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https:\/\/cloud.google.com\/compute\/docs\/regions-zones\/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        }
      }
    },
    "LaunchTemplateParameters": {
      "id": "LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched.",
      "type": "object",
      "properties": {
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        },
        "transformNameMapping": {
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LaunchTemplateResponse": {
      "id": "LaunchTemplateResponse",
      "description": "Response to the request to launch a template.",
      "type": "object",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "GetTemplateResponse": {
      "id": "GetTemplateResponse",
      "description": "The response to a GetTemplate request.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the get template request. Any problems with the request will be indicated in the error_details.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "The template metadata describing the template name, available parameters, etc.",
          "$ref": "TemplateMetadata"
        },
        "templateType": {
          "description": "Template Type.",
          "type": "string",
          "enumDescriptions": [
            "Unknown Template Type.",
            "Legacy Template.",
            "Flex Template."
          ],
          "enum": [
            "UNKNOWN",
            "LEGACY",
            "FLEX"
          ]
        },
        "runtimeMetadata": {
          "description": "Describes the runtime metadata with SDKInfo and available parameters.",
          "$ref": "RuntimeMetadata"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "TemplateMetadata": {
      "id": "TemplateMetadata",
      "description": "Metadata describing a template.",
      "type": "object",
[...]
