{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "dlp:v2",
  "name": "dlp",
  "canonicalName": "DLP",
  "version": "v2",
  "revision": "0",
  "title": "Cloud Data Loss Prevention (DLP) API",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "protocol": "rest",
  "rootUrl": "https://dlp.googleapis.com/",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://dlp.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GooglePrivacyDlpV2InspectContentRequest": {
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a ContentItem.",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "id": "GooglePrivacyDlpV2InspectConfig",
      "description": "Configuration description of the scanning process. When used with redactContent only info_types and min_likelihood are currently used.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https:\/\/cloud.google.com\/dlp\/docs\/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "minLikelihood": {
          "description": "Only returns findings equal or above this threshold. The default is POSSIBLE. See https:\/\/cloud.google.com\/dlp\/docs\/likelihood to learn more.",
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "limits": {
          "description": "Configuration to control the number of findings returned.",
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote.",
          "type": "boolean"
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "customInfoTypes": {
          "description": "CustomInfoTypes provided by the user. See https:\/\/cloud.google.com\/dlp\/docs\/creating-custom-infotypes to learn more.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "contentOptions": {
          "description": "List of options defining data content to scan. If empty, text, images, and other content will be included.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ],
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ]
          }
        },
        "ruleSet": {
          "description": "Set of rules to apply to the findings for this InspectConfig. Exclusion rules, contained in the set are executed in the end, other rules are executed in the order they are specified for each info type.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InfoType": {
      "id": "GooglePrivacyDlpV2InfoType",
      "description": "Type of information detected by the API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https:\/\/cloud.google.com\/dlp\/docs\/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$-_]{1,64}`.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "id": "GooglePrivacyDlpV2FindingLimits",
      "description": "Configuration to control the number of findings returned.",
      "type": "object",
      "properties": {
        "maxFindingsPerItem": {
          "description": "Max number of findings that will be returned for each item scanned. When set within `InspectJobConfig`, the maximum returned is 2000 regardless if this is set higher. When set within `InspectContentRequest`, this field is ignored.",
          "type": "integer",
          "format": "int32"
        },
        "maxFindingsPerRequest": {
          "description": "Max number of findings that will be returned per request\/job. When set within `InspectContentRequest`, the maximum returned is 2000 regardless if this is set higher.",
          "type": "integer",
          "format": "int32"
        },
        "maxFindingsPerInfoType": {
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "description": "Max findings configuration per infoType, per content item or long running DlpJob.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "likelihood": {
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "dictionary": {
          "description": "A list of phrases to detect as a CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "surrogateType": {
          "description": "Message for detecting output from deidentification transformations that support reversing.",
          "$ref": "GooglePrivacyDlpV2SurrogateType"
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "detectionRules": {
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "exclusionType": {
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching.",
          "type": "string",
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2Dictionary": {
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can be used to match sensitive information specific to the data, such as a list of employee IDs or job titles. Dictionary words are case-insensitive and all characters other than letters and digits in the unicode [Basic Multilingual Plane](https:\/\/en.wikipedia.org\/wiki\/Plane_%28Unicode%29#Basic_Multilingual_Plane) will be replaced with whitespace when scanning for matches, so the dictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\", \"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters surrounding any match must be of a different type than the adjacent characters within the word, so letters must be next to non-letters and digits next to non-digits. For example, the dictionary word \"jen\" will match the first three letters of the text \"jen123\" but will return no matches for \"jennifer\". Dictionary words containing a large number of characters that are not letters or digits may result in unexpected findings because such characters are treated as whitespace. The [limits](https:\/\/cloud.google.com\/dlp\/limits) page contains details about the size limits of dictionaries. For dictionaries that do not fit within these constraints, consider using `LargeCustomDictionaryConfig` in the `StoredInfoType` API.",
      "type": "object",
      "properties": {
        "wordList": {
          "description": "List of words or phrases to search for.",
          "$ref": "GooglePrivacyDlpV2WordList"
        },
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file is accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        }
      }
    },
    "GooglePrivacyDlpV2WordList": {
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object",
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "description": "Message representing a single file or path in Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage. Example: gs:\/\/[BUCKET_NAME]\/dictionary.txt",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Regex": {
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression.",
      "type": "object",
      "properties": {
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax (https:\/\/github.com\/google\/re2\/wiki\/Syntax) can be found under the google\/re2 repository on GitHub.",
          "type": "string"
        },
        "groupIndexes": {
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "id": "GooglePrivacyDlpV2SurrogateType",
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https:\/\/cloud.google.com\/dlp\/docs\/reference\/rest\/v2\/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2StoredType": {
      "id": "GooglePrivacyDlpV2StoredType",
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations\/433245324\/storedInfoTypes\/432452342` or `projects\/project-id\/storedInfoTypes\/432452342`.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "id": "GooglePrivacyDlpV2DetectionRule",
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      }
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "id": "GooglePrivacyDlpV2HotwordRule",
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "type": "object",
      "properties": {
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "proximity": {
          "description": "Proximity of the finding within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. Note that the finding itself will be included in the window, so that hotwords may be used to match substrings of the finding itself. For example, the certainty of a phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" could be adjusted upwards if the area code is known to be the local area code of a company office using the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question.",
          "$ref": "GooglePrivacyDlpV2Proximity"
        },
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        }
      }
    },
    "GooglePrivacyDlpV2Proximity": {
      "id": "GooglePrivacyDlpV2Proximity",
      "description": "Message for specifying a window around a finding to apply a detection rule.",
      "type": "object",
      "properties": {
        "windowBefore": {
          "description": "Number of characters before the finding to consider.",
          "type": "integer",
          "format": "int32"
        },
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule.",
      "type": "object",
      "properties": {
        "fixedLikelihood": {
          "description": "Set the likelihood of a finding to a fixed value.",
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "relativeLikelihood": {
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "List of infoTypes this rule set is applied to.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "rules": {
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        },
        "exclusionRule": {
          "description": "Exclusion rule.",
          "$ref": "GooglePrivacyDlpV2ExclusionRule"
        }
      }
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "id": "GooglePrivacyDlpV2ExclusionRule",
      "description": "The rule that specifies conditions when findings of infoTypes specified in `InspectionRuleSet` are removed from results.",
      "type": "object",
      "properties": {
        "dictionary": {
          "description": "Dictionary which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "regex": {
          "description": "Regular expression which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "excludeInfoTypes": {
          "description": "Set of infoTypes for which findings would affect this rule.",
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes"
        },
        "matchingType": {
          "description": "How the rule is applied, see MatchingType documentation for details.",
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Full match. - Dictionary: join of Dictionary results matched complete finding quote - Regex: all regex matches fill a finding quote start to end - Exclude info type: completely inside affecting info types findings",
            "Partial match. - Dictionary: at least one of the tokens in the finding matches - Regex: substring of the finding matches - Exclude info type: intersects with affecting info types findings",
            "Inverse match. - Dictionary: no tokens in the finding match the dictionary - Regex: finding doesn't match the regex - Exclude info type: no intersection with affecting info types findings"
          ],
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes",
      "description": "List of exclude infoTypes.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or contained within with a finding of an infoType from this list. For example, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and `exclusion_rule` containing `exclude_info_types.info_types` with \"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap with EMAIL_ADDRESS finding. That leads to \"555-222-2222@example.org\" to generate only a single finding, namely email address.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ContentItem": {
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Container structure for the content to inspect.",
      "type": "object",
      "properties": {
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "table": {
          "description": "Structured content for inspection. See https:\/\/cloud.google.com\/dlp\/docs\/inspecting-text#inspecting_a_table to learn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2Table": {
      "id": "GooglePrivacyDlpV2Table",
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed. See https:\/\/cloud.google.com\/dlp\/docs\/inspecting-text#inspecting_a_table to learn more.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Headers of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rows": {
          "description": "Rows of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        }
      }
    },
    "GooglePrivacyDlpV2FieldId": {
      "id": "GooglePrivacyDlpV2FieldId",
      "description": "General identifier of a data field in a storage service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Row": {
      "id": "GooglePrivacyDlpV2Row",
      "description": "Values of the row.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Individual cells.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Value": {
      "id": "GooglePrivacyDlpV2Value",
      "description": "Set of primitive values supported by the system. Note that for the purposes of inspection or transformation, the number of bytes considered to comprise a 'Value' is based on its representation as a UTF-8 encoded string. For example, if 'integer_value' is set to 123456789, the number of bytes would be counted as 9, even though an int64 only holds up to 8 bytes of data.",
      "type": "object",
      "properties": {
        "integerValue": {
          "description": "integer",
          "type": "string",
          "format": "int64"
        },
        "floatValue": {
          "description": "float",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "string",
          "type": "string"
        },
        "booleanValue": {
          "description": "boolean",
          "type": "boolean"
        },
        "timestampValue": {
          "description": "timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "timeValue": {
          "description": "time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "dateValue": {
          "description": "date",
          "$ref": "GoogleTypeDate"
        },
        "dayOfWeekValue": {
          "description": "day of week",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "description": "Container for bytes to inspect or redact.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "avro",
            "csv",
            "tsv"
          ],
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "AVRO",
            "CSV",
            "TSV"
          ]
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "description": "Results of inspecting an item.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2InspectResult": {
      "id": "GooglePrivacyDlpV2InspectResult",
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings for an item.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        },
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches.",
          "type": "boolean"
        }
      }
    },
    "GooglePrivacyDlpV2Finding": {
      "id": "GooglePrivacyDlpV2Finding",
      "description": "Represents a piece of potentially sensitive content.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name in format projects\/{project}\/locations\/{location}\/findings\/{finding} Populated only when viewing persisted findings.",
          "type": "string"
        },
        "quote": {
          "description": "The content that was found. Even if the content is not textual, it may be converted to a textual representation here. Provided if `include_quote` is true and the finding is less than or equal to 4096 bytes long. If the finding exceeds 4096 bytes in length, the quote may be omitted.",
          "type": "string"
        },
        "infoType": {
          "description": "The type of content that might have been found. Provided if `excluded_types` is false.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "likelihood": {
          "description": "Confidence of how likely it is that the `info_type` is correct.",
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "location": {
          "description": "Where the content was found.",
          "$ref": "GooglePrivacyDlpV2Location"
        },
        "createTime": {
          "description": "Timestamp when finding was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "quoteInfo": {
          "description": "Contains data parsed from quotes. Only populated if include_quote was set to true and a supported infoType was requested. Currently supported infoTypes: DATE, DATE_OF_BIRTH and TIME.",
          "$ref": "GooglePrivacyDlpV2QuoteInfo"
        },
        "resourceName": {
          "description": "The job that stored the finding.",
          "type": "string"
        },
        "triggerName": {
          "description": "Job trigger name, if applicable, for this finding.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this `Finding`. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "jobCreateTime": {
          "description": "Time the job started that produced this finding.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobName": {
          "description": "The job that stored the finding.",
          "type": "string"
        },
        "findingId": {
          "description": "The unique finding id.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Location": {
      "id": "GooglePrivacyDlpV2Location",
      "description": "Specifies the location of the finding.",
      "type": "object",
      "properties": {
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "contentLocations": {
          "description": "List of nested objects pointing to the precise location of the finding within the file or record.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          }
        },
        "container": {
          "description": "Information about the container where this finding occurred, if available.",
          "$ref": "GooglePrivacyDlpV2Container"
        }
      }
    },
    "GooglePrivacyDlpV2Range": {
      "id": "GooglePrivacyDlpV2Range",
      "description": "Generic half-open interval [start, end)",
      "type": "object",
      "properties": {
        "start": {
          "description": "Index of the first character of the range (inclusive).",
          "type": "string",
          "format": "int64"
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "id": "GooglePrivacyDlpV2ContentLocation",
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "type": "object",
      "properties": {
        "containerName": {
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs:\/\/{bucket}\/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for an example an image contained within a document).",
          "type": "string"
        },
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "documentLocation": {
          "description": "Location data for document files.",
          "$ref": "GooglePrivacyDlpV2DocumentLocation"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "containerTimestamp": {
          "description": "Findings container modification timestamp, if applicable. For Google Cloud Storage contains last file modification timestamp. For BigQuery table contains last_modified_time property. For Datastore - not populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "containerVersion": {
          "description": "Findings container version, if available (\"generation\" for Google Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "id": "GooglePrivacyDlpV2RecordLocation",
      "description": "Location of a finding within a row or record.",
      "type": "object",
      "properties": {
        "recordKey": {
          "description": "Key of the finding.",
          "$ref": "GooglePrivacyDlpV2RecordKey"
        },
        "fieldId": {
          "description": "Field id of the field containing the finding.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        }
      }
    },
    "GooglePrivacyDlpV2RecordKey": {
      "id": "GooglePrivacyDlpV2RecordKey",
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object",
      "properties": {
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        },
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2DatastoreKey": {
      "id": "GooglePrivacyDlpV2DatastoreKey",
      "description": "Record key for a finding in Cloud Datastore.",
      "type": "object",
      "properties": {
        "entityKey": {
          "description": "Datastore entity key.",
          "$ref": "GooglePrivacyDlpV2Key"
        }
      }
    },
    "GooglePrivacyDlpV2Key": {
      "id": "GooglePrivacyDlpV2Key",
      "description": "A unique identifier for a Datastore entity. If a key's partition ID or any of its path kinds or names are reserved\/read-only, the key is reserved\/read-only. A reserved\/read-only key is forbidden in certain documented contexts.",
      "type": "object",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. A path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      }
    },
    "GooglePrivacyDlpV2PartitionId": {
      "id": "GooglePrivacyDlpV2PartitionId",
      "description": "Datastore partition ID. A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "description": "A (kind, ID\/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved\/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved\/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "id": "GooglePrivacyDlpV2BigQueryKey",
      "description": "Row key for identifying a record in BigQuery table.",
      "type": "object",
      "properties": {
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "rowNumber": {
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2TableLocation": {
      "id": "GooglePrivacyDlpV2TableLocation",
      "description": "Location of a finding within a table.",
      "type": "object",
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located. Only populated for resources that have a natural ordering, not BigQuery. In BigQuery, to identify the row a finding came from, populate BigQueryOptions.identifying_fields with your primary key column names and when you store the findings the value of those columns will be stored inside of Finding.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "id": "GooglePrivacyDlpV2ImageLocation",
      "description": "Location of the finding within an image.",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      }
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "id": "GooglePrivacyDlpV2BoundingBox",
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object",
      "properties": {
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "Height of the bounding box in pixels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "description": "Location of a finding within a document.",
      "type": "object",
      "properties": {
        "fileOffset": {
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2MetadataLocation": {
      "id": "GooglePrivacyDlpV2MetadataLocation",
      "description": "Metadata Location",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of metadata containing the finding.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "General file metadata provided by Cloud Storage."
          ],
          "enum": [
            "METADATATYPE_UNSPECIFIED",
            "STORAGE_METADATA"
          ]
        },
        "storageLabel": {
          "description": "Storage metadata.",
          "$ref": "GooglePrivacyDlpV2StorageMetadataLabel"
        }
      }
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Container": {
      "id": "GooglePrivacyDlpV2Container",
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Container type, for example BigQuery or Google Cloud Storage.",
          "type": "string"
        },
        "projectId": {
          "description": "Project where the finding was found. Can be different from the project that owns the finding.",
          "type": "string"
        },
        "fullPath": {
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Google Cloud Storage: 'gs:\/\/Bucket\/folders\/filename.txt'",
          "type": "string"
        },
        "rootPath": {
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Google Cloud Storage file `gs:\/\/bucket\/folder\/filename.txt`, the root is `gs:\/\/bucket`",
          "type": "string"
        },
        "relativePath": {
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - Google Cloud Storage file `gs:\/\/bucket\/folder\/filename.txt`, the relative path is `folder\/filename.txt`",
          "type": "string"
        },
        "updateTime": {
          "description": "Findings container modification timestamp, if applicable. For Google Cloud Storage contains last file modification timestamp. For BigQuery table contains last_modified_time property. For Datastore - not populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "version": {
          "description": "Findings container version, if available (\"generation\" for Google Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote.",
      "type": "object",
      "properties": {
        "dateTime": {
          "description": "The date time indicated by the quote.",
          "$ref": "GooglePrivacyDlpV2DateTime"
        }
      }
    },
    "GooglePrivacyDlpV2DateTime": {
      "id": "GooglePrivacyDlpV2DateTime",
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "type": "object",
      "properties": {
        "date": {
          "description": "One or more of the following must be set. Must be a valid date or time value.",
          "$ref": "GoogleTypeDate"
        },
        "dayOfWeek": {
          "description": "Day of week",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "timeZone": {
          "description": "Time zone",
          "$ref": "GooglePrivacyDlpV2TimeZone"
        }
      }
    },
    "GooglePrivacyDlpV2TimeZone": {
      "id": "GooglePrivacyDlpV2TimeZone",
      "description": "Time zone of the date time object.",
      "type": "object",
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC. E.g. For \"UTC-9\", this value is -540.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "imageRedactionConfigs": {
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          }
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted image.",
          "type": "boolean"
        },
        "byteItem": {
          "description": "The content must be PNG, JPEG, SVG or BMP.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified, the default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        }
      }
    },
    "GooglePrivacyDlpV2Color": {
      "id": "GooglePrivacyDlpV2Color",
      "description": "Represents a color in the RGB color space.",
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "id": "GooglePrivacyDlpV2RedactImageResponse",
      "description": "Results of redacting an image.",
      "type": "object",
      "properties": {
        "redactedImage": {
          "description": "The redacted image. The type will be the same as the original image.",
          "type": "string",
          "format": "byte"
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was set to true, then this field will include all text, if any, that was found in the image.",
          "type": "string"
        },
        "inspectResult": {
          "description": "The findings. Populated when include_findings in the request is true.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "description": "Request to de-identify a list of items.",
      "type": "object",
      "properties": {
        "deidentifyConfig": {
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "item": {
          "description": "The item to de-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "deidentifyTemplateName": {
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "description": "The configuration that controls how the data will change.",
      "type": "object",
      "properties": {
        "infoTypeTransformations": {
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        },
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "description": "A type of transformation that will scan unstructured text and apply various `PrimitiveTransformation`s to each finding, where the transformation is applied to only values that were identified as a specific info_type.",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "Required. Transformation for each infoType. Cannot specify more than one for a given infoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          }
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "primitiveTransformation": {
          "description": "Required. Primitive transformation to apply to the infoType.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      }
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value.",
      "type": "object",
      "properties": {
        "replaceConfig": {
          "description": "Replace",
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig"
        },
        "redactConfig": {
          "description": "Redact",
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        },
        "characterMaskConfig": {
          "description": "Mask",
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "description": "Ffx-Fpe",
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
        },
        "fixedSizeBucketingConfig": {
          "description": "Fixed size bucketing",
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "bucketingConfig": {
          "description": "Bucketing",
          "$ref": "GooglePrivacyDlpV2BucketingConfig"
        },
        "replaceWithInfoTypeConfig": {
          "description": "Replace with infotype",
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
        },
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "cryptoHashConfig": {
          "description": "Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        },
        "dateShiftConfig": {
          "description": "Date Shift",
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "cryptoDeterministicConfig": {
          "description": "Deterministic Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "id": "GooglePrivacyDlpV2ReplaceValueConfig",
      "description": "Replace each input value with a given `Value`.",
      "type": "object",
      "properties": {
        "newValue": {
          "description": "Value to replace it with.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "id": "GooglePrivacyDlpV2RedactConfig",
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "type": "object",
      "properties": {
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values\u2014for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        },
        "numberToMask": {
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally.",
          "type": "integer",
          "format": "int32"
        },
        "reverseOrder": {
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`.",
          "type": "boolean"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          }
        }
      }
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "id": "GooglePrivacyDlpV2CharsToIgnore",
      "description": "Characters to skip when doing deidentification of a value. These will be left alone and skipped.",
      "type": "object",
      "properties": {
        "charactersToSkip": {
          "description": "Characters to not transform when masking.",
          "type": "string"
        },
        "commonCharactersToIgnore": {
          "description": "Common characters to not transform when masking. Useful to avoid removing punctuation.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-.\/:;<=>?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ],
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https:\/\/cloud.google.com\/dlp\/docs\/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "Required. The key used by the encryption algorithm.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "commonAlphabet": {
          "description": "Common alphabets.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ]
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before\/after encryption\/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ~`!@#$%^&*()_-+={[}]|\\:;\"'<,>.?\/",
          "type": "string"
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer",
          "format": "int32"
        },
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https:\/\/cloud.google.com\/dlp\/docs\/reference\/rest\/v2\/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: \u29DDMY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      }
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "id": "GooglePrivacyDlpV2CryptoKey",
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by KMS). When using KMS to wrap\/unwrap DEKs, be sure to set an appropriate IAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot unwrap the data crypto key.",
      "type": "object",
      "properties": {
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "unwrapped": {
          "description": "Unwrapped crypto key",
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "kmsWrapped": {
          "description": "Kms wrapped key",
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "id": "GooglePrivacyDlpV2TransientCryptoKey",
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "description": "Using raw keys is prone to security risks due to accidentally leaking the key. Choose another type of key if possible.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. A 128\/192\/256 bit key.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
      "description": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128\/192\/256 bit key. Authorization requires the following IAM permissions when sending a request to perform a crypto transformation using a kms-wrapped crypto key: dlp.kms.encrypt",
      "type": "object",
      "properties": {
        "wrappedKey": {
          "description": "Required. The wrapped data crypto key.",
          "type": "string",
          "format": "byte"
        },
        "cryptoKeyName": {
          "description": "Required. The resource name of the KMS CryptoKey to use for unwrapping.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}, i.e if lower_bound = 10 and upper_bound = 20 all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https:\/\/cloud.google.com\/dlp\/docs\/concepts-bucketing to learn more.",
      "type": "object",
      "properties": {
        "lowerBound": {
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "bucketSize": {
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https:\/\/cloud.google.com\/dlp\/docs\/concepts-bucketing to learn more.",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Bucket": {
      "id": "GooglePrivacyDlpV2Bucket",
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Lower bound of the range, inclusive. Type should be the same as max if used.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "description": "Required. Replacement value for this bucket.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "description": "Replace each matching finding with the name of the info_type.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value.",
      "type": "object",
      "properties": {
        "partToExtract": {
          "description": "The part of the time to keep.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ],
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. The key size must be either 32 or 64 bytes. Outputs a base64 encoded representation of the hashed output (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=). Currently, only string and integer values can be hashed. See https:\/\/cloud.google.com\/dlp\/docs\/pseudonymization to learn more.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "The key used by the hash function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "description": "Shifts dates by random number of days, with option to be consistent for the same context. See https:\/\/cloud.google.com\/dlp\/docs\/concepts-date-shifting to learn more.",
      "type": "object",
      "properties": {
        "upperBoundDays": {
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this range (inclusive ends). Negative means shift to earlier in time. Must not be more than 365250 days (1000 years) each direction. For example, 3 means shift date to at most 3 days into the future.",
          "type": "integer",
          "format": "int32"
        },
        "lowerBoundDays": {
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past.",
          "type": "integer",
          "format": "int32"
        },
        "context": {
          "description": "Points to the field that contains the context, for example, an entity id. If set, must also set cryptoKey. If set, shift will be consistent for the given context.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "Causes the shift to be computed based on this key and the context. This results in the same shift for the same context and crypto_key. If set, must also set context. Can only be applied to table items.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig",
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https:\/\/tools.ietf.org\/html\/rfc5297.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "The key used by the encryption function.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "surrogateInfoType": {
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: \u29DDMY_TOKEN_TYPE.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "context": {
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "id": "GooglePrivacyDlpV2RecordTransformations",
      "description": "A type of transformation that is applied over structured data such as a table.",
      "type": "object",
      "properties": {
        "fieldTransformations": {
          "description": "Transform the record by applying various field transformations.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that match any suppression rule are omitted from the output.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          }
        }
      }
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "id": "GooglePrivacyDlpV2FieldTransformation",
      "description": "The transformation to apply to the field.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Input field(s) to apply the transformation to.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        }
      }
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "id": "GooglePrivacyDlpV2RecordCondition",
      "description": "A condition for determining whether a transformation should be applied to a field.",
      "type": "object",
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2Expressions"
        }
      }
    },
    "GooglePrivacyDlpV2Expressions": {
      "id": "GooglePrivacyDlpV2Expressions",
      "description": "An expression, consisting or an operator and conditions.",
      "type": "object",
      "properties": {
        "logicalOperator": {
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      }
    },
    "GooglePrivacyDlpV2Conditions": {
      "id": "GooglePrivacyDlpV2Conditions",
      "description": "A collection of conditions.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "A collection of conditions.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Condition": {
      "id": "GooglePrivacyDlpV2Condition",
      "description": "The field type of `value` and `field` do not need to match to be considered equal, but not all comparisons are possible. EQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types, but all other comparisons are invalid with incompatible types. A `value` of type: - `string` can be compared against all other types - `boolean` can only be compared against other booleans - `integer` can be compared against doubles or a string if the string value can be parsed as an integer. - `double` can be compared against integers or a string if the string can be parsed as a double. - `Timestamp` can be compared against strings in RFC 3339 date string format. - `TimeOfDay` can be compared against timestamps and strings in the format of 'HH:mm:ss'. If we fail to compare do to type mismatch, a warning will be given and the condition will evaluate to false.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. Field within the record this condition is evaluated against.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "operator": {
          "description": "Required. Operator used to compare the field or infoType to the value.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ]
        },
        "value": {
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "description": "Configuration to suppress records whose suppression conditions evaluate to true.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationErrorHandling": {
      "id": "GooglePrivacyDlpV2TransformationErrorHandling",
      "description": "How to handle transformation errors during de-identification. A transformation error occurs when the requested transformation is incompatible with the data. For example, trying to de-identify an IP address using a `DateShift` transformation would result in a transformation error, since date info cannot be extracted from an IP address. Information about any incompatible transformations, and how they were handled, is returned in the response as part of the `TransformationOverviews`.",
      "type": "object",
      "properties": {
        "throwError": {
          "description": "Throw an error",
          "$ref": "GooglePrivacyDlpV2ThrowError"
        },
        "leaveUntransformed": {
          "description": "Ignore errors",
          "$ref": "GooglePrivacyDlpV2LeaveUntransformed"
        }
      }
    },
    "GooglePrivacyDlpV2ThrowError": {
      "id": "GooglePrivacyDlpV2ThrowError",
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "id": "GooglePrivacyDlpV2LeaveUntransformed",
      "description": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response.",
      "type": "object",
      "properties": {
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "properties": {
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "id": "GooglePrivacyDlpV2TransformationOverview",
      "description": "Overview of the modifications that occurred.",
      "type": "object",
      "properties": {
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string",
          "format": "int64"
        },
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          }
        }
      }
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "description": "Summary of a single transformation. Only one of 'transformation', 'field_transformation', or 'record_suppress' will be set.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Set if the transformation was limited to a specific InfoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "transformation": {
          "description": "The specific transformation these stats apply to.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "fieldTransformations": {
          "description": "The field transformation that was applied. If multiple field transformations are requested for a single field, this list will contain all of them; otherwise, only one is supplied.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppress": {
          "description": "The specific suppression option these stats apply to.",
          "$ref": "GooglePrivacyDlpV2RecordSuppression"
        },
        "results": {
          "description": "Collection of all transformations that took place or had an error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2SummaryResult": {
      "id": "GooglePrivacyDlpV2SummaryResult",
[...]
