{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iamassist:v1alpha3",
  "name": "iamassist",
  "canonicalName": "Iamassist",
  "version": "v1alpha3",
  "revision": "0",
  "title": "IAM Assist API",
  "description": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iamassist.googleapis.com/",
  "mtlsRootUrl": "https://iamassist.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iamassist.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleIamAssistV1alpha3Replay": {
      "id": "GoogleIamAssistV1alpha3Replay",
      "description": "A Replay of Accesses against a simulated state.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the replay. The replay id is randomly generated on creation. Format: replays\/{replay}.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the replay. https:\/\/aip.dev\/216",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Reserved.",
            "Replay has not started yet.",
            "Replay is currently running.",
            "Replay has successfully completed.",
            "Replay has finished with an error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "config": {
          "description": "Required. The configuration used for the replay.",
          "$ref": "GoogleIamAssistV1alpha3ReplayConfig"
        },
        "logsMetadata": {
          "description": "Output only. Metadata about the replayed log entries.",
          "readOnly": true,
          "$ref": "GoogleIamAssistV1alpha3ReplayLogsMetadata"
        },
        "diffs": {
          "description": "Output only. The ReplayResults that resulted in diffs being found.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3ReplayResult"
          }
        },
        "errors": {
          "description": "Output only. The ReplayResults that resulted in an error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3ReplayResult"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayConfig": {
      "id": "GoogleIamAssistV1alpha3ReplayConfig",
      "description": "The configuration used for the replay.",
      "type": "object",
      "properties": {
        "policyOverlay": {
          "description": "The policy overlay used during the replay. Keys are full resource names and the values are the policies to apply on these resources in the simulated state.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamV1Policy"
          }
        },
        "logSource": {
          "description": "The logs to use as input for the replay.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified log source. Replay will default to using RECENT_ACCESSES.",
            "Retrieves the 5000 most recent accesses from the last 90 days from an internal log source. Note that the log freshness (i.e. the date of the newest log entry) may be up to 7 days stale. In other words, an access attempt that only occurred within the past 7 days may not be captured by the replay."
          ],
          "enum": [
            "LOG_SOURCE_UNSPECIFIED",
            "RECENT_ACCESSES"
          ]
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayLogsMetadata": {
      "id": "GoogleIamAssistV1alpha3ReplayLogsMetadata",
      "description": "Metadata about the replayed log entries.",
      "type": "object",
      "properties": {
        "logCount": {
          "description": "Number of log entries replayed. log_count == unchanged_count + difference_count + error_count",
          "type": "integer",
          "format": "int32"
        },
        "unchangedCount": {
          "description": "Number of replayed log entries with no difference between baseline and simulated",
          "type": "integer",
          "format": "int32"
        },
        "differenceCount": {
          "description": "Number of replayed log entries with a difference between baseline and simulated policies.",
          "type": "integer",
          "format": "int32"
        },
        "errorCount": {
          "description": "Number of log entries with an error during replay.",
          "type": "integer",
          "format": "int32"
        },
        "oldestDate": {
          "description": "Date of oldest log entry replayed.",
          "$ref": "GoogleTypeDate"
        },
        "newestDate": {
          "description": "Date of newest log entry replayed.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayResult": {
      "id": "GoogleIamAssistV1alpha3ReplayResult",
      "description": "The result of replaying a single access tuple against a simulated state.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the replay result. Format: replays\/{replay}\/results\/{replay_result}",
          "type": "string"
        },
        "parent": {
          "description": "The replay the access tuple was included in.",
          "type": "string"
        },
        "accessTuple": {
          "description": "The access replayed.",
          "$ref": "GoogleIamAssistV1alpha3AccessTuple"
        },
        "lastSeenDate": {
          "description": "The late date this access was seen in the logs.",
          "$ref": "GoogleTypeDate"
        },
        "diff": {
          "description": "The tuple was successfully replayed and had a difference.",
          "$ref": "GoogleIamAssistV1alpha3ReplayDiff"
        },
        "error": {
          "description": "The tuple was not successfully replayed.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleIamAssistV1alpha3AccessTuple": {
      "id": "GoogleIamAssistV1alpha3AccessTuple",
      "description": "Information about the member, resource, and permission to check.",
      "type": "object",
      "properties": {
        "principal": {
          "description": "Required. The member, or principal, whose access you want to check, in the form of the email address that represents that member. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The member must be a Google Account or a service account. Other types of members are not supported.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "Required. The full resource name that identifies the resource. For example, `\/\/compute.googleapis.com\/projects\/my-project\/zones\/us-central1-a\/instances\/my-instance`. For examples of full resource names for Google Cloud services, see https:\/\/cloud.google.com\/iam\/help\/troubleshooter\/full-resource-names.",
          "type": "string"
        },
        "permission": {
          "description": "Required. The IAM permission to check for the specified member and resource. For a complete list of IAM permissions, see https:\/\/cloud.google.com\/iam\/help\/permissions\/reference. For a complete list of predefined IAM roles and the permissions in each role, see https:\/\/cloud.google.com\/iam\/help\/roles\/reference.",
          "type": "string"
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayDiff": {
      "id": "GoogleIamAssistV1alpha3ReplayDiff",
      "description": "A successful replay of an AccessTuple that resulted in a difference between baseline and simulated.",
      "type": "object",
      "properties": {
        "accessDiff": {
          "description": "The difference in AccessState between replays.",
          "$ref": "GoogleIamAssistV1alpha3AccessStateDiff"
        }
      }
    },
    "GoogleIamAssistV1alpha3AccessStateDiff": {
      "id": "GoogleIamAssistV1alpha3AccessStateDiff",
      "description": "Container for ExplainedAccess of baseline and simulated policies. For both baseline and simulated, the ExplainedAccess.policies are filtered to only include the UNKNOWN infromation. If the AccessState is known, e.g. GRANTED or NOT_GRANTED, the policy list will be empty. Only policies with an AccessState of UNKNOWN are included.",
      "type": "object",
      "properties": {
        "baseline": {
          "description": "The explained access when replayed against the baseline policies.",
          "$ref": "GoogleIamAssistV1alpha3ExplainedAccess"
        },
        "simulated": {
          "description": "The explained access when replayed against the simulated policies.",
          "$ref": "GoogleIamAssistV1alpha3ExplainedAccess"
        },
        "accessChange": {
          "description": "A single value interpretation of the difference between baseline and simulated.",
          "type": "string",
          "enumDescriptions": [
            "Reserved",
            "The two ExplainedAccesses are equal. This includes the case where both baseline and simulated are UNKNOWN, but the unknown information is equivalent.",
            "The baseline and simulated accesses are both UNKNOWN, but the unknown information differs between them.",
            "The baseline access state is GRANTED and the simulated access state is NOT_GRANTED",
            "The baseline access state is NOT_GRANTED and the simulated access state is GRANTED.",
            "The baseline access state is GRANTED and the simulated access state is UNKNOWN.",
            "The baseline state is NOT_GRANTED and the simulated state is UNKNOWN."
          ],
          "enum": [
            "ACCESS_CHANGE_TYPE_UNSPECIFIED",
            "NO_CHANGE",
            "UNKNOWN_CHANGE",
            "ACCESS_REVOKED",
            "ACCESS_GAINED",
            "ACCESS_MAYBE_REVOKED",
            "ACCESS_MAYBE_GAINED"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3ExplainedAccess": {
      "id": "GoogleIamAssistV1alpha3ExplainedAccess",
      "description": "Details about how the set of Explained Policies resulted in the Access State.",
      "type": "object",
      "properties": {
        "accessState": {
          "description": "The overall access state for the included set of policies.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The member has the permission.",
            "The member does not have the permission.",
            "The member has the permission only if a condition expression evaluates to `true`.",
            "The sender of the request does not have access to all of the policies that Policy Troubleshooter needs to evaluate."
          ],
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "policies": {
          "description": "The set of policies contributing to the listed AccessState. An ExplainedPolicy with UNKNOWN_INFO_DENIED and nothing else means the user did not have permission to get one or more policies.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3ExplainedPolicy"
          }
        },
        "errors": {
          "description": "The list of problems encountered when explaining this access. This list provides the reason why UNKNOWN information in `policies` was unknown.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleIamAssistV1alpha3ExplainedPolicy": {
      "id": "GoogleIamAssistV1alpha3ExplainedPolicy",
      "description": "Details about how a specific IAM Policy contributed to the access check.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Indicates whether _this policy_ provides the specified permission to the specified member for the specified resource. This field does _not_ indicate whether the member actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the member actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The member has the permission.",
            "The member does not have the permission.",
            "The member has the permission only if a condition expression evaluates to `true`.",
            "The sender of the request does not have access to all of the policies that Policy Troubleshooter needs to evaluate."
          ],
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "fullResourceName": {
          "description": "The full resource name that identifies the resource. For example, `\/\/compute.googleapis.com\/projects\/my-project\/zones\/us-central1-a\/instances\/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https:\/\/cloud.google.com\/iam\/help\/troubleshooter\/full-resource-names.",
          "type": "string"
        },
        "policy": {
          "description": "The IAM policy attached to the resource. If the sender of the request does not have access to the policy, this field is empty.",
          "$ref": "GoogleIamV1Policy"
        },
        "bindingExplanations": {
          "description": "Details about how each binding in the policy affects the member's ability, or inability, to use the permission for the resource. If the sender of the request does not have access to the policy, this field is omitted.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3BindingExplanation"
          }
        },
        "relevance": {
          "description": "The relevance of this policy to the overall determination in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3BindingExplanation": {
      "id": "GoogleIamAssistV1alpha3BindingExplanation",
      "description": "Details about how a binding in a policy affects a member's ability to use a permission.",
      "type": "object",
      "properties": {
        "access": {
          "description": "Required. Indicates whether _this binding_ provides the specified permission to the specified member for the specified resource. This field does _not_ indicate whether the member actually has the permission for the resource. There might be another binding that overrides this binding. To determine whether the member actually has the permission, use the `access` field in the TroubleshootIamPolicyResponse.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The member has the permission.",
            "The member does not have the permission.",
            "The member has the permission only if a condition expression evaluates to `true`.",
            "The sender of the request does not have access to all of the policies that Policy Troubleshooter needs to evaluate."
          ],
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "GRANTED",
            "NOT_GRANTED",
            "UNKNOWN_CONDITIONAL",
            "UNKNOWN_INFO_DENIED"
          ]
        },
        "role": {
          "description": "The role that this binding grants. For example, `roles\/compute.serviceAgent`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https:\/\/cloud.google.com\/iam\/help\/roles\/reference.",
          "type": "string"
        },
        "rolePermission": {
          "description": "Indicates whether the role granted by this binding contains the specified permission.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The permission is included in the role.",
            "The permission is not included in the role.",
            "The sender of the request is not allowed to access the binding."
          ],
          "enum": [
            "ROLE_PERMISSION_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO_DENIED"
          ]
        },
        "rolePermissionRelevance": {
          "description": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        },
        "memberships": {
          "description": "Indicates whether each member in the binding includes the member specified in the request, either directly or indirectly. Each key identifies a member in the binding, and each value indicates whether the member in the binding includes the member in the request. For example, suppose that a binding includes the following members: * `user:alice@example.com` * `group:product-eng@example.com` You want to troubleshoot access for `user:bob@example.com`. This user is a member of the group `group:product-eng@example.com`. For the first member in the binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_NOT_INCLUDED`. For the second member in the binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `MEMBERSHIP_INCLUDED`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleIamAssistV1alpha3BindingExplanationAnnotatedMembership"
          }
        },
        "relevance": {
          "description": "The relevance of this binding to the overall determination for the entire policy.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        },
        "condition": {
          "description": "A condition expression that prevents access unless the expression evaluates to `true`. To learn about IAM Conditions, see http:\/\/cloud.google.com\/iam\/help\/conditions\/overview.",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleIamAssistV1alpha3BindingExplanationAnnotatedMembership": {
      "id": "GoogleIamAssistV1alpha3BindingExplanationAnnotatedMembership",
      "description": "Details about whether the binding includes the member.",
      "type": "object",
      "properties": {
        "membership": {
          "description": "Indicates whether the binding includes the member.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The binding includes the member. The member can be included directly or indirectly. For example: * A member is included directly if that member is listed in the binding. * A member is included indirectly if that member is in a Google group or G Suite domain that is listed in the binding.",
            "The binding does not include the member.",
            "The sender of the request is not allowed to access the binding.",
            "The member is an unsupported type. Only Google Accounts and service accounts are supported."
          ],
          "enum": [
            "MEMBERSHIP_UNSPECIFIED",
            "MEMBERSHIP_INCLUDED",
            "MEMBERSHIP_NOT_INCLUDED",
            "MEMBERSHIP_UNKNOWN_INFO_DENIED",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ]
        },
        "relevance": {
          "description": "The relevance of the member's status to the overall determination for the binding.",
          "type": "string",
          "enumDescriptions": [
            "Reserved for future use.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "NORMAL",
            "HIGH"
          ]
        }
      }
    },
    "GoogleIamAssistV1alpha3ListReplaysResponse": {
      "id": "GoogleIamAssistV1alpha3ListReplaysResponse",
      "description": "Response containing list of `Replays`.",
      "type": "object",
      "properties": {
        "replays": {
          "description": "The list of `Replays`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamAssistV1alpha3Replay"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleIamAssistV1alpha3ExportReplayResultsRequest": {
      "id": "GoogleIamAssistV1alpha3ExportReplayResultsRequest",
      "description": "Request for exporting the results of a replay.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Destination to write the results to. Supported formats: - `\/\/storage.googleapis.com\/buckets\/{bucket-id}\/{directory}` - `\/\/bigquery.googleapis.com\/projects\/{project-id}\/datasets\/{dataSet}` The supported destinations are a GCS bucket or a BigQuery dataset. For *GCS Bucket*, this field provides the bucket and directory to write the file into. *Accepted format*: `\/\/storage.googleapis.com\/buckets\/{bucket-id}\/{directory}` *Example*: `\/\/storage.googleapis.com\/buckets\/simulator-export` Two JSON formatted files will be created in the specified bucket and directory. One file will contain the `LogsMetadata` information while the other will contain the list of `ReplayResults` associated with this `Replay`. The files will be named: - ${TIMESTAMP}_metadata.json - ${TIMESTAMP}_results.json The bucket must already exist. The requesting user must have write permission to the bucket. The directory is created if it doesn't exist. For *BigQuery Dataset*, this field provides the dataset to write the results into. *Accepted Format*: `\/\/bigquery.googleapis.com\/projects\/{project-id}\/datasets\/{dataSet}` *Example*: \"\/\/bigquery.googleapis.com\/projects\/my-example-project\/datasets\/simulator_export` Two tables will be created in this dataset: - ${TIMESTAMP}_metadata - ${TIMESTAMP}_results The dataset must exist. The requesting user must have write permissions to this dataset.",
          "type": "string"
        }
      }
    },
    "GoogleIamAssistV1alpha3ReplayOperationMetadata": {
      "id": "GoogleIamAssistV1alpha3ReplayOperationMetadata",
      "description": "Metadata about a ReplayAccessLogs operation.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "id": "iamassist.operations.list",
          "path": "v1alpha3/operations",
          "flatPath": "v1alpha3/operations",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
        },
        "get": {
          "id": "iamassist.operations.get",
          "path": "v1alpha3/{+name}",
          "flatPath": "v1alpha3/operations/{operationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^operations\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "replays": {
      "methods": {
        "create": {
          "id": "iamassist.replays.create",
          "path": "v1alpha3/replays",
          "flatPath": "v1alpha3/replays",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "GoogleIamAssistV1alpha3Replay"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create a replay using the given ReplayConfig."
        },
        "get": {
          "id": "iamassist.replays.get",
          "path": "v1alpha3/{+name}",
          "flatPath": "v1alpha3/replays/{replaysId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the replay to retrieve. Format: replays\/{replay}",
              "location": "path",
              "required": true,
              "pattern": "^replays\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleIamAssistV1alpha3Replay"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the specified Replay."
        },
        "list": {
          "id": "iamassist.replays.list",
          "path": "v1alpha3/replays",
          "flatPath": "v1alpha3/replays",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of `Replays` to return. The default value and maximum value are undetermined during alpha.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListReplays` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReplays` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "GoogleIamAssistV1alpha3ListReplaysResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "List all Replays."
        }
      }
      ,
      "resources": {
        "results": {
          "methods": {
            "export": {
              "id": "iamassist.replays.results.export",
              "path": "v1alpha3/{+parent}/results:export",
              "flatPath": "v1alpha3/replays/{replaysId}/results:export",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The replay to export results for. Format: replays\/{replay}",
                  "location": "path",
                  "required": true,
                  "pattern": "^replays\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleIamAssistV1alpha3ExportReplayResultsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Export the results of the replay to the specified destination"
            }
          }
        }
      }
    }
  },
  "basePath": ""
}