{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "ml:v1",
  "name": "ml",
  "canonicalName": "Cloud Machine Learning Engine",
  "version": "v1",
  "revision": "0",
  "title": "AI Platform Training & Prediction API",
  "description": "An API to enable creating and using machine learning models.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/ml/",
  "protocol": "rest",
  "rootUrl": "https://ml.googleapis.com/",
  "mtlsRootUrl": "https://ml.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://ml.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudMlV1__Job": {
      "id": "GoogleCloudMlV1__Job",
      "description": "Represents a training or prediction job.",
      "type": "object",
      "properties": {
        "jobId": {
          "description": "Required. The user-specified id of the job.",
          "type": "string"
        },
        "trainingInput": {
          "description": "Input parameters to create a training job.",
          "$ref": "GoogleCloudMlV1__TrainingInput"
        },
        "predictionInput": {
          "description": "Input parameters to create a prediction job.",
          "$ref": "GoogleCloudMlV1__PredictionInput"
        },
        "explanationInput": {
          "description": "Input parameters to create an explanation job.",
          "$ref": "GoogleCloudMlV1__ExplanationInput"
        },
        "createTime": {
          "description": "Output only. When the job was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. When the job processing was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. When the job processing was completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The detailed state of a job.",
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "errorMessage": {
          "description": "Output only. The details of a failure or a cancellation.",
          "type": "string"
        },
        "trainingOutput": {
          "description": "The current training job result.",
          "$ref": "GoogleCloudMlV1__TrainingOutput"
        },
        "predictionOutput": {
          "description": "The current prediction job result.",
          "$ref": "GoogleCloudMlV1__PredictionOutput"
        },
        "explanationOutput": {
          "description": "The current explanation job result.",
          "$ref": "GoogleCloudMlV1__ExplanationOutput"
        },
        "labels": {
          "description": "Optional. One or more labels that you can add, to organize your jobs. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a job from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform job updates in order to avoid race conditions: An `etag` is returned in the response to `GetJob`, and systems are expected to put that etag in the request to `UpdateJob` to ensure that their change will be applied to the same version of the job.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudMlV1__TrainingInput": {
      "id": "GoogleCloudMlV1__TrainingInput",
      "description": "Represents input parameters for a training job. When using the gcloud command to submit your training job, you can specify the input parameters as command-line arguments and\/or in a YAML configuration file referenced from the --config command-line argument. For details, see the guide to [submitting a training job](\/ai-platform\/training\/docs\/training-jobs).",
      "type": "object",
      "properties": {
        "scaleTier": {
          "description": "Required. Specifies the machine types, the number of replicas for workers and parameter servers.",
          "type": "string",
          "enumDescriptions": [
            "A single worker instance. This tier is suitable for learning how to use Cloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance [with a GPU](\/ai-platform\/training\/docs\/using-gpus).",
            "A single worker instance with a [Cloud TPU](\/ml-engine\/docs\/tensorflow\/using-tpus).",
            "The CUSTOM tier is not a set tier, but rather enables you to use your own cluster specification. When you use this tier, set values to configure your processing cluster according to these guidelines: * You _must_ set `TrainingInput.masterType` to specify the type of machine to use for your master node. This is the only required setting. * You _may_ set `TrainingInput.workerCount` to specify the number of workers to use. If you specify one or more workers, you _must_ also set `TrainingInput.workerType` to specify the type of machine to use for your worker nodes. * You _may_ set `TrainingInput.parameterServerCount` to specify the number of parameter servers to use. If you specify one or more parameter servers, you _must_ also set `TrainingInput.parameterServerType` to specify the type of machine to use for your parameter servers. Note that all of your workers must use the same machine type, which can be different from your parameter server type and master type. Your parameter servers must likewise use the same machine type, which can be different from your worker type and master type."
          ],
          "enum": [
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ]
        },
        "masterType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. The following types are supported: - `n1-standard-4` - `n1-standard-8` - `n1-standard-16` - `n1-standard-32` - `n1-standard-64` - `n1-standard-96` - `n1-highmem-2` - `n1-highmem-4` - `n1-highmem-8` - `n1-highmem-16` - `n1-highmem-32` - `n1-highmem-64` - `n1-highmem-96` - `n1-highcpu-16` - `n1-highcpu-32` - `n1-highcpu-64` - `n1-highcpu-96` Learn more about [using Compute Engine machine types](\/ml-engine\/docs\/machine-types#compute-engine-machine-types). Alternatively, you can use the following legacy machine types: - `standard` - `large_model` - `complex_model_s` - `complex_model_m` - `complex_model_l` - `standard_gpu` - `complex_model_m_gpu` - `complex_model_l_gpu` - `standard_p100` - `complex_model_m_p100` - `standard_v100` - `large_model_v100` - `complex_model_m_v100` - `complex_model_l_v100` Learn more about [using legacy machine types](\/ml-engine\/docs\/machine-types#legacy-machine-types). Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPUs](\/ml-engine\/docs\/tensorflow\/using-tpus#configuring_a_custom_tpu_machine).",
          "type": "string"
        },
        "masterConfig": {
          "description": "Optional. The configuration for your master worker. You should only set `masterConfig.acceleratorConfig` if `masterType` is set to a Compute Engine machine type. Learn about [restrictions on accelerator configurations for training.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu) Set `masterConfig.imageUri` only if you build a custom image. Only one of `masterConfig.imageUri` and `runtimeVersion` should be set. Learn more about [configuring custom containers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "workerType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training job's worker nodes. The supported values are the same as those described in the entry for `masterType`. This value must be consistent with the category of machine type that `masterType` uses. In other words, both must be Compute Engine machine types or both must be legacy machine types. If you use `cloud_tpu` for this value, see special instructions for [configuring a custom TPU machine](\/ml-engine\/docs\/tensorflow\/using-tpus#configuring_a_custom_tpu_machine). This value must be present when `scaleTier` is set to `CUSTOM` and `workerCount` is greater than zero.",
          "type": "string"
        },
        "workerConfig": {
          "description": "Optional. The configuration for workers. You should only set `workerConfig.acceleratorConfig` if `workerType` is set to a Compute Engine machine type. [Learn about restrictions on accelerator configurations for training.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu) Set `workerConfig.imageUri` only if you build a custom image for your worker. If `workerConfig.imageUri` has not been set, AI Platform uses the value of `masterConfig.imageUri`. Learn more about [configuring custom containers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "parameterServerType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training job's parameter server. The supported values are the same as those described in the entry for `master_type`. This value must be consistent with the category of machine type that `masterType` uses. In other words, both must be Compute Engine machine types or both must be legacy machine types. This value must be present when `scaleTier` is set to `CUSTOM` and `parameter_server_count` is greater than zero.",
          "type": "string"
        },
        "parameterServerConfig": {
          "description": "Optional. The configuration for parameter servers. You should only set `parameterServerConfig.acceleratorConfig` if `parameterServerType` is set to a Compute Engine machine type. [Learn about restrictions on accelerator configurations for training.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu) Set `parameterServerConfig.imageUri` only if you build a custom image for your parameter server. If `parameterServerConfig.imageUri` has not been set, AI Platform uses the value of `masterConfig.imageUri`. Learn more about [configuring custom containers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "evaluatorType": {
          "description": "Optional. Specifies the type of virtual machine to use for your training job's evaluator nodes. The supported values are the same as those described in the entry for `masterType`. This value must be consistent with the category of machine type that `masterType` uses. In other words, both must be Compute Engine machine types or both must be legacy machine types. This value must be present when `scaleTier` is set to `CUSTOM` and `evaluatorCount` is greater than zero.",
          "type": "string"
        },
        "evaluatorConfig": {
          "description": "Optional. The configuration for evaluators. You should only set `evaluatorConfig.acceleratorConfig` if `evaluatorType` is set to a Compute Engine machine type. [Learn about restrictions on accelerator configurations for training.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu) Set `evaluatorConfig.imageUri` only if you build a custom image for your evaluator. If `evaluatorConfig.imageUri` has not been set, AI Platform uses the value of `masterConfig.imageUri`. Learn more about [configuring custom containers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "$ref": "GoogleCloudMlV1__ReplicaConfig"
        },
        "workerCount": {
          "description": "Optional. The number of worker replicas to use for the training job. Each replica in the cluster will be of the type specified in `worker_type`. This value can only be used when `scale_tier` is set to `CUSTOM`. If you set this value, you must also set `worker_type`. The default value is zero.",
          "type": "string",
          "format": "int64"
        },
        "parameterServerCount": {
          "description": "Optional. The number of parameter server replicas to use for the training job. Each replica in the cluster will be of the type specified in `parameter_server_type`. This value can only be used when `scale_tier` is set to `CUSTOM`. If you set this value, you must also set `parameter_server_type`. The default value is zero.",
          "type": "string",
          "format": "int64"
        },
        "evaluatorCount": {
          "description": "Optional. The number of evaluator replicas to use for the training job. Each replica in the cluster will be of the type specified in `evaluator_type`. This value can only be used when `scale_tier` is set to `CUSTOM`. If you set this value, you must also set `evaluator_type`. The default value is zero.",
          "type": "string",
          "format": "int64"
        },
        "packageUris": {
          "description": "Required. The Google Cloud Storage location of the packages with the training program and any additional dependencies. The maximum number of package URIs is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonModule": {
          "description": "Required. The Python module name to run after installing the packages.",
          "type": "string"
        },
        "args": {
          "description": "Optional. Command-line arguments passed to the training application when it starts. If your job uses a custom container, then the arguments are passed to the container's `ENTRYPOINT` command.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hyperparameters": {
          "description": "Optional. The set of Hyperparameters to tune.",
          "$ref": "GoogleCloudMlV1__HyperparameterSpec"
        },
        "nasJobSpec": {
          "description": "Optional. The spec of a Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1__NasSpec"
        },
        "region": {
          "description": "Required. The region to run the training job in. See the [available regions](\/ai-platform\/training\/docs\/regions) for AI Platform Training.",
          "type": "string"
        },
        "jobDir": {
          "description": "Optional. A Google Cloud Storage path in which to store training outputs and other data needed for training. This path is passed to your TensorFlow program as the '--job-dir' command-line argument. The benefit of specifying this field is that Cloud ML validates the path for use in training.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Optional. The AI Platform runtime version to use for training. You must either specify this field or specify `masterConfig.imageUri`. For more information, see the [runtime version list](\/ai-platform\/training\/docs\/runtime-version-list) and learn [how to manage runtime versions](\/ai-platform\/training\/docs\/versioning).",
          "type": "string"
        },
        "pythonVersion": {
          "description": "Optional. The version of Python used in training. You must either specify this field or specify `masterConfig.imageUri`. The following Python versions are available: * Python '3.7' is available when `runtime_version` is set to '1.15' or later. * Python '3.5' is available when `runtime_version` is set to a version from '1.4' to '1.14'. * Python '2.7' is available when `runtime_version` is set to '1.15' or earlier. Read more about the Python versions available for [each runtime version](\/ml-engine\/docs\/runtime-version-list).",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Options for using customer-managed encryption keys (CMEK) to protect resources created by a training job, instead of using Google's default encryption. If this is set, then all resources created by the training job will be encrypted with the customer-managed encryption key that you specify. [Learn how and when to use CMEK with AI Platform Training](\/ai-platform\/training\/docs\/cmek).",
          "$ref": "GoogleCloudMlV1__EncryptionConfig"
        },
        "scheduling": {
          "description": "Optional. Scheduling options for a training job.",
          "$ref": "GoogleCloudMlV1__Scheduling"
        },
        "network": {
          "description": "Optional. The full name of the [Compute Engine network](\/vpc\/docs\/vpc) to which the Job is peered. For example, `projects\/12345\/global\/networks\/myVPC`. The format of this field is `projects\/{project}\/global\/networks\/{network}`, where {project} is a project number (like `12345`) and {network} is network name. Private services access must already be configured for the network. If left unspecified, the Job is not peered with any network. [Learn about using VPC Network Peering.](\/ai-platform\/training\/docs\/vpc-peering).",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The email address of a service account to use when running the training appplication. You must have the `iam.serviceAccounts.actAs` permission for the specified service account. In addition, the AI Platform Training Google-managed service account must have the `roles\/iam.serviceAccountAdmin` role for the specified service account. [Learn more about configuring a service account.](\/ai-platform\/training\/docs\/custom-service-account) If not specified, the AI Platform Training Google-managed service account is used by default.",
          "type": "string"
        },
        "useChiefInTfConfig": {
          "description": "Optional. Use `chief` instead of `master` in the `TF_CONFIG` environment variable when training with a custom container. Defaults to `false`. [Learn more about this field.](\/ai-platform\/training\/docs\/distributed-training-details#chief-versus-master) This field has no effect for training jobs that don't use a custom container.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudMlV1__ReplicaConfig": {
      "id": "GoogleCloudMlV1__ReplicaConfig",
      "description": "Represents the configuration for a replica in a cluster.",
      "type": "object",
      "properties": {
        "acceleratorConfig": {
          "description": "Represents the type and number of accelerators used by the replica. [Learn about restrictions on accelerator configurations for training.](\/ai-platform\/training\/docs\/using-gpus#compute-engine-machine-types-with-gpu)",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "imageUri": {
          "description": "The Docker image to run on the replica. This image must be in Container Registry. Learn more about [configuring custom containers](\/ai-platform\/training\/docs\/distributed-training-containers).",
          "type": "string"
        },
        "tpuTfVersion": {
          "description": "The AI Platform runtime version that includes a TensorFlow version matching the one used in the custom container. This field is required if the replica is a TPU worker that uses a custom container. Otherwise, do not specify this field. This must be a [runtime version that currently supports training with TPUs](\/ml-engine\/docs\/tensorflow\/runtime-version-list#tpu-support). Note that the version of TensorFlow included in a runtime version may differ from the numbering of the runtime version itself, because it may have a different [patch version](https:\/\/www.tensorflow.org\/guide\/version_compat#semantic_versioning_20). In this field, you must specify the runtime version (TensorFlow minor version). For example, if your custom container runs TensorFlow `1.x.y`, specify `1.x`.",
          "type": "string"
        },
        "containerCommand": {
          "description": "The command with which the replica's custom container is run. If provided, it will override default ENTRYPOINT of the docker image. If not provided, the docker image's ENTRYPOINT is used. It cannot be set if custom container image is not provided. Note that this field and [TrainingInput.args] are mutually exclusive, i.e., both cannot be set at the same time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "containerArgs": {
          "description": "Arguments to the entrypoint command. The following rules apply for container_command and container_args: - If you do not supply command or args: The defaults defined in the Docker image are used. - If you supply a command but no args: The default EntryPoint and the default Cmd defined in the Docker image are ignored. Your command is run without any arguments. - If you supply only args: The default Entrypoint defined in the Docker image is run with the args that you supplied. - If you supply a command and args: The default Entrypoint and the default Cmd defined in the Docker image are ignored. Your command is run with your args. It cannot be set if custom container image is not provided. Note that this field and [TrainingInput.args] are mutually exclusive, i.e., both cannot be set at the same time.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudMlV1__AcceleratorConfig": {
      "id": "GoogleCloudMlV1__AcceleratorConfig",
      "description": "Represents a hardware accelerator request config. Note that the AcceleratorConfig can be used in both Jobs and Versions. Learn more about [accelerators for training](\/ml-engine\/docs\/using-gpus) and [accelerators for online prediction](\/ml-engine\/docs\/machine-types-online-prediction#gpus).",
      "type": "object",
      "properties": {
        "count": {
          "description": "The number of accelerators to attach to each machine running the job.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of accelerator to use.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3.",
            "TPU v2 POD.",
            "TPU v3 POD."
          ],
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3",
            "TPU_V2_POD",
            "TPU_V3_POD"
          ]
        }
      }
    },
    "GoogleCloudMlV1__HyperparameterSpec": {
      "id": "GoogleCloudMlV1__HyperparameterSpec",
      "description": "Represents a set of hyperparameters to optimize.",
      "type": "object",
      "properties": {
        "goal": {
          "description": "Required. The type of goal to use for tuning. Available types are `MAXIMIZE` and `MINIMIZE`. Defaults to `MAXIMIZE`.",
          "type": "string",
          "enumDescriptions": [
            "Goal Type will default to maximize.",
            "Maximize the goal metric.",
            "Minimize the goal metric."
          ],
          "enum": [
            "GOAL_TYPE_UNSPECIFIED",
            "MAXIMIZE",
            "MINIMIZE"
          ]
        },
        "params": {
          "description": "Required. The set of parameters to tune.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__ParameterSpec"
          }
        },
        "maxTrials": {
          "description": "Optional. How many training trials should be attempted to optimize the specified hyperparameters. Defaults to one.",
          "type": "integer",
          "format": "int32"
        },
        "maxParallelTrials": {
          "description": "Optional. The number of training trials to run concurrently. You can reduce the time it takes to perform hyperparameter tuning by adding trials in parallel. However, each trail only benefits from the information gained in completed trials. That means that a trial does not get access to the results of trials running at the same time, which could reduce the quality of the overall optimization. Each trial will use the same scale tier and machine types. Defaults to one.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedTrials": {
          "description": "Optional. The number of failed trials that need to be seen before failing the hyperparameter tuning job. You can specify this field to override the default failing criteria for AI Platform hyperparameter tuning jobs. Defaults to zero, which means the service decides when a hyperparameter job should fail.",
          "type": "integer",
          "format": "int32"
        },
        "hyperparameterMetricTag": {
          "description": "Optional. The TensorFlow summary tag name to use for optimizing trials. For current versions of TensorFlow, this tag name should exactly match what is shown in TensorBoard, including all scopes. For versions of TensorFlow prior to 0.12, this should be only the tag passed to tf.Summary. By default, \"training\/hptuning\/metric\" will be used.",
          "type": "string"
        },
        "resumePreviousJobId": {
          "description": "Optional. The prior hyperparameter tuning job id that users hope to continue with. The job id will be used to find the corresponding vizier study guid and resume the study.",
          "type": "string"
        },
        "enableTrialEarlyStopping": {
          "description": "Optional. Indicates if the hyperparameter tuning job enables auto trial early stopping.",
          "type": "boolean"
        },
        "algorithm": {
          "description": "Optional. The search algorithm specified for the hyperparameter tuning job. Uses the default AI Platform hyperparameter tuning algorithm if unspecified.",
          "type": "string",
          "enumDescriptions": [
            "The default algorithm used by the hyperparameter tuning service. This is a Bayesian optimization algorithm.",
            "Simple grid search within the feasible space. To use grid search, all parameters must be `INTEGER`, `CATEGORICAL`, or `DISCRETE`.",
            "Simple random search within the feasible space.",
            "Population Based Training Algorithm."
          ],
          "enum": [
            "ALGORITHM_UNSPECIFIED",
            "GRID_SEARCH",
            "RANDOM_SEARCH",
            "POPULATION_BASED_TRAINING"
          ]
        }
      }
    },
    "GoogleCloudMlV1__ParameterSpec": {
      "id": "GoogleCloudMlV1__ParameterSpec",
      "description": "Represents a single hyperparameter to optimize.",
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. The parameter name must be unique amongst all ParameterConfigs in a HyperparameterSpec message. E.g., \"learning_rate\".",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "You must specify a valid type. Using this unspecified type will result in an error.",
            "Type for real-valued parameters.",
            "Type for integral parameters.",
            "The parameter is categorical, with a value chosen from the categories field.",
            "The parameter is real valued, with a fixed set of feasible points. If `type==DISCRETE`, feasible_points must be provided, and {`min_value`, `max_value`} will be ignored."
          ],
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "DOUBLE",
            "INTEGER",
            "CATEGORICAL",
            "DISCRETE"
          ]
        },
        "minValue": {
          "description": "Required if type is `DOUBLE` or `INTEGER`. This field should be unset if type is `CATEGORICAL`. This value should be integers if type is INTEGER.",
          "type": "number",
          "format": "double"
        },
        "maxValue": {
          "description": "Required if type is `DOUBLE` or `INTEGER`. This field should be unset if type is `CATEGORICAL`. This value should be integers if type is `INTEGER`.",
          "type": "number",
          "format": "double"
        },
        "categoricalValues": {
          "description": "Required if type is `CATEGORICAL`. The list of possible categories.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "discreteValues": {
          "description": "Required if type is `DISCRETE`. A list of feasible points. The list should be in strictly increasing order. For instance, this parameter might have possible settings of 1.5, 2.5, and 4.0. This list should not contain more than 1,000 values.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "scaleType": {
          "description": "Optional. How the parameter should be scaled to the hypercube. Leave unset for categorical parameters. Some kind of scaling is strongly recommended for real or integral parameters (e.g., `UNIT_LINEAR_SCALE`).",
          "type": "string",
          "enumDescriptions": [
            "By default, no scaling is applied.",
            "Scales the feasible space to (0, 1) linearly.",
            "Scales the feasible space logarithmically to (0, 1). The entire feasible space must be strictly positive.",
            "Scales the feasible space \"reverse\" logarithmically to (0, 1). The result is that values close to the top of the feasible space are spread out more than points near the bottom. The entire feasible space must be strictly positive."
          ],
          "enum": [
            "NONE",
            "UNIT_LINEAR_SCALE",
            "UNIT_LOG_SCALE",
            "UNIT_REVERSE_LOG_SCALE"
          ]
        }
      }
    },
    "GoogleCloudMlV1__NasSpec": {
      "id": "GoogleCloudMlV1__NasSpec",
      "description": "Spec for Neural Architecture Search (NAS) jobs.",
      "type": "object",
      "properties": {
        "searchSpaceSpec": {
          "description": "Required. It defines the search space for Neural Architecture Search (NAS).",
          "type": "string"
        },
        "multiTrialAlgorithmSpec": {
          "description": "The spec of multi-trial algorithms.",
          "$ref": "GoogleCloudMlV1_NasSpec_MultiTrialAlgorithmSpec"
        },
        "oneShotAlgorithmSpec": {
          "description": "The spec of one-shot algorithms.",
          "$ref": "GoogleCloudMlV1_NasSpec_OneShotAlgorithmSpec"
        },
        "previousNasJobId": {
          "description": "The previous NAS job ID to resume search. The `search_space_spec` needs to be the same between this and previous NAS job and its job state is `FINISHED` or `CANCELLED`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1_NasSpec_MultiTrialAlgorithmSpec": {
      "id": "GoogleCloudMlV1_NasSpec_MultiTrialAlgorithmSpec",
      "description": "The spec of multi-trial Neural Architecture Search (NAS).",
      "type": "object",
      "properties": {
        "multiTrialAlgorithm": {
          "description": "Optional. The multi-trial Neural Architecture Search (NAS) algorithm type. Defaults to `NAS_MULTI_TRIAL_ALGORITHM_REINFORCEMENT_LEARNING`.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The Reinforcement Learning Algorithm for Multi-trial Neural Architecture Search (NAS).",
            "The Grid Search Algorithm for Multi-trial Neural Architecture Search (NAS)."
          ],
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING",
            "GRID_SEARCH"
          ]
        },
        "nasTargetRewardMetric": {
          "description": "Required. The TensorFlow summary tag that the controller tries to optimize. Its value needs to be consistent with the TensorFlow summary tag that is reported by trainer (customer provided dockers).",
          "type": "string"
        },
        "maxNasTrials": {
          "description": "Optional. How many Neural Architecture Search (NAS) trials should be attempted.",
          "type": "integer",
          "format": "int32"
        },
        "maxParallelNasTrials": {
          "description": "Required. The number of Neural Architecture Search (NAS) trials to run concurrently.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedNasTrials": {
          "description": "Optional. It decides when a Neural Architecture Search (NAS) job should fail. Defaults to zero.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1_NasSpec_OneShotAlgorithmSpec": {
      "id": "GoogleCloudMlV1_NasSpec_OneShotAlgorithmSpec",
      "description": "The spec of one shot Neural Architecture Search (NAS).",
      "type": "object",
      "properties": {
        "oneShotAlgorithm": {
          "description": "Optional. The one-shot Neural Architecture Search (NAS) algorithm type. Defaults to `ONE_SHOT_ALGORITHM_REINFORCEMENT_LEARNING`.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The Reinforcement Learning Algorithm for one-shot Neural Architecture Search (NAS)."
          ],
          "enum": [
            "ONE_SHOT_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING"
          ]
        }
      }
    },
    "GoogleCloudMlV1__EncryptionConfig": {
      "id": "GoogleCloudMlV1__EncryptionConfig",
      "description": "Represents a custom encryption key configuration that can be applied to a resource.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a training job. It has the following format: `projects\/{PROJECT_ID}\/locations\/{REGION}\/keyRings\/{KEY_RING_NAME}\/cryptoKeys\/{KEY_NAME}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__Scheduling": {
      "id": "GoogleCloudMlV1__Scheduling",
      "description": "All parameters related to scheduling of training jobs.",
      "type": "object",
      "properties": {
        "maxRunningTime": {
          "description": "Optional. The maximum job running time, expressed in seconds. The field can contain up to nine fractional digits, terminated by `s`. If not specified, this field defaults to `604800s` (seven days). If the training job is still running after this duration, AI Platform Training cancels it. The duration is measured from when the job enters the `RUNNING` state; therefore it does not overlap with the duration limited by Scheduling.max_wait_time. For example, if you want to ensure your job runs for no more than 2 hours, set this field to `7200s` (2 hours * 60 minutes \/ hour * 60 seconds \/ minute). If you submit your training job using the `gcloud` tool, you can [specify this field in a `config.yaml` file](\/ai-platform\/training\/docs\/training-jobs#formatting_your_configuration_parameters). For example: ```yaml trainingInput: scheduling: maxRunningTime: 7200s ```",
          "type": "string",
          "format": "google-duration"
        },
        "maxWaitTime": {
          "description": "Optional. The maximum job wait time, expressed in seconds. The field can contain up to nine fractional digits, terminated by `s`. If not specified, there is no limit to the wait time. The minimum for this field is `1800s` (30 minutes). If the training job has not entered the `RUNNING` state after this duration, AI Platform Training cancels it. After the job begins running, it can no longer be cancelled due to the maximum wait time. Therefore the duration limited by this field does not overlap with the duration limited by Scheduling.max_running_time. For example, if the job temporarily stops running and retries due to a [VM restart](\/ai-platform\/training\/docs\/overview#restarts), this cannot lead to a maximum wait time cancellation. However, independently of this constraint, AI Platform Training might stop a job if there are too many retries due to exhausted resources in a region. The following example describes how you might use this field: To cancel your job if it doesn't start running within 1 hour, set this field to `3600s` (1 hour * 60 minutes \/ hour * 60 seconds \/ minute). If the job is still in the `QUEUED` or `PREPARING` state after an hour of waiting, AI Platform Training cancels the job. If you submit your training job using the `gcloud` tool, you can [specify this field in a `config.yaml` file](\/ai-platform\/training\/docs\/training-jobs#formatting_your_configuration_parameters). For example: ```yaml trainingInput: scheduling: maxWaitTime: 3600s ```",
          "type": "string",
          "format": "google-duration"
        },
        "resilientToWorkerRestart": {
          "description": "Optional. If true, reschedules an entire job if a worker gets restarted. This feature can be used by distributed training jobs that are not resilient to workers leaving and joining a job.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudMlV1__PredictionInput": {
      "id": "GoogleCloudMlV1__PredictionInput",
      "description": "Represents input parameters for a prediction job.",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Use this field if you want to use the default version for the specified model. The string must use the following format: `\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\"`",
          "type": "string"
        },
        "versionName": {
          "description": "Use this field if you want to specify a version of the model to use. The string is formatted the same way as `model_version`, with the addition of the version information: `\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\/versions\/YOUR_VERSION\"`",
          "type": "string"
        },
        "uri": {
          "description": "Use this field if you want to specify a Google Cloud Storage path for the model to use.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Required. The format of the input data files.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record.",
            "Deprecated. Use JSON instead.",
            "The source file is a TFRecord file. Currently available only for input data.",
            "The source file is a GZIP-compressed TFRecord file. Currently available only for input data.",
            "Each line of the file is the location of an instance to process. Currently available only for input data.",
            "Values are comma-separated rows, with keys in a separate file. Currently available only for output data."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "TEXT",
            "TF_RECORD",
            "TF_RECORD_GZIP",
            "FILE_LIST",
            "CSV"
          ]
        },
        "outputDataFormat": {
          "description": "Optional. Format of the output data files, defaults to JSON.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record.",
            "Deprecated. Use JSON instead.",
            "The source file is a TFRecord file. Currently available only for input data.",
            "The source file is a GZIP-compressed TFRecord file. Currently available only for input data.",
            "Each line of the file is the location of an instance to process. Currently available only for input data.",
            "Values are comma-separated rows, with keys in a separate file. Currently available only for output data."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "TEXT",
            "TF_RECORD",
            "TF_RECORD_GZIP",
            "FILE_LIST",
            "CSV"
          ]
        },
        "inputPaths": {
          "description": "Required. The Cloud Storage location of the input data files. May contain wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputPath": {
          "description": "Required. The output Google Cloud Storage location.",
          "type": "string"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers to be used for parallel processing. Defaults to 10 if not specified.",
          "type": "string",
          "format": "int64"
        },
        "initialWorkerCount": {
          "description": "Optional. The initial number of workers to be used for parallel processing. Defaults to 0 if one wants the service to figure out the number. The actual number of workers being used may change after the job starts depending on the autoscaling policy.",
          "type": "string",
          "format": "int64"
        },
        "region": {
          "description": "Required. The Google Compute Engine region to run the prediction job in. See the available regions for AI Platform services.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Optional. The AI Platform runtime version to use for this batch prediction. If not set, AI Platform will pick the runtime version used during the CreateVersion request for this model version, or choose the latest stable version when model version information is not available such as when the model is specified by uri.",
          "type": "string"
        },
        "batchSize": {
          "description": "Optional. Number of records per batch, defaults to 64. The service will buffer batch_size number of records in memory before invoking one Tensorflow prediction call internally. So take the record size and memory available into consideration when setting this parameter.",
          "type": "string",
          "format": "int64"
        },
        "signatureName": {
          "description": "Optional. The name of the signature defined in the SavedModel to use for this job. Please refer to [SavedModel](https:\/\/tensorflow.github.io\/serving\/serving_basic.html) for information about how to use signatures. Defaults to [DEFAULT_SERVING_SIGNATURE_DEF_KEY](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/signature_constants) , which is \"serving_default\".",
          "type": "string"
        },
        "tagsOverride": {
          "description": "Optional. The set of tags to select which meta graph defined in the SavedModel to use for this job. Please refer to [SavedModel](https:\/\/www.tensorflow.org\/serving\/serving_basic) for information about how to use tags. Overrides the default tags when predicting from a deployed model version. When predicting from a model directory, the tag defaults to [SERVING](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/tag_constants) , which is \"serve\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accelerator": {
          "description": "Optional. The type and number of accelerators to be attached to each machine running the job.",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "framework": {
          "description": "Optional. The framework used to train this model. Only needed if model_version is a GCS path. Otherwise the framework specified during version creation will be used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified framework. Assigns a value based on the file suffix.",
            "Tensorflow framework.",
            "Scikit-learn framework.",
            "XGBoost framework."
          ],
          "enum": [
            "FRAMEWORK_UNSPECIFIED",
            "TENSORFLOW",
            "SCIKIT_LEARN",
            "XGBOOST"
          ]
        },
        "workerType": {
          "description": "Optional. The type of virtual machine to use for batch prediction job's worker nodes. It supports all machine types available on GCP ( https:\/\/cloud.google.com\/compute\/docs\/machine-types), subject to the availability in the specific region the job runs.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__ExplanationInput": {
      "id": "GoogleCloudMlV1__ExplanationInput",
      "description": "Represents input parameters for a model explanation job.",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Use this field if you want to use the default version for the specified model. The string must use the following format: `\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\"`",
          "type": "string"
        },
        "versionName": {
          "description": "Use this field if you want to specify a version of the model to use. The string is formatted the same way as `model_version`, with the addition of the version information: `\"projects\/YOUR_PROJECT\/models\/YOUR_MODEL\/versions\/YOUR_VERSION\"`",
          "type": "string"
        },
        "uri": {
          "description": "Use this field if you want to specify a Google Cloud Storage path for the model to use, e.g. gs:\/\/{BUCKET}\/{MODEL_DIR}\/{MODEL_NAME}.",
          "type": "string"
        },
        "explanationConfig": {
          "description": "Required only if model_version is specified through a uri, otherwise the same explanation config specified at model version creation will be used. Configures explainability features on the model's version. Some explanation features require additional metadata to be loaded as part of the model payload.",
          "$ref": "GoogleCloudMlV1__ExplanationConfig"
        },
        "dataFormat": {
          "description": "Required. The format of the input data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record. Currently available only for input data.",
            "Values are rows in a BigQuery table given its associated schema. Currently available only for output data."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "BIGQUERY"
          ]
        },
        "outputDataFormat": {
          "description": "Optional. The format of the output data, defaults to BIGQUERY.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "Each line of the file is a JSON dictionary representing one record. Currently available only for input data.",
            "Values are rows in a BigQuery table given its associated schema. Currently available only for output data."
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "JSON",
            "BIGQUERY"
          ]
        },
        "inputPaths": {
          "description": "Required when data_format is JSON. The Cloud Storage location of the input data. May contain wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputBigqueryTable": {
          "description": "Required when output_data_format is BIGQUERY. The output fully qualified BigQuery table name in the format of \"[project_id].[dataset_name].[table_name]\".",
          "type": "string"
        },
        "region": {
          "description": "Required. The Compute Engine region to run the explanation job in. See the available regions for AI Platform services.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Required. The AI Platform runtime version to use for the explanation job. See <a href=\"https:\/\/cloud.google.com\/ml-engine\/docs\/tensorflow\/runtime-version-list<\/a> for available runtime versions. Must be >=1.12.",
          "type": "string"
        },
        "maxWorkerCount": {
          "description": "Optional. The maximum number of workers to be used for parallel processing. Defaults to 10 if not specified.",
          "type": "string",
          "format": "int64"
        },
        "initialWorkerCount": {
          "description": "Optional. The initial number of workers to be used for parallel processing. Defaults to 0 if one wants the service to figure out the number. The actual number of workers being used may change after the job starts depending on the autoscaling policy.",
          "type": "string",
          "format": "int64"
        },
        "workerType": {
          "description": "Optional. The type of virtual machine to use for the explanation job's worker nodes. It supports all machine types available on GCP ( https:\/\/cloud.google.com\/compute\/docs\/machine-types), subject to the availability in the specific region the job runs.",
          "type": "string"
        },
        "batchSize": {
          "description": "Optional. Number of records per batch, defaults to 64. The service will buffer batch_size number of records in memory before invoking one Tensorflow prediction call internally. So take the record size and memory available into consideration when setting this parameter.",
          "type": "string",
          "format": "int64"
        },
        "signatureName": {
          "description": "Optional. The name of the signature defined in the SavedModel to use for this job. Please refer to [SavedModel](https:\/\/tensorflow.github.io\/serving\/serving_basic.html) for information about how to use signatures. Defaults to [DEFAULT_SERVING_SIGNATURE_DEF_KEY](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/signature_constants) , which is \"serving_default\".",
          "type": "string"
        },
        "tagsOverride": {
          "description": "Optional. The set of tags to select which meta graph defined in the SavedModel to use for this job. Please refer to [SavedModel](https:\/\/www.tensorflow.org\/serving\/serving_basic) for information about how to use tags. Overrides the default tags when predicting from a deployed model version. When predicting from a model directory, the tag defaults to [SERVING](https:\/\/www.tensorflow.org\/api_docs\/python\/tf\/saved_model\/tag_constants) , which is \"serve\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accelerator": {
          "description": "Optional. The type and number of accelerators to be attached to each machine running the job.",
          "$ref": "GoogleCloudMlV1__AcceleratorConfig"
        },
        "framework": {
          "description": "Optional. The framework used to train this model. Only needed if model_version is a GCS path. Otherwise the framework specified during version creation will be used.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified framework. Assigns a value based on the file suffix.",
            "Tensorflow framework.",
            "Scikit-learn framework.",
            "XGBoost framework."
          ],
          "enum": [
            "FRAMEWORK_UNSPECIFIED",
            "TENSORFLOW",
            "SCIKIT_LEARN",
            "XGBOOST"
          ]
        }
      }
    },
    "GoogleCloudMlV1__ExplanationConfig": {
      "id": "GoogleCloudMlV1__ExplanationConfig",
      "description": "Message holding configuration options for explaining model predictions. There are three feature attribution methods supported for TensorFlow models: integrated gradients, sampled Shapley, and XRAI. [Learn more about feature attributions.](\/ai-platform\/prediction\/docs\/ai-explanations\/overview)",
      "type": "object",
      "properties": {
        "ablationAttribution": {
          "description": "TensorFlow framework explanation methods. Deprecated. Attributes credit to model inputs by ablating features (ie. setting them to their default\/missing values) and computing corresponding model score delta per feature. The term \"ablation\" is in reference to running an \"ablation study\" to analyze input effects on the outcome of interest, which in this case is the model's output. This attribution method is supported for TensorFlow and XGBoost models.",
          "$ref": "GoogleCloudMlV1__AblationAttribution"
        },
        "integratedGradientsAttribution": {
          "description": "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1703.01365",
          "$ref": "GoogleCloudMlV1__IntegratedGradientsAttribution"
        },
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
          "$ref": "GoogleCloudMlV1__SampledShapleyAttribution"
        },
        "xraiAttribution": {
          "description": "Attributes credit by computing the XRAI taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1906.02825 Currently only implemented for models with natural image inputs.",
          "$ref": "GoogleCloudMlV1__XraiAttribution"
        },
        "treeShapAttribution": {
          "description": "XGBoost framework explanation methods. Attributes credit by computing the Shapley value taking advantage of the model's tree ensemble structure. Refer to this paper for more details: http:\/\/papers.nips.cc\/paper\/7062-a-unified-approach-to-interpreting-model-predictions.pdf. This attribution method is supported for XGBoost models.",
          "$ref": "GoogleCloudMlV1__TreeShapAttribution"
        },
        "saabasAttribution": {
          "description": "Attributes credit by running a faster aproximation to the TreeShap method. Please refer to this link for more details: https:\/\/blog.datadive.net\/interpreting-random-forests\/ This attribution method is only supported for XGBoost models.",
          "$ref": "GoogleCloudMlV1__SaabasAttribution"
        }
      }
    },
    "GoogleCloudMlV1__AblationAttribution": {
      "id": "GoogleCloudMlV1__AblationAttribution",
      "description": "Attributes credit to model inputs by ablating features (ie. setting them to their default\/missing values) and computing corresponding model score delta per feature. The term \"ablation\" is in reference to running an \"ablation study\" to analyze input effects on the outcome of interest, which in this case is the model's output. This attribution method is supported for TensorFlow and XGBoost models.",
      "type": "object",
      "properties": {
        "numFeatureInteractions": {
          "description": "Number of feature interactions to account for in the ablation process, capped at the maximum number of provided input features. Currently, only the value 1 is supported.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__IntegratedGradientsAttribution": {
      "id": "GoogleCloudMlV1__IntegratedGradientsAttribution",
      "description": "Attributes credit by computing the Aumann-Shapley value taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1703.01365",
      "type": "object",
      "properties": {
        "numIntegralSteps": {
          "description": "Number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range.",
          "type": "integer",
          "format": "int32"
        },
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients, see here for why: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
          "$ref": "GoogleCloudMlV1__SmoothGradConfig"
        }
      }
    },
    "GoogleCloudMlV1__SmoothGradConfig": {
      "id": "GoogleCloudMlV1__SmoothGradConfig",
      "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. See here for why https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
      "type": "object",
      "properties": {
        "noiseSigma": {
          "description": "If set, this std. deviation will be used to apply noise to all features.",
          "type": "number",
          "format": "float"
        },
        "featureNoiseSigma": {
          "description": "Alternatively, set this to use different noise_sigma per feature. One entry per feature. No noise is added to features that are not set.",
          "$ref": "GoogleCloudMlV1__FeatureNoiseSigma"
        },
        "noisySampleCount": {
          "description": "The number of gradient samples to use for approximation. The higher this number, the more accurate the gradient is, but the runtime complexity of IG increases by this factor as well.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__FeatureNoiseSigma": {
      "id": "GoogleCloudMlV1__FeatureNoiseSigma",
      "description": "Noise sigma by features. Noise sigma represents the standard deviation of the gaussian kernel that will be used to add noise to interpolated inputs prior to computing gradients.",
      "type": "object",
      "properties": {
        "noiseSigma": {
          "description": "Noise sigma per feature. No noise is added to features that are not set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_FeatureNoiseSigma_NoiseSigmaForFeature"
          }
        }
      }
    },
    "GoogleCloudMlV1_FeatureNoiseSigma_NoiseSigmaForFeature": {
      "id": "GoogleCloudMlV1_FeatureNoiseSigma_NoiseSigmaForFeature",
      "description": "Noise sigma for a single feature.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the input feature for which noise sigma is provided.",
          "type": "string"
        },
        "sigma": {
          "description": "Standard deviation of gaussian kernel for noise.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudMlV1__SampledShapleyAttribution": {
      "id": "GoogleCloudMlV1__SampledShapleyAttribution",
      "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features.",
      "type": "object",
      "properties": {
        "numPaths": {
          "description": "The number of feature permutations to consider when approximating the Shapley values.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudMlV1__XraiAttribution": {
      "id": "GoogleCloudMlV1__XraiAttribution",
      "description": "Attributes credit by computing the XRAI taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1906.02825 Currently only implemented for models with natural image inputs.",
      "type": "object",
      "properties": {
        "numIntegralSteps": {
          "description": "Number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range.",
          "type": "integer",
          "format": "int32"
        },
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients, see here for why: https:\/\/arxiv.org\/pdf\/1706.03825.pdf",
          "$ref": "GoogleCloudMlV1__SmoothGradConfig"
        }
      }
    },
    "GoogleCloudMlV1__TreeShapAttribution": {
      "id": "GoogleCloudMlV1__TreeShapAttribution",
      "description": "Attributes credit by computing the Shapley value taking advantage of the model's tree ensemble structure. Refer to this paper for more details: https:\/\/arxiv.org\/abs\/1705.07874 This attribution method is supported for XGBoost models.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudMlV1__SaabasAttribution": {
      "id": "GoogleCloudMlV1__SaabasAttribution",
      "description": "Attributes credit by running a faster aproximation to the TreeShap method. Please refer to this link for more details: https:\/\/blog.datadive.net\/interpreting-random-forests\/ This attribution method is only supported for XGBoost models.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudMlV1__TrainingOutput": {
      "id": "GoogleCloudMlV1__TrainingOutput",
      "description": "Represents results of a training job. Output only.",
      "type": "object",
      "properties": {
        "completedTrialCount": {
          "description": "The number of hyperparameter tuning trials that completed successfully. Only set for hyperparameter tuning jobs.",
          "type": "string",
          "format": "int64"
        },
        "trials": {
          "description": "Results for individual Hyperparameter trials. Only set for hyperparameter tuning jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__HyperparameterOutput"
          }
        },
        "nasJobOutput": {
          "description": "The output of a Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1__NasJobOutput"
        },
        "consumedMLUnits": {
          "description": "The amount of ML units consumed by the job.",
          "type": "number",
          "format": "double"
        },
        "isHyperparameterTuningJob": {
          "description": "Whether this job is a hyperparameter tuning job.",
          "type": "boolean"
        },
        "isBuiltInAlgorithmJob": {
          "description": "Whether this job is a built-in Algorithm job.",
          "type": "boolean"
        },
        "builtInAlgorithmOutput": {
          "description": "Details related to built-in algorithms jobs. Only set for built-in algorithms jobs.",
          "$ref": "GoogleCloudMlV1__BuiltInAlgorithmOutput"
        },
        "hyperparameterMetricTag": {
          "description": "The TensorFlow summary tag name used for optimizing hyperparameter tuning trials. See [`HyperparameterSpec.hyperparameterMetricTag`](#HyperparameterSpec.FIELDS.hyperparameter_metric_tag) for more information. Only set for hyperparameter tuning jobs.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__HyperparameterOutput": {
      "id": "GoogleCloudMlV1__HyperparameterOutput",
      "description": "Represents the result of a single hyperparameter tuning trial from a training job. The TrainingOutput object that is returned on successful completion of a training job with hyperparameter tuning includes a list of HyperparameterOutput objects, one for each successful trial.",
      "type": "object",
      "properties": {
        "trialId": {
          "description": "The trial id for these results.",
          "type": "string"
        },
        "hyperparameters": {
          "description": "The hyperparameters given to this trial.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "Output only. Start time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. End time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The detailed state of the trial.",
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "finalMetric": {
          "description": "The final objective metric seen for this trial.",
          "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
        },
        "isTrialStoppedEarly": {
          "description": "True if the trial is stopped early.",
          "type": "boolean"
        },
        "allMetrics": {
          "description": "All recorded object metrics for this trial. This field is not currently populated.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric"
          }
        },
        "builtInAlgorithmOutput": {
          "description": "Details related to built-in algorithms jobs. Only set for trials of built-in algorithms jobs that have succeeded.",
          "$ref": "GoogleCloudMlV1__BuiltInAlgorithmOutput"
        }
      }
    },
    "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric": {
      "id": "GoogleCloudMlV1_HyperparameterOutput_HyperparameterMetric",
      "description": "An observed value of a metric.",
      "type": "object",
      "properties": {
        "trainingStep": {
          "description": "The global training step for this metric.",
          "type": "string",
          "format": "int64"
        },
        "objectiveValue": {
          "description": "The objective value at this training step.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__BuiltInAlgorithmOutput": {
      "id": "GoogleCloudMlV1__BuiltInAlgorithmOutput",
      "description": "Represents output related to a built-in algorithm Job.",
      "type": "object",
      "properties": {
        "framework": {
          "description": "Framework on which the built-in algorithm was trained.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "AI Platform runtime version on which the built-in algorithm was trained.",
          "type": "string"
        },
        "pythonVersion": {
          "description": "Python version on which the built-in algorithm was trained.",
          "type": "string"
        },
        "modelPath": {
          "description": "The Cloud Storage path to the `model\/` directory where the training job saves the trained model. Only set for successful jobs that don't use hyperparameter tuning.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__NasJobOutput": {
      "id": "GoogleCloudMlV1__NasJobOutput",
      "description": "The output of Neural Archhitecture Search (NAS) jobs.",
      "type": "object",
      "properties": {
        "multiTrialJobOutputs": {
          "description": "The output of a multi-trial Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutputs"
        }
      }
    },
    "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutputs": {
      "id": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutputs",
      "description": "The list of all MultiTrialJobOutput.",
      "type": "object",
      "properties": {
        "multiTrialJobOutput": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutput"
          }
        }
      }
    },
    "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutput": {
      "id": "GoogleCloudMlV1_NasJobOutput_MultiTrialJobOutput",
      "description": "The output of Multi-trial Neural Architecture Search (NAS) jobs.",
      "type": "object",
      "properties": {
        "trialId": {
          "description": "The trial id for these results.",
          "type": "string"
        },
        "nasParamsStr": {
          "description": "The parameters that are associated with this Neural Architecture Search (NAS) job.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. Start time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. End time for the trial.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The detailed state of the trial.",
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "allMetrics": {
          "description": "All objective metrics for this Neural Architecture Search (NAS) job.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric"
          }
        },
        "finalMetric": {
          "description": "The final objective metric seen for this Neural Architecture Search (NAS) job.",
          "$ref": "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric"
        }
      }
    },
    "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric": {
      "id": "GoogleCloudMlV1_NasJobOutputMultiTrialJobOutput_NasParameterMetric",
      "description": "An observed value of a metric of the trial.",
      "type": "object",
      "properties": {
        "trainingStep": {
          "description": "The global training step for this metric.",
          "type": "string",
          "format": "int64"
        },
        "objectiveValue": {
          "description": "The objective value at this training step.",
          "type": "number",
          "format": "double"
        },
        "modelFlops": {
          "description": "The model flops associated with the `objective_value`.",
          "type": "number",
          "format": "double"
        },
        "metrics": {
          "description": "Reported metrics other than objective and model_flops",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudMlV1__PredictionOutput": {
      "id": "GoogleCloudMlV1__PredictionOutput",
      "description": "Represents results of a prediction job.",
      "type": "object",
      "properties": {
        "outputPath": {
          "description": "The output Google Cloud Storage location provided at the job creation time.",
          "type": "string"
        },
        "predictionCount": {
          "description": "The number of generated predictions.",
          "type": "string",
          "format": "int64"
        },
        "errorCount": {
          "description": "The number of data instances which resulted in errors.",
          "type": "string",
          "format": "int64"
        },
        "nodeHours": {
          "description": "Node hours used by the batch prediction job.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__ExplanationOutput": {
      "id": "GoogleCloudMlV1__ExplanationOutput",
      "description": "Represents results of an explanation job.",
      "type": "object",
      "properties": {
        "outputBigqueryTable": {
          "description": "The output BigQuery table name provided at the job creation time.",
          "type": "string"
        },
        "explanationCount": {
          "description": "The number of generated explanations.",
          "type": "string",
          "format": "int64"
        },
        "errorCount": {
          "description": "The number of data instances which resulted in errors.",
          "type": "string",
          "format": "int64"
        },
        "nodeHours": {
          "description": "Node hours used by the batch explanation job.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudMlV1__ListJobsResponse": {
      "id": "GoogleCloudMlV1__ListJobsResponse",
      "description": "Response message for the ListJobs method.",
      "type": "object",
      "properties": {
        "jobs": {
          "description": "The list of jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Job"
          }
        },
        "nextPageToken": {
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call.",
          "type": "string"
        }
      }
    },
    "GoogleCloudMlV1__CancelJobRequest": {
      "id": "GoogleCloudMlV1__CancelJobRequest",
      "description": "Request message for the CancelJob method.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleProtobuf__Empty": {
      "id": "GoogleProtobuf__Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudMlV1__Location": {
      "id": "GoogleCloudMlV1__Location",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "capabilities": {
          "description": "Capabilities available in the location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Capability"
          }
        }
      }
    },
    "GoogleCloudMlV1__Capability": {
      "id": "GoogleCloudMlV1__Capability",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRAINING",
            "BATCH_PREDICTION",
            "ONLINE_PREDICTION"
          ]
        },
        "availableAccelerators": {
          "description": "Available accelerators for the capability.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified accelerator type. Default to no GPU.",
              "Nvidia Tesla K80 GPU.",
              "Nvidia Tesla P100 GPU.",
              "Nvidia Tesla V100 GPU.",
              "Nvidia Tesla P4 GPU.",
              "Nvidia Tesla T4 GPU.",
              "Nvidia Tesla A100 GPU.",
              "TPU v2.",
              "TPU v3.",
              "TPU v2 POD.",
              "TPU v3 POD."
            ],
            "enum": [
              "ACCELERATOR_TYPE_UNSPECIFIED",
              "NVIDIA_TESLA_K80",
              "NVIDIA_TESLA_P100",
              "NVIDIA_TESLA_V100",
              "NVIDIA_TESLA_P4",
              "NVIDIA_TESLA_T4",
              "NVIDIA_TESLA_A100",
              "TPU_V2",
              "TPU_V3",
              "TPU_V2_POD",
              "TPU_V3_POD"
            ]
          }
        }
      }
    },
    "GoogleCloudMlV1__ListLocationsResponse": {
      "id": "GoogleCloudMlV1__ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "Locations where at least one type of CMLE capability is available.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudMlV1__Location"
          }
        },
        "nextPageToken": {
          "description": "Optional. Pass this token as the `page_token` field of the request for a subsequent call.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunning__ListOperationsResponse": {
      "id": "GoogleLongrunning__ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunning__Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunning__Operation": {
      "id": "GoogleLongrunning__Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpc__Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpc__Status": {
      "id": "GoogleRpc__Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudMlV1__Model": {
      "id": "GoogleCloudMlV1__Model",
      "description": "Represents a machine learning solution. A model can have multiple versions, each of which is a deployed, trained model ready to receive prediction requests. The model itself is just a container.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name specified for the model when it was created. The model name must be unique within the project it is created in.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description specified for the model when it was created.",
          "type": "string"
        },
        "defaultVersion": {
          "description": "Output only. The default version of the model. This version will be used to handle prediction requests that do not specify a version. You can change the default version by calling projects.models.versions.setDefault.",
          "$ref": "GoogleCloudMlV1__Version"
        },
        "regions": {
          "description": "Optional. The list of regions where the model is going to be deployed. Only one region per model is supported. Defaults to 'us-central1' if nothing is set. See the available regions for AI Platform services. Note: * No matter where a model is deployed, it can always be accessed by users from anywhere, both for online and batch prediction. * The region for a batch prediction job is set by the region field when submitting the batch prediction job and does not take its value from this field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "onlinePredictionLogging": {
          "description": "Optional. If true, online prediction access logs are sent to Cloud Logging. These logs are like standard server access logs, containing information like timestamp and latency for each request. Note that [logs may incur a cost](\/stackdriver\/pricing), especially if your project receives prediction requests at a high queries per second rate (QPS). Estimate your costs before enabling this option. Default is false.",
          "type": "boolean"
        },
        "onlinePredictionConsoleLogging": {
          "description": "Optional. If true, online prediction nodes send `stderr` and `stdout` streams to Cloud Logging. These can be more verbose than the standard access logs (see `onlinePredictionLogging`) and can incur higher cost. However, they are helpful for debugging. Note that [logs may incur a cost](\/stackdriver\/pricing), especially if your project receives prediction requests at a high QPS. Estimate your costs before enabling this option. Default is false.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. One or more labels that you can add, to organize your models. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a model from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform model updates in order to avoid race conditions: An `etag` is returned in the response to `GetModel`, and systems are expected to put that etag in the request to `UpdateModel` to ensure that their change will be applied to the model as intended.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudMlV1__Version": {
      "id": "GoogleCloudMlV1__Version",
      "description": "Represents a version of the model. Each version is a trained model deployed in the cloud, ready to handle prediction requests. A model can have multiple versions. You can get information about all of the versions of a given model by calling projects.models.versions.list.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name specified for the version when it was created. The version name must be unique within the model it is created in.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description specified for the version when it was created.",
          "type": "string"
        },
        "isDefault": {
          "description": "Output only. If true, this version will be used to handle prediction requests that do not specify a version. You can change the default version by calling projects.methods.versions.setDefault.",
          "type": "boolean"
        },
        "deploymentUri": {
          "description": "The Cloud Storage URI of a directory containing trained model artifacts to be used to create the model version. See the [guide to deploying models](\/ai-platform\/prediction\/docs\/deploying-models) for more information. The total number of files under this directory must not exceed 1000. During projects.models.versions.create, AI Platform Prediction copies all files from the specified directory to a location managed by the service. From then on, AI Platform Prediction uses these copies of the model artifacts to serve predictions, not the original files in Cloud Storage, so this location is useful only as a historical record. If you specify container, then this field is optional. Otherwise, it is required. Learn [how to use this field with a custom container](\/ai-platform\/prediction\/docs\/custom-container-requirements#artifacts).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the version was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastUseTime": {
          "description": "Output only. The time the version was last used for prediction.",
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeVersion": {
          "description": "Required. The AI Platform runtime version to use for this deployment. For more information, see the [runtime version list](\/ml-engine\/docs\/runtime-version-list) and [how to manage runtime versions](\/ml-engine\/docs\/versioning).",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. The type of machine on which to serve the model. Currently only applies to online prediction service. If this field is not specified, it defaults to `mls1-c1-m2`. Online prediction supports the following machine types: * `mls1-c1-m2` * `mls1-c4-m2` * `n1-standard-2` * `n1-standard-4` * `n1-standard-8` * `n1-standard-16` * `n1-standard-32` * `n1-highmem-2` * `n1-highmem-4` * `n1-highmem-8` * `n1-highmem-16` * `n1-highmem-32` * `n1-highcpu-2` * `n1-highcpu-4` * `n1-highcpu-8` * `n1-highcpu-16` * `n1-highcpu-32` `mls1-c4-m2` is in beta. All other machine types are generally available. Learn more about the [differences between machine types](\/ml-engine\/docs\/machine-types-online-prediction).",
          "type": "string"
        },
        "autoScaling": {
          "description": "Automatically scale the number of nodes used to serve the model in response to increases and decreases in traffic. Care should be taken to ramp up traffic according to the model's ability to scale or you will start seeing increases in latency and 429 response codes. Note that you cannot use AutoScaling if your version uses [GPUs](#Version.FIELDS.accelerator_config). Instead, you must use specify `manual_scaling`.",
          "$ref": "GoogleCloudMlV1__AutoScaling"
        },
        "manualScaling": {
          "description": "Manually select the number of nodes to use for serving the model. You should generally use `auto_scaling` with an appropriate `min_nodes` instead, but this option is available if you want more predictable billing. Beware that latency and error rates will increase if the traffic exceeds that capability of the system to serve it based on the selected number of nodes.",
          "$ref": "GoogleCloudMlV1__ManualScaling"
        },
        "state": {
          "description": "Output only. The state of a version.",
          "type": "string",
          "enumDescriptions": [
            "The version state is unspecified.",
            "The version is ready for prediction.",
            "The version is being created. New UpdateVersion and DeleteVersion requests will fail if a version is in the CREATING state.",
            "The version failed to be created, possibly cancelled. `error_message` should contain the details of the failure.",
            "The version is being deleted. New UpdateVersion and DeleteVersion requests will fail if a version is in the DELETING state.",
            "The version is being updated. New UpdateVersion and DeleteVersion requests will fail if a version is in the UPDATING state."
          ],
          "enum": [
            "UNKNOWN",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING",
            "UPDATING"
          ]
        },
        "errorMessage": {
          "description": "Output only. The details of a failure or a cancellation.",
          "type": "string"
        },
        "modelClass": {
          "type": "string"
        },
        "predictionClass": {
          "description": "Optional. The fully qualified name (module_name.class_name) of a class that implements the Predictor interface described in this reference field. The module containing this class should be included in a package provided to the [`packageUris` field](#Version.FIELDS.package_uris). Specify this field if and only if you are deploying a [custom prediction routine (beta)](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines). If you specify this field, you must set [`runtimeVersion`](#Version.FIELDS.runtime_version) to 1.4 or greater and you must set `machineType` to a [legacy (MLS1) machine type](\/ml-engine\/docs\/machine-types-online-prediction). The following code sample provides the Predictor interface: class Predictor(object): \"\"\"Interface for constructing custom predictors.\"\"\" def predict(self, instances, **kwargs): \"\"\"Performs custom prediction. Instances are the decoded values from the request. They have already been deserialized from JSON. Args: instances: A list of prediction input instances. **kwargs: A dictionary of keyword args provided as additional fields on the predict request body. Returns: A list of outputs containing the prediction results. This list must be JSON serializable. \"\"\" raise NotImplementedError() @classmethod def from_path(cls, model_dir): \"\"\"Creates an instance of Predictor using the given path. Loading of the predictor should be done in this method. Args: model_dir: The local directory that contains the exported model file along with any additional files uploaded when creating the version resource. Returns: An instance implementing this Predictor class. \"\"\" raise NotImplementedError() Learn more about [the Predictor interface and custom prediction routines](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines).",
          "type": "string"
        },
        "packageUris": {
          "description": "Optional. Cloud Storage paths (`gs:\/\/\u2026`) of packages for [custom prediction routines](\/ml-engine\/docs\/tensorflow\/custom-prediction-routines) or [scikit-learn pipelines with custom code](\/ml-engine\/docs\/scikit\/exporting-for-prediction#custom-pipeline-code). For a custom prediction routine, one of these packages must contain your Predictor class (see [`predictionClass`](#Version.FIELDS.prediction_class)). Additionally, include any dependencies used by your Predictor or scikit-learn pipeline uses that are not already included in your selected [runtime version](\/ml-engine\/docs\/tensorflow\/runtime-version-list). If you specify this field, you must also set [`runtimeVersion`](#Version.FIELDS.runtime_version) to 1.4 or greater.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. One or more labels that you can add, to organize your model versions. Each label is a key-value pair, where both the key and the value are arbitrary strings that you supply. For more information, see the documentation on using labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
[...]
