{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "bigtableadmin:v2",
  "name": "bigtableadmin",
  "canonicalName": "Bigtable Admin",
  "version": "v2",
  "revision": "0",
  "title": "Cloud Bigtable Admin API",
  "description": "Administer your Cloud Bigtable tables and instances.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/bigtable/",
  "protocol": "rest",
  "rootUrl": "https://bigtableadmin.googleapis.com/",
  "mtlsRootUrl": "https://bigtableadmin.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://bigtableadmin.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.instance": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin": {
          "description": "Administer your Cloud Bigtable tables and clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster": {
          "description": "Administer your Cloud Bigtable clusters"
        },
        "https://www.googleapis.com/auth/cloud-bigtable.admin.table": {
          "description": "Administer your Cloud Bigtable tables"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "CreateInstanceRequest": {
      "id": "CreateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateInstance.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects\/{project}`.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The ID to be used when referring to the new instance within its project, e.g., just `myinstance` rather than `projects\/myproject\/instances\/myinstance`.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance to create. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Instance"
        },
        "clusters": {
          "description": "Required. The clusters to be created within the instance, mapped by desired cluster ID, e.g., just `mycluster` rather than `projects\/myproject\/instances\/myinstance\/clusters\/mycluster`. Fields marked `OutputOnly` must be left blank. Currently, at most four clusters can be specified.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "A collection of Bigtable Tables and the resources that serve them. All tables in an instance are served from all Clusters in the instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The unique name of the instance. Values are of the form `projects\/{project}\/instances\/a-z+[a-z0-9]`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The descriptive name for this instance as it appears in UIs. Can be changed at any time, but should be kept globally unique to avoid confusion.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the instance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the instance could not be determined.",
            "The instance has been successfully created and can serve requests to its tables.",
            "The instance is currently being created, and may be destroyed if the creation process encounters an error."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING"
          ]
        },
        "type": {
          "description": "Required. The type of the instance. Defaults to `PRODUCTION`.",
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unspecified. If set when creating an instance, a `PRODUCTION` instance will be created. If set when updating an instance, the type will be left unchanged.",
            "An instance meant for production use. `serve_nodes` must be set on the cluster.",
            "DEPRECATED: Prefer PRODUCTION for all use cases, as it no longer enforces a higher minimum node count than DEVELOPMENT."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "DEVELOPMENT"
          ]
        },
        "labels": {
          "description": "Required. Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. They can be used to filter resources and aggregate metrics. * Label keys must be between 1 and 63 characters long and must conform to the regular expression: `\\p{Ll}\\p{Lo}{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression: `[\\p{Ll}\\p{Lo}\\p{N}_-]{0,63}`. * No more than 64 labels can be associated with a given resource. * Keys and values must both be under 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "A resizable group of nodes in a particular cloud location, capable of serving all Tables in the parent Instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The unique name of the cluster. Values are of the form `projects\/{project}\/instances\/{instance}\/clusters\/a-z*`.",
          "type": "string"
        },
        "location": {
          "description": "Immutable. The location where this cluster's nodes and storage reside. For best performance, clients should be located as close as possible to this cluster. Currently only zones are supported, so values should be of the form `projects\/{project}\/locations\/{zone}`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the cluster could not be determined.",
            "The cluster has been successfully created and is ready to serve requests.",
            "The cluster is currently being created, and may be destroyed if the creation process encounters an error. A cluster may not be able to serve requests while being created.",
            "The cluster is currently being resized, and may revert to its previous node count if the process encounters an error. A cluster is still capable of serving requests while being resized, but may exhibit performance as if its number of allocated nodes is between the starting and requested states.",
            "The cluster has no backing nodes. The data (tables) still exist, but no operations can be performed on the cluster."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "READY",
            "CREATING",
            "RESIZING",
            "DISABLED"
          ]
        },
        "serveNodes": {
          "description": "Required. The number of nodes allocated to this cluster. More nodes enable higher throughput and more consistent performance.",
          "type": "integer",
          "format": "int32"
        },
        "defaultStorageType": {
          "description": "Immutable. The type of storage used by this cluster to serve its parent instance's tables, unless explicitly overridden.",
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a storage type.",
            "Flash (SSD) storage should be used.",
            "Magnetic drive (HDD) storage should be used."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ]
        },
        "encryptionConfig": {
          "description": "Immutable. KMS setting that is only filled in for CMEK-protected clusters, whether this field is used for configuration on input or presented as output.",
          "$ref": "EncryptionConfig"
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Google Cloud Key Management Service (KMS) settings for a CMEK-protected Bigtable cluster. CMEK is not currently available to end users. This feature might be changed in backward-incompatible ways and is not currently subject to any SLA or deprecation policy.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Describes the KMS encryption key that will be used to protect the destination Bigtable cluster. The requirements for this key are: 1) The Cloud Bigtable service account associated with the project that contains this cluster will need to be granted an enc\/dec role on the encryption key. 2) The regionality of the key must match the location of the cluster. 3) All clusters within an instance must use the same KMS key. The key cannot be changed after cluster creation, but it may be rotated.",
          "type": "string"
        }
      }
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListInstances.",
      "type": "object",
      "properties": {
        "instances": {
          "description": "The list of requested instances.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "failedLocations": {
          "description": "Locations from which Instance information could not be retrieved, due to an outage or some other transient condition. Instances whose Clusters are all in one of the failed locations may be missing from `instances`, and Instances with at least one Cluster in a failed location may only have partial information returned. Values are of the form `projects\/\/locations\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response message for BigtableInstanceAdmin.ListClusters.",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "The list of requested clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "failedLocations": {
          "description": "Locations from which Cluster information could not be retrieved, due to an outage or some other transient condition. Clusters from these locations may be missing from `clusters`, or may only have partial information returned. Values are of the form `projects\/\/locations\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "DEPRECATED: This field is unused and ignored.",
          "type": "string"
        }
      }
    },
    "AppProfile": {
      "id": "AppProfile",
      "description": "A configuration object describing how Cloud Bigtable should treat traffic from a particular end user application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The unique name of the app profile. Values are of the form `projects\/{project}\/instances\/{instance}\/appProfiles\/_a-zA-Z0-9*`.",
          "type": "string"
        },
        "etag": {
          "description": "Strongly validated etag for optimistic concurrency control. Preserve the value returned from `GetAppProfile` when calling `UpdateAppProfile` to fail the request if there has been a modification in the mean time. The `update_mask` of the request need not include `etag` for this protection to apply. See [Wikipedia](https:\/\/en.wikipedia.org\/wiki\/HTTP_ETag) and [RFC 7232](https:\/\/tools.ietf.org\/html\/rfc7232#section-2.3) for more details.",
          "type": "string"
        },
        "description": {
          "description": "Long form description of the use case for this AppProfile.",
          "type": "string"
        },
        "multiClusterRoutingUseAny": {
          "description": "Use a multi-cluster routing policy.",
          "$ref": "MultiClusterRoutingUseAny"
        },
        "singleClusterRouting": {
          "description": "Use a single-cluster routing policy.",
          "$ref": "SingleClusterRouting"
        }
      }
    },
    "MultiClusterRoutingUseAny": {
      "id": "MultiClusterRoutingUseAny",
      "description": "Read\/write requests are routed to the nearest cluster in the instance, and will fail over to the nearest cluster that is available in the event of transient errors or delays. Clusters in a region are considered equidistant. Choosing this option sacrifices read-your-writes consistency to improve availability.",
      "type": "object",
      "properties": {
      }
    },
    "SingleClusterRouting": {
      "id": "SingleClusterRouting",
      "description": "Unconditionally routes all read\/write requests to a specific cluster. This option preserves read-your-writes consistency but does not improve availability.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "The cluster to which read\/write requests should be routed.",
          "type": "string"
        },
        "allowTransactionalWrites": {
          "description": "Whether or not `CheckAndMutateRow` and `ReadModifyWriteRow` requests are allowed by this app profile. It is unsafe to send these requests to the same table\/row\/column in multiple clusters.",
          "type": "boolean"
        }
      }
    },
    "ListAppProfilesResponse": {
      "id": "ListAppProfilesResponse",
      "description": "Response message for BigtableInstanceAdmin.ListAppProfiles.",
      "type": "object",
      "properties": {
        "appProfiles": {
          "description": "The list of requested app profiles.",
          "type": "array",
          "items": {
            "$ref": "AppProfile"
          }
        },
        "nextPageToken": {
          "description": "Set if not all app profiles could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        },
        "failedLocations": {
          "description": "Locations from which AppProfile information could not be retrieved, due to an outage or some other transient condition. AppProfiles from these locations may be missing from `app_profiles`. Values are of the form `projects\/\/locations\/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateTableRequest": {
      "id": "CreateTableRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CreateTable",
      "type": "object",
      "properties": {
        "tableId": {
          "description": "Required. The name by which the new table should be referred to within the parent instance, e.g., `foobar` rather than `{parent}\/tables\/foobar`. Maximum 50 characters.",
          "type": "string"
        },
        "table": {
          "description": "Required. The Table to create.",
          "$ref": "Table"
        },
        "initialSplits": {
          "description": "The optional list of row keys that will be used to initially split the table into several tablets (tablets are similar to HBase regions). Given two split keys, `s1` and `s2`, three tablets will be created, spanning the key ranges: `[, s1), [s1, s2), [s2, )`. Example: * Row keys := `[\"a\", \"apple\", \"custom\", \"customer_1\", \"customer_2\",` `\"other\", \"zz\"]` * initial_split_keys := `[\"apple\", \"customer_1\", \"customer_2\", \"other\"]` * Key assignment: - Tablet 1 `[, apple) => {\"a\"}.` - Tablet 2 `[apple, customer_1) => {\"apple\", \"custom\"}.` - Tablet 3 `[customer_1, customer_2) => {\"customer_1\"}.` - Tablet 4 `[customer_2, other) => {\"customer_2\"}.` - Tablet 5 `[other, ) => {\"other\", \"zz\"}.`",
          "type": "array",
          "items": {
            "$ref": "Split"
          }
        }
      }
    },
    "Table": {
      "id": "Table",
      "description": "A collection of user data indexed by row, column, and timestamp. Each table is served using the resources of its parent cluster.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The unique name of the table. Values are of the form `projects\/{project}\/instances\/{instance}\/tables\/_a-zA-Z0-9*`. Views: `NAME_ONLY`, `SCHEMA_VIEW`, `REPLICATION_VIEW`, `FULL`",
          "type": "string"
        },
        "clusterStates": {
          "description": "Output only. Map from cluster ID to per-cluster table state. If it could not be determined whether or not the table has data in a particular cluster (for example, if its zone is unavailable), then there will be an entry for the cluster with UNKNOWN `replication_status`. Views: `REPLICATION_VIEW`, `FULL`",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ClusterState"
          }
        },
        "columnFamilies": {
          "description": "The column families configured for this table, mapped by column family ID. Views: `SCHEMA_VIEW`, `FULL`",
          "type": "object",
          "additionalProperties": {
            "$ref": "ColumnFamily"
          }
        },
        "granularity": {
          "description": "Immutable. The granularity (i.e. `MILLIS`) at which timestamps are stored in this table. Timestamps not matching the granularity will be rejected. If unspecified at creation time, the value will be set to `MILLIS`. Views: `SCHEMA_VIEW`, `FULL`.",
          "type": "string",
          "enumDescriptions": [
            "The user did not specify a granularity. Should not be returned. When specified during table creation, MILLIS will be used.",
            "The table keeps data versioned at a granularity of 1ms."
          ],
          "enum": [
            "TIMESTAMP_GRANULARITY_UNSPECIFIED",
            "MILLIS"
          ]
        },
        "restoreInfo": {
          "description": "Output only. If this table was restored from another data source (e.g. a backup), this field will be populated with information about the restore.",
          "readOnly": true,
          "$ref": "RestoreInfo"
        }
      }
    },
    "ClusterState": {
      "id": "ClusterState",
      "description": "The state of a table's data in a particular cluster.",
      "type": "object",
      "properties": {
        "replicationState": {
          "description": "Output only. The state of replication for the table in this cluster.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The replication state of the table is unknown in this cluster.",
            "The cluster was recently created, and the table must finish copying over pre-existing data from other clusters before it can begin receiving live replication updates and serving Data API requests.",
            "The table is temporarily unable to serve Data API requests from this cluster due to planned internal maintenance.",
            "The table is temporarily unable to serve Data API requests from this cluster due to unplanned or emergency maintenance.",
            "The table can serve Data API requests from this cluster. Depending on replication delay, reads may not immediately reflect the state of the table in other clusters.",
            "The table is fully created and ready for use after a restore, and is being optimized for performance. When optimizations are complete, the table will transition to `READY` state."
          ],
          "enum": [
            "STATE_NOT_KNOWN",
            "INITIALIZING",
            "PLANNED_MAINTENANCE",
            "UNPLANNED_MAINTENANCE",
            "READY",
            "READY_OPTIMIZING"
          ]
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the table in this cluster. If the encryption key protecting this resource is customer managed, then its version can be rotated in KMS. Versions and their corresponding status will enter this list when the system picks up a rotation and will exit this list when a deep rotation of the underlying data has completed.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "EncryptionInfo"
          }
        }
      }
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "description": "Encryption information for a given resource. If this resource is protected with customer managed encryption, the in-use Google Cloud Key Management Service (KMS) key versions will be specified along with their status. This feature might be changed in backward-incompatible ways and is not currently subject to any SLA or deprecation policy.",
      "type": "object",
      "properties": {
        "encryptionType": {
          "description": "Output only. The type of encryption used to protect this resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data backing this resource is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data backing this resource is encrypted at rest with a key that is managed by the customer. The active version of the key and its latest status have been populated."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ]
        },
        "encryptionStatus": {
          "description": "Output only. The status of encrypt\/decrypt calls on underlying data for this resource. Regardless of status, the existing data is always encrypted at rest.",
          "readOnly": true,
          "$ref": "Status"
        },
        "kmsKeyVersion": {
          "description": "Output only. The version of the KMS key specified in the parent cluster that is in-use for the data underlying this table.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ColumnFamily": {
      "id": "ColumnFamily",
      "description": "A set of columns within a table which share a common configuration.",
      "type": "object",
      "properties": {
        "gcRule": {
          "description": "Garbage collection rule specified as a protobuf. Must serialize to at most 500 bytes. NOTE: Garbage collection executes opportunistically in the background, and so it's possible for reads to return a cell even if it matches the active GC expression for its family.",
          "$ref": "GcRule"
        }
      }
    },
    "GcRule": {
      "id": "GcRule",
      "description": "Rule for determining which cells to delete during garbage collection.",
      "type": "object",
      "properties": {
        "maxNumVersions": {
          "description": "Delete all cells in a column except the most recent N.",
          "type": "integer",
          "format": "int32"
        },
        "maxAge": {
          "description": "Delete cells in a column older than the given age. Values must be at least one millisecond, and will be truncated to microsecond granularity.",
          "type": "string",
          "format": "google-duration"
        },
        "intersection": {
          "description": "Delete cells that would be deleted by every nested rule.",
          "$ref": "Intersection"
        },
        "union": {
          "description": "Delete cells that would be deleted by any nested rule.",
          "$ref": "Union"
        }
      }
    },
    "Intersection": {
      "id": "Intersection",
      "description": "A GcRule which deletes cells matching all of the given rules.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "Only delete cells which would be deleted by every element of `rules`.",
          "type": "array",
          "items": {
            "$ref": "GcRule"
          }
        }
      }
    },
    "Union": {
      "id": "Union",
      "description": "A GcRule which deletes cells matching any of the given rules.",
      "type": "object",
      "properties": {
        "rules": {
          "description": "Delete cells which would be deleted by any element of `rules`.",
          "type": "array",
          "items": {
            "$ref": "GcRule"
          }
        }
      }
    },
    "RestoreInfo": {
      "id": "RestoreInfo",
      "description": "Information about a table restore.",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "The type of the restore source.",
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        },
        "backupInfo": {
          "description": "Information about the backup used to restore the table. The backup may no longer exist.",
          "$ref": "BackupInfo"
        }
      }
    },
    "BackupInfo": {
      "id": "BackupInfo",
      "description": "Information about a backup.",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Output only. Name of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time that the backup was started. Row data in the backup will be no older than this timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. This time that the backup was finished. Row data in the backup will be no newer than this timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sourceTable": {
          "description": "Output only. Name of the table the backup was created from.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Split": {
      "id": "Split",
      "description": "An initial split point for a newly created table.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Row key to use as an initial tablet boundary.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListTablesResponse": {
      "id": "ListTablesResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.ListTables",
      "type": "object",
      "properties": {
        "tables": {
          "description": "The tables present in the requested instance.",
          "type": "array",
          "items": {
            "$ref": "Table"
          }
        },
        "nextPageToken": {
          "description": "Set if not all tables could be returned in a single response. Pass this value to `page_token` in another request to get the next page of results.",
          "type": "string"
        }
      }
    },
    "ModifyColumnFamiliesRequest": {
      "id": "ModifyColumnFamiliesRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.ModifyColumnFamilies",
      "type": "object",
      "properties": {
        "modifications": {
          "description": "Required. Modifications to be atomically applied to the specified table's families. Entries are applied in order, meaning that earlier modifications can be masked by later ones (in the case of repeated updates to the same family, for example).",
          "type": "array",
          "items": {
            "$ref": "Modification"
          }
        }
      }
    },
    "Modification": {
      "id": "Modification",
      "description": "A create, update, or delete of a particular column family.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the column family to be modified.",
          "type": "string"
        },
        "create": {
          "description": "Create a new column family with the specified schema, or fail if one already exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "update": {
          "description": "Update an existing column family to the specified schema, or fail if no column family exists with the given ID.",
          "$ref": "ColumnFamily"
        },
        "drop": {
          "description": "Drop (delete) the column family with the given ID, or fail if no such family exists.",
          "type": "boolean"
        }
      }
    },
    "DropRowRangeRequest": {
      "id": "DropRowRangeRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.DropRowRange",
      "type": "object",
      "properties": {
        "rowKeyPrefix": {
          "description": "Delete all rows that start with this row key prefix. Prefix cannot be zero length.",
          "type": "string",
          "format": "byte"
        },
        "deleteAllDataFromTable": {
          "description": "Delete all rows in the table. Setting this to false is a no-op.",
          "type": "boolean"
        }
      }
    },
    "GenerateConsistencyTokenRequest": {
      "id": "GenerateConsistencyTokenRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "type": "object",
      "properties": {
      }
    },
    "GenerateConsistencyTokenResponse": {
      "id": "GenerateConsistencyTokenResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.GenerateConsistencyToken",
      "type": "object",
      "properties": {
        "consistencyToken": {
          "description": "The generated consistency token.",
          "type": "string"
        }
      }
    },
    "CheckConsistencyRequest": {
      "id": "CheckConsistencyRequest",
      "description": "Request message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object",
      "properties": {
        "consistencyToken": {
          "description": "Required. The token created using GenerateConsistencyToken for the Table.",
          "type": "string"
        }
      }
    },
    "CheckConsistencyResponse": {
      "id": "CheckConsistencyResponse",
      "description": "Response message for google.bigtable.admin.v2.BigtableTableAdmin.CheckConsistency",
      "type": "object",
      "properties": {
        "consistent": {
          "description": "True only if the token is consistent. A token is consistent if replication has caught up with the restrictions specified in the request.",
          "type": "boolean"
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "A backup of a Cloud Bigtable table.",
      "type": "object",
      "properties": {
        "name": {
          "description": "A globally unique identifier for the backup which cannot be changed. Values are of the form `projects\/{project}\/instances\/{instance}\/clusters\/{cluster}\/ backups\/_a-zA-Z0-9*` The final segment of the name must be between 1 and 50 characters in length. The backup is stored in the cluster identified by the prefix of the backup name of the form `projects\/{project}\/instances\/{instance}\/clusters\/{cluster}`.",
          "type": "string"
        },
        "sourceTable": {
          "description": "Required. Immutable. Name of the table from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects\/{project}\/instances\/{instance}\/tables\/{source_table}`.",
          "type": "string"
        },
        "expireTime": {
          "description": "Required. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 30 days from the time the request is received. Once the `expire_time` has passed, Cloud Bigtable will delete the backup and free the resources used by the backup.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. `start_time` is the time that the backup was started (i.e. approximately the time the CreateBackup request is received). The row data in this backup will be no older than this timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. `end_time` is the time that the backup was finished. The row data in the backup will be no newer than this timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the backup. If encryption_type is CUSTOMER_MANAGED_ENCRYPTION, kms_key_version will be filled in with status UNKNOWN. If encryption_type is GOOGLE_DEFAULT_ENCRYPTION, all other fields will have default value. This feature might be changed in backward-incompatible ways and is not currently subject to any SLA or deprecation policy.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        }
      }
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups.",
      "type": "object",
      "properties": {
        "backups": {
          "description": "The list of matching backups.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        }
      }
    },
    "RestoreTableRequest": {
      "id": "RestoreTableRequest",
      "description": "The request for RestoreTable.",
      "type": "object",
      "properties": {
        "tableId": {
          "description": "Required. The id of the table to create and restore to. This table must not already exist. The `table_id` appended to `parent` forms the full table name of the form `projects\/\/instances\/\/tables\/`.",
          "type": "string"
        },
        "backup": {
          "description": "Name of the backup from which to restore. Values are of the form `projects\/\/instances\/\/clusters\/\/backups\/`.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "CreateInstanceMetadata": {
      "id": "CreateInstanceMetadata",
      "description": "The metadata for the Operation returned by CreateInstance.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateInstance operation.",
          "$ref": "CreateInstanceRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "description": "The metadata for the Operation returned by UpdateInstance.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateInstance operation.",
          "$ref": "PartialUpdateInstanceRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PartialUpdateInstanceRequest": {
      "id": "PartialUpdateInstanceRequest",
      "description": "Request message for BigtableInstanceAdmin.PartialUpdateInstance.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Required. The Instance which will (partially) replace the current value.",
          "$ref": "Instance"
        },
        "updateMask": {
          "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "CreateClusterMetadata": {
      "id": "CreateClusterMetadata",
      "description": "The metadata for the Operation returned by CreateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this CreateCluster operation.",
          "$ref": "CreateClusterRequest"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "tables": {
          "description": "Keys: the full `name` of each table that existed in the instance when CreateCluster was first called, i.e. `projects\/\/instances\/\/tables\/`. Any table added to the instance by a later API call will be created in the new cluster by that API call, not this one. Values: information on how much of a table's data has been copied to the newly-created cluster so far.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TableProgress"
          }
        }
      }
    },
    "CreateClusterRequest": {
      "id": "CreateClusterRequest",
      "description": "Request message for BigtableInstanceAdmin.CreateCluster.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects\/{project}\/instances\/{instance}`.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects\/myproject\/instances\/myinstance\/clusters\/mycluster`.",
          "type": "string"
        },
        "cluster": {
          "description": "Required. The cluster to be created. Fields marked `OutputOnly` must be left blank.",
          "$ref": "Cluster"
        }
      }
    },
    "TableProgress": {
      "id": "TableProgress",
      "description": "Progress info for copying a table's data to the new cluster.",
      "type": "object",
      "properties": {
        "estimatedSizeBytes": {
          "description": "Estimate of the size of the table to be copied.",
          "type": "string",
          "format": "int64"
        },
        "estimatedCopiedBytes": {
          "description": "Estimate of the number of bytes copied so far for this table. This will eventually reach 'estimated_size_bytes' unless the table copy is CANCELLED.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The table has not yet begun copying to the new cluster.",
            "The table is actively being copied to the new cluster.",
            "The table has been fully copied to the new cluster.",
            "The table was deleted before it finished copying to the new cluster. Note that tables deleted after completion will stay marked as COMPLETED, not CANCELLED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COPYING",
            "COMPLETED",
            "CANCELLED"
          ]
        }
      }
    },
    "UpdateClusterMetadata": {
      "id": "UpdateClusterMetadata",
      "description": "The metadata for the Operation returned by UpdateCluster.",
      "type": "object",
      "properties": {
        "originalRequest": {
          "description": "The request that prompted the initiation of this UpdateCluster operation.",
          "$ref": "Cluster"
        },
        "requestTime": {
          "description": "The time at which the original request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "finishTime": {
          "description": "The time at which the operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "UpdateAppProfileMetadata": {
      "id": "UpdateAppProfileMetadata",
      "description": "The metadata for the Operation returned by UpdateAppProfile.",
      "type": "object",
      "properties": {
      }
    },
    "CreateBackupMetadata": {
      "id": "CreateBackupMetadata",
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "sourceTable": {
          "description": "The name of the table the backup is created from.",
          "type": "string"
        },
        "startTime": {
          "description": "The time at which this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "If set, the time at which this operation finished or was cancelled.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RestoreTableMetadata": {
      "id": "RestoreTableMetadata",
      "description": "Metadata type for the long-running operation returned by RestoreTable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the table being created and restored to.",
          "type": "string"
        },
        "sourceType": {
          "description": "The type of the restore source.",
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "enum": [
            "RESTORE_SOURCE_TYPE_UNSPECIFIED",
            "BACKUP"
          ]
        },
        "backupInfo": {
          "$ref": "BackupInfo"
        },
        "optimizeTableOperationName": {
          "description": "If exists, the name of the long-running operation that will be used to track the post-restore optimization process to optimize the performance of the restored table. The metadata type of the long-running operation is OptimizeRestoreTableMetadata. The response type is Empty. This long-running operation may be automatically created by the system if applicable after the RestoreTable long-running operation completes successfully. This operation may not be created if the table is already optimized or the restore was not successful.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the RestoreTable operation.",
          "$ref": "OperationProgress"
        }
      }
    },
    "OperationProgress": {
      "id": "OperationProgress",
      "description": "Encapsulates progress related information for a Cloud Bigtable long running operation.",
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "Time the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "OptimizeRestoredTableMetadata": {
      "id": "OptimizeRestoredTableMetadata",
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored table. This long-running operation is automatically created by the system after the successful completion of a table restore, and cannot be cancelled.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the restored table being optimized.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        }
      }
    },
    "FailureTrace": {
      "id": "FailureTrace",
      "description": "Added to the error payload.",
      "type": "object",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        }
      }
    },
    "Frame": {
      "id": "Frame",
      "type": "object",
      "properties": {
        "zoneId": {
          "type": "string"
        },
        "targetName": {
          "type": "string"
        },
        "workflowGuid": {
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "id": "bigtableadmin.operations.get",
          "path": "v2/{+name}",
          "flatPath": "v2/operations/{operationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^operations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "delete": {
          "id": "bigtableadmin.operations.delete",
          "path": "v2/{+name}",
          "flatPath": "v2/operations/{operationsId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "required": true,
              "pattern": "^operations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        },
        "cancel": {
          "id": "bigtableadmin.operations.cancel",
          "path": "v2/{+name}:cancel",
          "flatPath": "v2/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "required": true,
              "pattern": "^operations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/bigtable.admin",
            "https://www.googleapis.com/auth/bigtable.admin.cluster",
            "https://www.googleapis.com/auth/bigtable.admin.instance",
            "https://www.googleapis.com/auth/cloud-bigtable.admin",
            "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
      ,
      "resources": {
        "projects": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "bigtableadmin.operations.projects.operations.list",
                  "path": "v2/{+name}/operations",
                  "flatPath": "v2/operations/projects/{projectsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^operations\/projects\/.*$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "create": {
              "id": "bigtableadmin.projects.instances.create",
              "path": "v2/{+parent}/instances",
              "flatPath": "v2/projects/{projectsId}/instances",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The unique name of the project in which to create the new instance. Values are of the form `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateInstanceRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create an instance within a project."
            },
            "get": {
              "id": "bigtableadmin.projects.instances.get",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The unique name of the requested instance. Values are of the form `projects\/{project}\/instances\/{instance}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Instance"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets information about an instance."
            },
            "list": {
              "id": "bigtableadmin.projects.instances.list",
              "path": "v2/{+parent}/instances",
              "flatPath": "v2/projects/{projectsId}/instances",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The unique name of the project for which a list of instances is requested. Values are of the form `projects\/{project}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "DEPRECATED: This field is unused and ignored.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListInstancesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists information about instances in a project."
            },
            "update": {
              "id": "bigtableadmin.projects.instances.update",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "The unique name of the instance. Values are of the form `projects\/{project}\/instances\/a-z+[a-z0-9]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Instance"
              },
              "response": {
                "$ref": "Instance"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an instance within a project. This method updates only the display name and type for an Instance. To update other Instance properties, such as labels, use PartialUpdateInstance."
            },
            "partialUpdateInstance": {
              "id": "bigtableadmin.projects.instances.partialUpdateInstance",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The unique name of the instance. Values are of the form `projects\/{project}\/instances\/a-z+[a-z0-9]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The subset of Instance fields which should be replaced. Must be explicitly set.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Instance"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Partially updates an instance within a project. This method can modify all fields of an Instance and is the preferred way to update an Instance."
            },
            "delete": {
              "id": "bigtableadmin.projects.instances.delete",
              "path": "v2/{+name}",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The unique name of the instance to be deleted. Values are of the form `projects\/{project}\/instances\/{instance}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete an instance from a project."
            },
            "getIamPolicy": {
              "id": "bigtableadmin.projects.instances.getIamPolicy",
              "path": "v2/{+resource}:getIamPolicy",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:getIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the access control policy for an instance resource. Returns an empty policy if an instance exists but does not have a policy set."
            },
            "setIamPolicy": {
              "id": "bigtableadmin.projects.instances.setIamPolicy",
              "path": "v2/{+resource}:setIamPolicy",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:setIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the access control policy on an instance resource. Replaces any existing policy."
            },
            "testIamPermissions": {
              "id": "bigtableadmin.projects.instances.testIamPermissions",
              "path": "v2/{+resource}:testIamPermissions",
              "flatPath": "v2/projects/{projectsId}/instances/{instancesId}:testIamPermissions",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigtable.admin",
                "https://www.googleapis.com/auth/bigtable.admin.cluster",
                "https://www.googleapis.com/auth/bigtable.admin.instance",
                "https://www.googleapis.com/auth/cloud-bigtable.admin",
                "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns permissions that the caller has on the specified instance resource."
            }
          }
          ,
          "resources": {
            "clusters": {
              "methods": {
                "create": {
                  "id": "bigtableadmin.projects.instances.clusters.create",
                  "path": "v2/{+parent}/clusters",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The unique name of the instance in which to create the new cluster. Values are of the form `projects\/{project}\/instances\/{instance}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. The ID to be used when referring to the new cluster within its instance, e.g., just `mycluster` rather than `projects\/myproject\/instances\/myinstance\/clusters\/mycluster`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a cluster within an instance."
                },
                "get": {
                  "id": "bigtableadmin.projects.instances.clusters.get",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters/{clustersId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The unique name of the requested cluster. Values are of the form `projects\/{project}\/instances\/{instance}\/clusters\/{cluster}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/instances\/[^\/]+\/clusters\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Cluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin",
                    "https://www.googleapis.com/auth/cloud-bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets information about a cluster."
                },
                "list": {
                  "id": "bigtableadmin.projects.instances.clusters.list",
                  "path": "v2/{+parent}/clusters",
                  "flatPath": "v2/projects/{projectsId}/instances/{instancesId}/clusters",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The unique name of the instance for which a list of clusters is requested. Values are of the form `projects\/{project}\/instances\/{instance}`. Use `{instance} = '-'` to list Clusters for all Instances in a project, e.g., `projects\/myproject\/instances\/-`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/instances\/[^\/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "DEPRECATED: This field is unused and ignored.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigtable.admin",
                    "https://www.googleapis.com/auth/bigtable.admin.cluster",
                    "https://www.googleapis.com/auth/bigtable.admin.instance",
[...]
