{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "iam:v1",
  "name": "iam",
  "canonicalName": "Iam",
  "version": "v1",
  "revision": "0",
  "title": "Identity and Access Management (IAM) API",
  "description": "Manages identity and access control for Google Cloud Platform resources, including the creation of service accounts, which you can use to authenticate to Google and make API calls. ",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/iam/",
  "protocol": "rest",
  "rootUrl": "https://iam.googleapis.com/",
  "mtlsRootUrl": "https://iam.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://iam.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListServiceAccountsResponse": {
      "id": "ListServiceAccountsResponse",
      "description": "The service account list response.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The list of matching service accounts.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set ListServiceAccountsRequest.page_token to this value.",
          "type": "string"
        }
      }
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "description": "An IAM service account. A service account is an account for an application or a virtual machine (VM) instance, not a person. You can use a service account to call Google APIs. To learn more, read the [overview of service accounts](https:\/\/cloud.google.com\/iam\/help\/service-accounts\/overview). When you create a service account, you specify the project ID that owns the service account, as well as a name that must be unique within the project. IAM uses these values to create an email address that identifies the service account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the service account. Use one of the following formats: * `projects\/{PROJECT_ID}\/serviceAccounts\/{EMAIL_ADDRESS}` * `projects\/{PROJECT_ID}\/serviceAccounts\/{UNIQUE_ID}` As an alternative, you can use the `-` wildcard character instead of the project ID: * `projects\/-\/serviceAccounts\/{EMAIL_ADDRESS}` * `projects\/-\/serviceAccounts\/{UNIQUE_ID}` When possible, avoid using the `-` wildcard character, because it can cause response messages to contain misleading error codes. For example, if you try to get the service account `projects\/-\/serviceAccounts\/fake@example.com`, which does not exist, the response contains an HTTP `403 Forbidden` error instead of a `404 Not Found` error.",
          "type": "string"
        },
        "projectId": {
          "description": "Output only. The ID of the project that owns the service account.",
          "readOnly": true,
          "type": "string"
        },
        "uniqueId": {
          "description": "Output only. The unique, stable numeric ID for the service account. Each service account retains its unique ID even if you delete the service account. For example, if you delete a service account, then create a new service account with the same name, the new service account has a different unique ID than the deleted service account.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "description": "Output only. The email address of the service account.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A user-specified, human-readable name for the service account. The maximum length is 100 UTF-8 bytes.",
          "type": "string"
        },
        "etag": {
          "description": "Deprecated. Do not use.",
          "type": "string",
          "format": "byte"
        },
        "description": {
          "description": "Optional. A user-specified, human-readable description of the service account. The maximum length is 256 UTF-8 bytes.",
          "type": "string"
        },
        "oauth2ClientId": {
          "description": "Output only. The OAuth 2.0 client ID for the service account.",
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "description": "Output only. Whether the service account is disabled.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "CreateServiceAccountRequest": {
      "id": "CreateServiceAccountRequest",
      "description": "The service account create request.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Required. The account id that is used to generate the service account email address and a stable unique id. It is unique within a project, must be 6-30 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The ServiceAccount resource to create. Currently, only the following values are user assignable: `display_name` and `description`.",
          "$ref": "ServiceAccount"
        }
      }
    },
    "PatchServiceAccountRequest": {
      "id": "PatchServiceAccountRequest",
      "description": "The request for PatchServiceAccount. You can patch only the `display_name` and `description` fields. You must use the `update_mask` field to specify which of these fields you want to patch. Only the fields specified in the request are guaranteed to be returned in the response. Other fields may be empty in the response.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "$ref": "ServiceAccount"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "UndeleteServiceAccountRequest": {
      "id": "UndeleteServiceAccountRequest",
      "description": "The service account undelete request.",
      "type": "object",
      "properties": {
      }
    },
    "UndeleteServiceAccountResponse": {
      "id": "UndeleteServiceAccountResponse",
      "type": "object",
      "properties": {
        "restoredAccount": {
          "description": "Metadata for the restored service account.",
          "$ref": "ServiceAccount"
        }
      }
    },
    "EnableServiceAccountRequest": {
      "id": "EnableServiceAccountRequest",
      "description": "The service account enable request.",
      "type": "object",
      "properties": {
      }
    },
    "DisableServiceAccountRequest": {
      "id": "DisableServiceAccountRequest",
      "description": "The service account disable request.",
      "type": "object",
      "properties": {
      }
    },
    "ListServiceAccountKeysResponse": {
      "id": "ListServiceAccountKeysResponse",
      "description": "The service account keys list response.",
      "type": "object",
      "properties": {
        "keys": {
          "description": "The public keys for the service account.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccountKey"
          }
        }
      }
    },
    "ServiceAccountKey": {
      "id": "ServiceAccountKey",
      "description": "Represents a service account key. A service account has two sets of key-pairs: user-managed, and system-managed. User-managed key-pairs can be created and deleted by users. Users are responsible for rotating these keys periodically to ensure security of their service accounts. Users retain the private key of these key-pairs, and Google retains ONLY the public key. System-managed keys are automatically rotated by Google, and are used for signing for a maximum of two weeks. The rotation process is probabilistic, and usage of the new key will gradually ramp up and down over the key's lifetime. If you cache the public key set for a service account, we recommend that you update the cache every 15 minutes. User-managed keys can be added and removed at any time, so it is important to update the cache frequently. For Google-managed keys, Google will publish a key at least 6 hours before it is first used for signing and will keep publishing it for at least 6 hours after it was last used for signing. Public keys for all service accounts are also published at the OAuth2 Service Account API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the service account key in the following format `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}`.",
          "type": "string"
        },
        "privateKeyType": {
          "description": "The output format for the private key. Only provided in `CreateServiceAccountKey` responses, not in `GetServiceAccountKey` or `ListServiceAccountKey` responses. Google never exposes system-managed private keys, and never retains user-managed private keys.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https:\/\/tools.ietf.org\/html\/rfc7292.",
            "Google Credentials File format."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        },
        "keyAlgorithm": {
          "description": "Specifies the algorithm (and possibly key size) for the key.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ]
        },
        "privateKeyData": {
          "description": "The private key data. Only provided in `CreateServiceAccountKey` responses. Make sure to keep the private key data secure because it allows for the assertion of the service account identity. When base64 decoded, the private key data can be used to authenticate with Google API client libraries and with gcloud auth activate-service-account.",
          "type": "string",
          "format": "byte"
        },
        "publicKeyData": {
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses.",
          "type": "string",
          "format": "byte"
        },
        "validAfterTime": {
          "description": "The key can be used after this timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "validBeforeTime": {
          "description": "The key can be used before this timestamp. For system-managed key pairs, this timestamp is the end time for the private key signing operation. The public key could still be used for verification for a few hours after this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "keyOrigin": {
          "description": "The key origin.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified key origin.",
            "Key is provided by user.",
            "Key is provided by Google."
          ],
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "USER_PROVIDED",
            "GOOGLE_PROVIDED"
          ]
        },
        "keyType": {
          "description": "The key type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified key type. The presence of this in the message will immediately result in an error.",
            "User-managed keys (managed and rotated by the user).",
            "System-managed keys (managed and rotated by Google)."
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "USER_MANAGED",
            "SYSTEM_MANAGED"
          ]
        }
      }
    },
    "CreateServiceAccountKeyRequest": {
      "id": "CreateServiceAccountKeyRequest",
      "description": "The service account key create request.",
      "type": "object",
      "properties": {
        "privateKeyType": {
          "description": "The output format of the private key. The default value is `TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File format.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https:\/\/tools.ietf.org\/html\/rfc7292.",
            "Google Credentials File format."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        },
        "keyAlgorithm": {
          "description": "Which type of key and algorithm to use for the key. The default is currently a 2K RSA key. However this may change in the future.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ]
        }
      }
    },
    "UploadServiceAccountKeyRequest": {
      "id": "UploadServiceAccountKeyRequest",
      "description": "The service account key upload request.",
      "type": "object",
      "properties": {
        "publicKeyData": {
          "description": "A field that allows clients to upload their own public key. If set, use this public key data to create a service account key for given service account. Please note, the expected format for this field is X509_PEM.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ServiceAccountIdentityBinding": {
      "id": "ServiceAccountIdentityBinding",
      "description": "Represents a service account identity provider reference. A service account has at most one identity binding for the EAP. This is an alternative to service account keys and enables the service account to be configured to trust an external IDP through the provided identity binding.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the service account identity binding in the following format `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/identityBindings\/{BINDING}`.",
          "type": "string"
        },
        "oidc": {
          "description": "OIDC with discovery.",
          "$ref": "IDPReferenceOIDC"
        },
        "acceptanceFilter": {
          "description": "A CEL expression that is evaluated to determine whether a credential should be accepted. To accept any credential, specify \"true\". See: https:\/\/github.com\/google\/cel-spec . This field supports a subset of the CEL functionality to select fields and evaluate boolean expressions based on the input (no functions or arithmetics). The values for input claims are available using `inclaim.attribute_name` or `inclaim[\\\"attribute_name\\\"]`. The values for output attributes calculated by the translator are available using `outclaim.attribute_name` or `outclaim[\\\"attribute_name\\\"]`.",
          "type": "string"
        },
        "cel": {
          "description": "A set of output attributes and corresponding input attribute expressions.",
          "$ref": "AttributeTranslatorCEL"
        }
      }
    },
    "IDPReferenceOIDC": {
      "id": "IDPReferenceOIDC",
      "description": "Represents a reference to an OIDC provider.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The OpenID Connect URL. To use this Identity Binding, JWT 'iss' field should match this field. When URL is set, public keys will be fetched from the provided URL for credentials verification unless `oidc_jwks` field is set.",
          "type": "string"
        },
        "audience": {
          "description": "Optional. The acceptable audience. Default is the unique_id of the Service Account.",
          "type": "string"
        },
        "maxTokenLifetimeSeconds": {
          "description": "This optional field allows enforcing a maximum lifetime for tokens. Using a lifetime that is as short as possible improves security since it prevents use of exfiltrated tokens after a certain amount of time. All tokens must specify both exp and iat or they will be rejected. If \"nbf\" is present we will reject tokens that are not yet valid. Expiration and lifetime will be enforced in the following way: - \"exp\" > \"current time\" is always required (expired tokens are rejected) - \"iat\" < \"current time\" + 300 seconds is required (tokens from the future . are rejected although a small amount of clock skew is tolerated). - If max_token_lifetime_seconds is set: \"exp\" - \"iat\" < max_token_lifetime_seconds will be checked - The default is otherwise to accept a max_token_lifetime_seconds of 3600 (1 hour)",
          "type": "string",
          "format": "int64"
        },
        "oidcJwks": {
          "description": "Optional. OIDC verification keys in JWKS format (RFC 7517). It contains a list of OIDC verification keys that can be used to verify OIDC JWTs. When OIDC verification key is provided, it will be directly used to verify the OIDC JWT asserted by the IDP.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "AttributeTranslatorCEL": {
      "id": "AttributeTranslatorCEL",
      "description": "Specifies a list of output attribute names and the corresponding input attribute to use for that output attribute. Each defined output attribute is populated with the value of the specified input attribute.",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Each entry specifies the desired output attribute and a CEL field selector expression for the corresponding input to read. This field supports a subset of the CEL functionality to select fields from the input (no boolean expressions, functions or arithmetics). Output attributes must match `(google.sub|a-z_*)`. The output attribute google.sub is interpreted to be the \"identity\" of the requesting user. For example, to copy the inbound attribute \"sub\" into the output `google.sub` add an entry `google.sub` -> `inclaim.sub` or `google.sub` -> `inclaim[\\\"sub\\\"]`. See https:\/\/github.com\/google\/cel-spec for more details. If the input does not exist the output attribute will be null.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CreateServiceAccountIdentityBindingRequest": {
      "id": "CreateServiceAccountIdentityBindingRequest",
      "description": "The service account identity binding create request.",
      "type": "object",
      "properties": {
        "oidc": {
          "description": "An OIDC reference with Discovery.",
          "$ref": "IDPReferenceOIDC"
        },
        "acceptanceFilter": {
          "description": "A CEL expression that is evaluated to determine whether a credential should be accepted. To accept any credential, specify \"true\". See: https:\/\/github.com\/google\/cel-spec . The input claims are available using \"inclaim[\\\"attribute_name\\\"]\". The output attributes calculated by the translator are available using \"outclaim[\\\"attribute_name\\\"]\"",
          "type": "string"
        },
        "cel": {
          "description": "A set of output attributes and corresponding input attribute names.",
          "$ref": "AttributeTranslatorCEL"
        }
      }
    },
    "ListServiceAccountIdentityBindingsResponse": {
      "id": "ListServiceAccountIdentityBindingsResponse",
      "description": "The service account identity bindings list response.",
      "type": "object",
      "properties": {
        "identityBinding": {
          "description": "The identity bindings trusted to assert the service account.",
          "type": "array",
          "items": {
            "$ref": "ServiceAccountIdentityBinding"
          }
        }
      }
    },
    "SignBlobRequest": {
      "id": "SignBlobRequest",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The service account sign blob request.",
      "type": "object",
      "properties": {
        "bytesToSign": {
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The bytes to sign.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "SignBlobResponse": {
      "id": "SignBlobResponse",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The service account sign blob response.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The id of the key used to sign the blob.",
          "type": "string"
        },
        "signature": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The signed blob.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "SignJwtRequest": {
      "id": "SignJwtRequest",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The service account sign JWT request.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 1 hour in the future. If the JWT Claims Set does not contain an expiration time (`exp`) claim, this claim is added automatically, with a timestamp that is 1 hour in the future.",
          "type": "string"
        }
      }
    },
    "SignJwtResponse": {
      "id": "SignJwtResponse",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The service account sign JWT response.",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The id of the key used to sign the JWT.",
          "type": "string"
        },
        "signedJwt": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The signed JWT.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "QueryGrantableRolesRequest": {
      "id": "QueryGrantableRolesRequest",
      "description": "The grantable role query request.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.",
          "type": "string"
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Omits the `included_permissions` field. This is the default value.",
            "Returns all fields."
          ],
          "enum": [
            "BASIC",
            "FULL"
          ]
        },
        "pageSize": {
          "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional pagination token returned in an earlier QueryGrantableRolesResponse.",
          "type": "string"
        }
      }
    },
    "QueryGrantableRolesResponse": {
      "id": "QueryGrantableRolesResponse",
      "description": "The grantable role query response.",
      "type": "object",
      "properties": {
        "roles": {
          "description": "The list of matching roles.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryGrantableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      }
    },
    "Role": {
      "id": "Role",
      "description": "A role in the Identity and Access Management API.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the role. When Role is used in CreateRole, the role name must not be set. When Role is used in output and other input such as UpdateRole, the role name is the complete path, e.g., roles\/logging.viewer for predefined roles and organizations\/{ORGANIZATION_ID}\/roles\/logging.viewer for custom roles.",
          "type": "string"
        },
        "title": {
          "description": "Optional. A human-readable title for the role. Typically this is limited to 100 UTF-8 bytes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description for the role.",
          "type": "string"
        },
        "includedPermissions": {
          "description": "The names of the permissions this role grants when bound in an IAM policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stage": {
          "description": "The current launch stage of the role. If the `ALPHA` launch stage has been selected for a role, the `stage` field will not be included in the returned definition for the role.",
          "type": "string",
          "enumDescriptions": [
            "The user has indicated this role is currently in an Alpha phase. If this launch stage is selected, the `stage` field will not be included when requesting the definition for a given role.",
            "The user has indicated this role is currently in a Beta phase.",
            "The user has indicated this role is generally available.",
            "The user has indicated this role is being deprecated.",
            "This role is disabled and will not contribute permissions to any members it is granted to in policies.",
            "The user has indicated this role is currently in an EAP phase."
          ],
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DISABLED",
            "EAP"
          ]
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write.",
          "type": "string",
          "format": "byte"
        },
        "deleted": {
          "description": "The current deleted state of the role. This field is read only. It will be ignored in calls to CreateRole and UpdateRole.",
          "type": "boolean"
        }
      }
    },
    "ListRolesResponse": {
      "id": "ListRolesResponse",
      "description": "The response containing the roles defined under a resource.",
      "type": "object",
      "properties": {
        "roles": {
          "description": "The Roles defined on this resource.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `ListRolesRequest.page_token` to this value.",
          "type": "string"
        }
      }
    },
    "CreateRoleRequest": {
      "id": "CreateRoleRequest",
      "description": "The request to create a new role.",
      "type": "object",
      "properties": {
        "roleId": {
          "description": "The role ID to use for this role. A role ID may contain alphanumeric characters, underscores (`_`), and periods (`.`). It must contain a minimum of 3 characters and a maximum of 64 characters.",
          "type": "string"
        },
        "role": {
          "description": "The Role resource to create.",
          "$ref": "Role"
        }
      }
    },
    "UndeleteRoleRequest": {
      "id": "UndeleteRoleRequest",
      "description": "The request to undelete an existing role.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Used to perform a consistent read-modify-write.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "QueryTestablePermissionsRequest": {
      "id": "QueryTestablePermissionsRequest",
      "description": "A request to get permissions which can be tested on a resource.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of testable permissions. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional limit on the number of permissions to include in the response. The default is 100, and the maximum is 1,000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional pagination token returned in an earlier QueryTestablePermissionsRequest.",
          "type": "string"
        }
      }
    },
    "QueryTestablePermissionsResponse": {
      "id": "QueryTestablePermissionsResponse",
      "description": "The response containing permissions which can be tested on a resource.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The Permissions testable on the requested resource.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryTestableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission which can be included by a role.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this Permission.",
          "type": "string"
        },
        "title": {
          "description": "The title of this Permission.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of what this Permission is used for. This permission can ONLY be used in predefined roles.",
          "type": "string"
        },
        "onlyInPredefinedRoles": {
          "type": "boolean"
        },
        "stage": {
          "description": "The current launch stage of the permission.",
          "type": "string",
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ],
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "customRolesSupportLevel": {
          "description": "The current custom role support level.",
          "type": "string",
          "enumDescriptions": [
            "Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ],
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ]
        },
        "apiDisabled": {
          "description": "The service API associated with the permission is not enabled.",
          "type": "boolean"
        },
        "primaryPermission": {
          "description": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission.",
          "type": "string"
        }
      }
    },
    "QueryAuditableServicesRequest": {
      "id": "QueryAuditableServicesRequest",
      "description": "A request to get the list of auditable services for a resource.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of auditable services. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`.",
          "type": "string"
        }
      }
    },
    "QueryAuditableServicesResponse": {
      "id": "QueryAuditableServicesResponse",
      "description": "A response containing a list of auditable services for a resource.",
      "type": "object",
      "properties": {
        "services": {
          "description": "The auditable services for a resource.",
          "type": "array",
          "items": {
            "$ref": "AuditableService"
          }
        }
      }
    },
    "AuditableService": {
      "id": "AuditableService",
      "description": "Contains information about an auditable service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Public name of the service. For example, the service name for Cloud IAM is 'iam.googleapis.com'.",
          "type": "string"
        }
      }
    },
    "LintPolicyRequest": {
      "id": "LintPolicyRequest",
      "description": "The request to lint a Cloud IAM policy object.",
      "type": "object",
      "properties": {
        "fullResourceName": {
          "description": "The full resource name of the policy this lint request is about. The name follows the Google Cloud Platform (GCP) resource format. For example, a GCP project with ID `my-project` will be named `\/\/cloudresourcemanager.googleapis.com\/projects\/my-project`. The resource name is not used to read the policy instance from the Cloud IAM database. The candidate policy for lint has to be provided in the same request object.",
          "type": "string"
        },
        "condition": {
          "description": "google.iam.v1.Binding.condition object to be linted.",
          "$ref": "Expr"
        }
      }
    },
    "LintPolicyResponse": {
      "id": "LintPolicyResponse",
      "description": "The response of a lint operation. An empty response indicates the operation was able to fully execute and no lint issue was found.",
      "type": "object",
      "properties": {
        "lintResults": {
          "description": "List of lint results sorted by `severity` in descending order.",
          "type": "array",
          "items": {
            "$ref": "LintResult"
          }
        }
      }
    },
    "LintResult": {
      "id": "LintResult",
      "description": "Structured response of a single validation unit.",
      "type": "object",
      "properties": {
        "level": {
          "description": "The validation unit level.",
          "type": "string",
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on an individual condition within a binding."
          ],
          "enum": [
            "LEVEL_UNSPECIFIED",
            "CONDITION"
          ]
        },
        "validationUnitName": {
          "description": "The validation unit name, for instance \"lintValidationUnits\/ConditionComplexityCheck\".",
          "type": "string"
        },
        "severity": {
          "description": "The validation unit severity.",
          "type": "string",
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an attempt is made to set the problematic policy without rectifying the critical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error. For example, suspicious constructs in the input object will not necessarily fail `setPolicy`, but there is a high likelihood that they won't behave as expected during policy evaluation in `checkPolicy`. This includes the following common scenarios: - Unsatisfiable condition: Expired timestamp in date\/time condition. - Ineffective condition: Condition on a pair which is granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`\/`WARNING`, but need special handling. For instance, messages about skipped validation units are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise `ERROR`\/`WARNING`\/`NOTICE`, like auto-correction recommendations on the input content. Note that current version of the linter does not utilize `INFO`.",
            "Deprecated severity level."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ]
        },
        "fieldName": {
          "description": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition.",
          "type": "string"
        },
        "locationOffset": {
          "description": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression.",
          "type": "integer",
          "format": "int32"
        },
        "debugMessage": {
          "description": "Human readable debug message associated with the issue.",
          "type": "string"
        }
      }
    },
    "AdminAuditData": {
      "id": "AdminAuditData",
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object",
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "PermissionDelta"
        }
      }
    },
    "PermissionDelta": {
      "id": "PermissionDelta",
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "description": "Added permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedPermissions": {
          "description": "Removed permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuditData": {
      "id": "AuditData",
      "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object",
      "properties": {
        "policyDelta": {
          "description": "Policy delta between the original policy and the newly set policy.",
          "$ref": "PolicyDelta"
        }
      }
    },
    "PolicyDelta": {
      "id": "PolicyDelta",
      "description": "The difference delta between two policies.",
      "type": "object",
      "properties": {
        "bindingDeltas": {
          "description": "The delta for Bindings between two policies.",
          "type": "array",
          "items": {
            "$ref": "BindingDelta"
          }
        }
      }
    },
    "BindingDelta": {
      "id": "BindingDelta",
      "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
      "type": "object",
      "properties": {
        "action": {
          "description": "The action that was performed on a Binding. Required",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`. Required",
          "type": "string"
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource. Follows the same format of Binding.members. Required",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding.",
          "$ref": "Expr"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "serviceAccounts": {
          "methods": {
            "list": {
              "id": "iam.projects.serviceAccounts.list",
              "path": "v1/{+name}/serviceAccounts",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the project associated with the service accounts, such as `projects\/my-project-123`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional limit on the number of service accounts to include in the response. Further accounts can subsequently be obtained by including the ListServiceAccountsResponse.next_page_token in a subsequent request. The default is 20, and the maximum is 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional pagination token returned in an earlier ListServiceAccountsResponse.next_page_token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListServiceAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists every ServiceAccount that belongs to a specific project."
            },
            "get": {
              "id": "iam.projects.serviceAccounts.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a ServiceAccount."
            },
            "create": {
              "id": "iam.projects.serviceAccounts.create",
              "path": "v1/{+name}/serviceAccounts",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the project associated with the service accounts, such as `projects\/my-project-123`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CreateServiceAccountRequest"
              },
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a ServiceAccount."
            },
            "update": {
              "id": "iam.projects.serviceAccounts.update",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account. Use one of the following formats: * `projects\/{PROJECT_ID}\/serviceAccounts\/{EMAIL_ADDRESS}` * `projects\/{PROJECT_ID}\/serviceAccounts\/{UNIQUE_ID}` As an alternative, you can use the `-` wildcard character instead of the project ID: * `projects\/-\/serviceAccounts\/{EMAIL_ADDRESS}` * `projects\/-\/serviceAccounts\/{UNIQUE_ID}` When possible, avoid using the `-` wildcard character, because it can cause response messages to contain misleading error codes. For example, if you try to get the service account `projects\/-\/serviceAccounts\/fake@example.com`, which does not exist, the response contains an HTTP `403 Forbidden` error instead of a `404 Not Found` error.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ServiceAccount"
              },
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "**Note:** We are in the process of deprecating this method. Use PatchServiceAccount instead. Updates a ServiceAccount. You can update only the `display_name` and `description` fields."
            },
            "patch": {
              "id": "iam.projects.serviceAccounts.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account. Use one of the following formats: * `projects\/{PROJECT_ID}\/serviceAccounts\/{EMAIL_ADDRESS}` * `projects\/{PROJECT_ID}\/serviceAccounts\/{UNIQUE_ID}` As an alternative, you can use the `-` wildcard character instead of the project ID: * `projects\/-\/serviceAccounts\/{EMAIL_ADDRESS}` * `projects\/-\/serviceAccounts\/{UNIQUE_ID}` When possible, avoid using the `-` wildcard character, because it can cause response messages to contain misleading error codes. For example, if you try to get the service account `projects\/-\/serviceAccounts\/fake@example.com`, which does not exist, the response contains an HTTP `403 Forbidden` error instead of a `404 Not Found` error.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PatchServiceAccountRequest"
              },
              "response": {
                "$ref": "ServiceAccount"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Patches a ServiceAccount."
            },
            "delete": {
              "id": "iam.projects.serviceAccounts.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a ServiceAccount. **Warning:** After you delete a service account, you might not be able to undelete it. If you know that you need to re-enable the service account in the future, use DisableServiceAccount instead. If you delete a service account, IAM permanently removes the service account 30 days later. Google Cloud cannot recover the service account after it is permanently removed, even if you file a support request. To help avoid unplanned outages, we recommend that you disable the service account before you delete it. Use DisableServiceAccount to disable the service account, then wait at least 24 hours and watch for unintended consequences. If there are no unintended consequences, you can delete the service account."
            },
            "undelete": {
              "id": "iam.projects.serviceAccounts.undelete",
              "path": "v1/{+name}:undelete",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:undelete",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT_UNIQUE_ID}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UndeleteServiceAccountRequest"
              },
              "response": {
                "$ref": "UndeleteServiceAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Restores a deleted ServiceAccount. **Important:** It is not always possible to restore a deleted service account. Use this method only as a last resort. After you delete a service account, IAM permanently removes the service account 30 days later. There is no way to restore a deleted service account that has been permanently removed."
            },
            "enable": {
              "id": "iam.projects.serviceAccounts.enable",
              "path": "v1/{+name}:enable",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:enable",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "EnableServiceAccountRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Enables a ServiceAccount that was disabled by DisableServiceAccount. If the service account is already enabled, then this method has no effect. If the service account was disabled by other means\u2014for example, if Google disabled the service account because it was compromised\u2014you cannot use this method to enable the service account."
            },
            "disable": {
              "id": "iam.projects.serviceAccounts.disable",
              "path": "v1/{+name}:disable",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:disable",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "DisableServiceAccountRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Disables a ServiceAccount immediately. If an application uses the service account to authenticate, that application can no longer call Google APIs or access Google Cloud resources. Existing access tokens for the service account are rejected, and requests for new access tokens will fail. To re-enable the service account, use EnableServiceAccount. After you re-enable the service account, its existing access tokens will be accepted, and you can request new access tokens. To help avoid unplanned outages, we recommend that you disable the service account before you delete it. Use this method to disable the service account, then wait at least 24 hours and watch for unintended consequences. If there are no unintended consequences, you can delete the service account with DeleteServiceAccount."
            },
            "signBlob": {
              "id": "iam.projects.serviceAccounts.signBlob",
              "path": "v1/{+name}:signBlob",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SignBlobRequest"
              },
              "response": {
                "$ref": "SignBlobResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "**Note:** This method is deprecated and will stop working on July 1, 2021. Use the [`signBlob`](https:\/\/cloud.google.com\/iam\/help\/rest-credentials\/v1\/projects.serviceAccounts\/signBlob) method in the IAM Service Account Credentials API instead. If you currently use this method, see the [migration guide](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api) for instructions. Signs a blob using the system-managed private key for a ServiceAccount."
            },
            "signJwt": {
              "id": "iam.projects.serviceAccounts.signJwt",
              "path": "v1/{+name}:signJwt",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api). The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SignJwtRequest"
              },
              "response": {
                "$ref": "SignJwtResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "**Note:** This method is deprecated and will stop working on July 1, 2021. Use the [`signJwt`](https:\/\/cloud.google.com\/iam\/help\/rest-credentials\/v1\/projects.serviceAccounts\/signJwt) method in the IAM Service Account Credentials API instead. If you currently use this method, see the [migration guide](https:\/\/cloud.google.com\/iam\/help\/credentials\/migrate-api) for instructions. Signs a JSON Web Token (JWT) using the system-managed private key for a ServiceAccount."
            },
            "getIamPolicy": {
              "id": "iam.projects.serviceAccounts.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:getIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                },
                "options.requestedPolicyVersion": {
                  "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the IAM policy that is attached to a ServiceAccount. This IAM policy specifies which members have access to the service account. This method does not tell you whether the service account has been granted any roles on other resources. To check whether a service account has role grants on a resource, use the `getIamPolicy` method for that resource. For example, to view the role grants for a project, call the Resource Manager API's [`projects.getIamPolicy`](https:\/\/cloud.google.com\/resource-manager\/reference\/rest\/v1\/projects\/getIamPolicy) method."
            },
            "setIamPolicy": {
              "id": "iam.projects.serviceAccounts.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:setIamPolicy",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sets the IAM policy that is attached to a ServiceAccount. Use this method to grant or revoke access to the service account. For example, you could grant a member the ability to impersonate the service account. This method does not enable the service account to access other resources. To grant roles to a service account on a resource, follow these steps: 1. Call the resource's `getIamPolicy` method to get its current IAM policy. 2. Edit the policy so that it binds the service account to an IAM role for the resource. 3. Call the resource's `setIamPolicy` method to update its IAM policy. For detailed instructions, see [Granting roles to a service account for specific resources](https:\/\/cloud.google.com\/iam\/help\/service-accounts\/granting-access-to-service-accounts)."
            },
            "testIamPermissions": {
              "id": "iam.projects.serviceAccounts.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:testIamPermissions",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Tests whether the caller has the specified permissions on a ServiceAccount."
            }
          }
          ,
          "resources": {
            "keys": {
              "methods": {
                "list": {
                  "id": "iam.projects.serviceAccounts.keys.list",
                  "path": "v1/{+name}/keys",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID`, will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    },
                    "keyTypes": {
                      "description": "Filters the types of keys the user wants to include in the list response. Duplicate key types are not allowed. If no key type is provided, all keys are returned.",
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified key type. The presence of this in the message will immediately result in an error.",
                        "User-managed keys (managed and rotated by the user).",
                        "System-managed keys (managed and rotated by Google)."
                      ],
                      "enum": [
                        "KEY_TYPE_UNSPECIFIED",
                        "USER_MANAGED",
                        "SYSTEM_MANAGED"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListServiceAccountKeysResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists every ServiceAccountKey for a service account."
                },
                "get": {
                  "id": "iam.projects.serviceAccounts.keys.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys/{keysId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the service account key in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/keys\/[^\/]+$",
                      "type": "string"
                    },
                    "publicKeyType": {
                      "description": "The output format of the public key requested. X509_PEM is the default output format.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified. Returns nothing here.",
                        "X509 PEM format.",
                        "Raw public key."
                      ],
                      "enum": [
                        "TYPE_NONE",
                        "TYPE_X509_PEM_FILE",
                        "TYPE_RAW_PUBLIC_KEY"
                      ]
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ServiceAccountKey"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a ServiceAccountKey."
                },
                "create": {
                  "id": "iam.projects.serviceAccounts.keys.create",
                  "path": "v1/{+name}/keys",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CreateServiceAccountKeyRequest"
                  },
                  "response": {
                    "$ref": "ServiceAccountKey"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a ServiceAccountKey."
                },
                "upload": {
                  "id": "iam.projects.serviceAccounts.keys.upload",
                  "path": "v1/{+name}/keys:upload",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys:upload",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "UploadServiceAccountKeyRequest"
                  },
                  "response": {
                    "$ref": "ServiceAccountKey"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a ServiceAccountKey, using a public key that you provide."
                },
                "delete": {
                  "id": "iam.projects.serviceAccounts.keys.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/keys/{keysId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the service account key in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/keys\/{key}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/keys\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a ServiceAccountKey. Deleting a service account key does not revoke short-lived credentials that have been issued based on the service account key."
                }
              }
            },
            "identityBindings": {
              "methods": {
                "get": {
                  "id": "iam.projects.serviceAccounts.identityBindings.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings/{identityBindingsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account identity binding in the following format `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/identityBindings\/{BINDING}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/identityBindings\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ServiceAccountIdentityBinding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": ""
                },
                "create": {
                  "id": "iam.projects.serviceAccounts.identityBindings.create",
                  "path": "v1/{+name}/identityBindings",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CreateServiceAccountIdentityBindingRequest"
                  },
                  "response": {
                    "$ref": "ServiceAccountIdentityBinding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": ""
                },
                "delete": {
                  "id": "iam.projects.serviceAccounts.identityBindings.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings/{identityBindingsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account identity binding in the following format `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}\/identityBindings\/{BINDING}`. Using `-` as a wildcard for the `PROJECT_ID` will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+\/identityBindings\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": ""
                },
                "list": {
                  "id": "iam.projects.serviceAccounts.identityBindings.list",
                  "path": "v1/{+name}/identityBindings",
                  "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}/identityBindings",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the service account in the following format: `projects\/{PROJECT_ID}\/serviceAccounts\/{ACCOUNT}`. Using `-` as a wildcard for the `PROJECT_ID`, will infer the project from the account. The `ACCOUNT` value can be the `email` address or the `unique_id` of the service account.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/serviceAccounts\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListServiceAccountIdentityBindingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": ""
                }
              }
            }
          }
        },
        "roles": {
          "methods": {
            "list": {
              "id": "iam.projects.roles.list",
              "path": "v1/{+parent}/roles",
              "flatPath": "v1/projects/{projectsId}/roles",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
[...]
