{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "bigquery:v2",
  "name": "bigquery",
  "version": "v2",
  "revision": "0",
  "title": "BigQuery API",
  "description": "A data platform for customers to create, manage, share and query data.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://developers.google.com/bigquery/",
  "protocol": "rest",
  "rootUrl": "https://bigquery.googleapis.com/",
  "mtlsRootUrl": "https://bigquery.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://bigquery.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.insertdata": {
          "description": "Insert data into Google BigQuery"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/devstorage.full_control": {
          "description": "Manage your data and permissions in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_only": {
          "description": "View your data in Google Cloud Storage"
        },
        "https://www.googleapis.com/auth/devstorage.read_write": {
          "description": "Manage your data in Google Cloud Storage"
        }
      }
    }
  },
  "schemas": {
    "Dataset": {
      "id": "Dataset",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The resource type.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. The fully-qualified unique name of the dataset in the format projectId:datasetId. The dataset name without the project name is given in the datasetId field. When creating a new dataset, leave this field blank, and instead specify the datasetId field.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A URL that can be used to access the resource again. You can use this URL in Get or Update requests to the resource.",
          "readOnly": true,
          "type": "string"
        },
        "datasetReference": {
          "description": "Required. A reference that identifies the dataset.",
          "$ref": "DatasetReference"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for the dataset.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A user-friendly description of the dataset.",
          "type": "string"
        },
        "defaultTableExpirationMs": {
          "description": "Optional. The default lifetime of all tables in the dataset, in milliseconds The minimum value is 3600000 milliseconds (one hour). Once this property is set, all newly-created tables in the dataset will have an expirationTime property set to the creation time plus the value in this property, and changing the value will only affect new tables, not existing ones. When the expirationTime for a given table is reached, that table will be deleted automatically. If a table's expirationTime is modified or removed before the table expires, or if you provide an explicit expirationTime when creating a table, that value takes precedence over the default expiration time indicated by this property.",
          "type": "string",
          "format": "int64"
        },
        "defaultPartitionExpirationMs": {
          "description": "This default partition expiration, expressed in milliseconds. When new time-partitioned tables are created in a dataset where this property is set, the table will inherit this value, propagated as the `TimePartitioning.expirationMs` property on the new table. If you set `TimePartitioning.expirationMs` explicitly when creating a table, the `defaultPartitionExpirationMs` of the containing dataset is ignored. When creating a partitioned table, if `defaultPartitionExpirationMs` is set, the `defaultTableExpirationMs` value is ignored and the table will not be inherit a table expiration deadline.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See Creating and Updating Dataset Labels for more information.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "access": {
          "description": "Optional. An array of objects that define dataset access for one or more entities. You can set this property when inserting or updating a dataset in order to control who is allowed to access the data. If unspecified at dataset creation time, BigQuery adds default dataset access for the following entities: access.specialGroup: projectReaders; access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup: projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email]; access.role: OWNER;",
          "type": "array",
          "items": {
            "description": "An object that defines dataset access for an entity.",
            "type": "object",
            "properties": {
              "role": {
                "description": "Required. An IAM role ID that should be granted to the user, group, or domain specified in this access entry. The following legacy mappings will be applied: OWNER <=> roles\/bigquery.dataOwner WRITER <=> roles\/bigquery.dataEditor READER <=> roles\/bigquery.dataViewer This field will accept any of the above formats, but will return only the legacy format. For example, if you set this field to \"roles\/bigquery.dataOwner\", it will be returned back as \"OWNER\".",
                "type": "string"
              },
              "userByEmail": {
                "description": "[Pick one] An email address of a user to grant access to. For example: fred@example.com. Maps to IAM policy member \"user:EMAIL\" or \"serviceAccount:EMAIL\".",
                "type": "string"
              },
              "groupByEmail": {
                "description": "[Pick one] An email address of a Google Group to grant access to. Maps to IAM policy member \"group:GROUP\".",
                "type": "string"
              },
              "domain": {
                "description": "[Pick one] A domain to grant access to. Any users signed in with the domain specified will be granted the specified access. Example: \"example.com\". Maps to IAM policy member \"domain:DOMAIN\".",
                "type": "string"
              },
              "specialGroup": {
                "description": "[Pick one] A special group to grant access to. Possible values include: projectOwners: Owners of the enclosing project. projectReaders: Readers of the enclosing project. projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated BigQuery users. Maps to similarly-named IAM members.",
                "type": "string"
              },
              "iamMember": {
                "description": "[Pick one] Some other type of member that appears in the IAM Policy but isn't a user, group, domain, or special group.",
                "type": "string"
              },
              "view": {
                "description": "[Pick one] A view from a different dataset to grant access to. Queries executed against that view will have read access to views\/tables\/routines in this dataset. The role field is not required when this field is set. If that view is updated by any user, access to the view needs to be granted again via an update operation.",
                "$ref": "TableReference"
              },
              "routine": {
                "description": "[Pick one] A routine from a different dataset to grant access to. Queries executed against that routine will have read access to views\/tables\/routines in this dataset. The role field is not required when this field is set. If that routine is updated by any user, access to the routine needs to be granted again via an update operation.",
                "$ref": "RoutineReference"
              }
            }
          }
        },
        "creationTime": {
          "description": "Output only. The time when this dataset was created, in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Output only. The date when this dataset or any of its tables was last modified, in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "location": {
          "description": "The geographic location where the dataset should reside. See https:\/\/cloud.google.com\/bigquery\/docs\/locations for supported locations.",
          "type": "string"
        },
        "defaultEncryptionConfiguration": {
          "description": "The default encryption key for all tables in the dataset. Once this property is set, all newly-created partitioned tables in the dataset will have encryption key set to this value, unless table creation request (or query) overrides the key.",
          "$ref": "EncryptionConfiguration"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "DatasetReference": {
      "id": "DatasetReference",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "Optional. The ID of the project containing this dataset.",
          "type": "string"
        }
      }
    },
    "TableReference": {
      "id": "TableReference",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this table.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this table.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The ID of the table. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters. Certain operations allow suffixing of the table ID with a partition decorator, such as `sample_table$20190123`.",
          "type": "string"
        }
      }
    },
    "RoutineReference": {
      "id": "RoutineReference",
      "description": "Id path of a routine.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this routine.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this routine.",
          "type": "string"
        },
        "routineId": {
          "description": "Required. The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
          "type": "string"
        }
      }
    },
    "EncryptionConfiguration": {
      "id": "EncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. Describes the Cloud KMS encryption key that will be used to protect destination BigQuery table. The BigQuery Service Account associated with your project requires access to this encryption key.",
          "type": "string"
        }
      }
    },
    "DatasetList": {
      "id": "DatasetList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The resource type. This property always returns the value \"bigquery#datasetList\"",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
          "readOnly": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
          "type": "string"
        },
        "datasets": {
          "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
          "type": "array",
          "items": {
            "description": "A dataset resource with only a subset of fields, to be returned in a list of datasets.",
            "type": "object",
            "properties": {
              "kind": {
                "description": "The resource type. This property always returns the value \"bigquery#dataset\"",
                "type": "string"
              },
              "id": {
                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                "type": "string"
              },
              "datasetReference": {
                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID.",
                "$ref": "DatasetReference"
              },
              "labels": {
                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "friendlyName": {
                "description": "An alternate name for the dataset. The friendly name is purely decorative in nature.",
                "type": "string"
              },
              "location": {
                "description": "The geographic location where the dataset resides.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Model": {
      "id": "Model",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Output only. A hash of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "modelReference": {
          "description": "Required. Unique identifier for this model.",
          "$ref": "ModelReference"
        },
        "creationTime": {
          "description": "Output only. The time when this model was created, in millisecs since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Output only. The time when this model was last modified, in millisecs since the epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "description": {
          "description": "Optional. A user-friendly description of this model.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for this model.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this model. You can use these to organize and group your models. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expirationTime": {
          "description": "Optional. The time when this model expires, in milliseconds since the epoch. If not present, the model will persist indefinitely. Expired models will be deleted and their storage reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can be used to set a default expirationTime on newly created models.",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "description": "Output only. The geographic location where the model resides. This value is inherited from the dataset.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys). This shows the encryption configuration of the model data while stored in BigQuery storage. This field can be used with PatchModel to update encryption key for an already encrypted model.",
          "$ref": "EncryptionConfiguration"
        },
        "modelType": {
          "description": "Output only. Type of the model resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "Linear regression model.",
            "Logistic regression based classification model.",
            "K-means clustering model.",
            "Matrix factorization model.",
            "[Beta] DNN classifier model.",
            "[Beta] An imported TensorFlow model.",
            "[Beta] DNN regressor model.",
            "[Beta] Boosted tree regressor model.",
            "[Beta] Boosted tree classifier model.",
            "[Beta] ARIMA model.",
            "[Beta] AutoML Tables regression model.",
            "[Beta] AutoML Tables classification model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "LINEAR_REGRESSION",
            "LOGISTIC_REGRESSION",
            "KMEANS",
            "MATRIX_FACTORIZATION",
            "DNN_CLASSIFIER",
            "TENSORFLOW",
            "DNN_REGRESSOR",
            "BOOSTED_TREE_REGRESSOR",
            "BOOSTED_TREE_CLASSIFIER",
            "ARIMA",
            "AUTOML_REGRESSOR",
            "AUTOML_CLASSIFIER"
          ]
        },
        "trainingRuns": {
          "description": "Output only. Information for all training runs in increasing order of start_time.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "TrainingRun"
          }
        },
        "featureColumns": {
          "description": "Output only. Input feature columns that were used to train this model.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        },
        "labelColumns": {
          "description": "Output only. Label columns that were used to train this model. The output of the model will have a \"predicted_\" prefix to these columns.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      }
    },
    "ModelReference": {
      "id": "ModelReference",
      "description": "Id path of a model.",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this model.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The ID of the dataset containing this model.",
          "type": "string"
        },
        "modelId": {
          "description": "Required. The ID of the model. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        }
      }
    },
    "TrainingRun": {
      "id": "TrainingRun",
      "description": "Information about a single training query run for the model.",
      "type": "object",
      "properties": {
        "trainingOptions": {
          "description": "Options that were used for this training run, includes user specified and default options that were used.",
          "$ref": "TrainingOptions"
        },
        "startTime": {
          "description": "The start time of this training run.",
          "type": "string",
          "format": "google-datetime"
        },
        "results": {
          "description": "Output of each iteration run, results.size() <= max_iterations.",
          "type": "array",
          "items": {
            "$ref": "IterationResult"
          }
        },
        "evaluationMetrics": {
          "description": "The evaluation metrics over training\/eval data that were computed at the end of training.",
          "$ref": "EvaluationMetrics"
        },
        "dataSplitResult": {
          "description": "Data split result of the training run. Only set when the input data is actually split.",
          "$ref": "DataSplitResult"
        }
      }
    },
    "TrainingOptions": {
      "id": "TrainingOptions",
      "type": "object",
      "properties": {
        "maxIterations": {
          "description": "The maximum number of iterations in training. Used only for iterative training algorithms.",
          "type": "string",
          "format": "int64"
        },
        "lossType": {
          "description": "Type of loss function used during training run.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Mean squared loss, used for linear regression.",
            "Mean log loss, used for logistic regression."
          ],
          "enum": [
            "LOSS_TYPE_UNSPECIFIED",
            "MEAN_SQUARED_LOSS",
            "MEAN_LOG_LOSS"
          ]
        },
        "learnRate": {
          "description": "Learning rate in training. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "l1Regularization": {
          "description": "L1 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "l2Regularization": {
          "description": "L2 regularization coefficient.",
          "type": "number",
          "format": "double"
        },
        "minRelativeProgress": {
          "description": "When early_stop is true, stops training when accuracy improvement is less than 'min_relative_progress'. Used only for iterative training algorithms.",
          "type": "number",
          "format": "double"
        },
        "warmStart": {
          "description": "Whether to train a model from the last checkpoint.",
          "type": "boolean"
        },
        "earlyStop": {
          "description": "Whether to stop early when the loss doesn't improve significantly any more (compared to min_relative_progress). Used only for iterative training algorithms.",
          "type": "boolean"
        },
        "inputLabelColumns": {
          "description": "Name of input label columns in training data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSplitMethod": {
          "description": "The data split type for training and evaluation, e.g. RANDOM.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Splits data randomly.",
            "Splits data with the user provided tags.",
            "Splits data sequentially.",
            "Data split will be skipped.",
            "Splits data automatically: Uses NO_SPLIT if the data size is small. Otherwise uses RANDOM."
          ],
          "enum": [
            "DATA_SPLIT_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "SEQUENTIAL",
            "NO_SPLIT",
            "AUTO_SPLIT"
          ]
        },
        "dataSplitEvalFraction": {
          "description": "The fraction of evaluation data over the whole input data. The rest of data will be used as training data. The format should be double. Accurate to two decimal places. Default value is 0.2.",
          "type": "number",
          "format": "double"
        },
        "dataSplitColumn": {
          "description": "The column to split data with. This column won't be used as a feature. 1. When data_split_method is CUSTOM, the corresponding column should be boolean. The rows with true value tag are eval data, and the false are training data. 2. When data_split_method is SEQ, the first DATA_SPLIT_EVAL_FRACTION rows (from smallest to largest) in the corresponding column are used as training data, and the rest are eval data. It respects the order in Orderable data types: https:\/\/cloud.google.com\/bigquery\/docs\/reference\/standard-sql\/data-types#data-type-properties",
          "type": "string"
        },
        "learnRateStrategy": {
          "description": "The strategy to determine learn rate for the current iteration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Use line search to determine learning rate.",
            "Use a constant learning rate."
          ],
          "enum": [
            "LEARN_RATE_STRATEGY_UNSPECIFIED",
            "LINE_SEARCH",
            "CONSTANT"
          ]
        },
        "initialLearnRate": {
          "description": "Specifies the initial learning rate for the line search learn rate strategy.",
          "type": "number",
          "format": "double"
        },
        "labelClassWeights": {
          "description": "Weights associated with each label class, for rebalancing the training data. Only applicable for classification models.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "userColumn": {
          "description": "User column specified for matrix factorization models.",
          "type": "string"
        },
        "itemColumn": {
          "description": "Item column specified for matrix factorization models.",
          "type": "string"
        },
        "distanceType": {
          "description": "Distance type for clustering models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Eculidean distance.",
            "Cosine distance."
          ],
          "enum": [
            "DISTANCE_TYPE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE"
          ]
        },
        "numClusters": {
          "description": "Number of clusters for clustering models.",
          "type": "string",
          "format": "int64"
        },
        "modelUri": {
          "description": "[Beta] Google Cloud Storage URI from which the model was imported. Only applicable for imported models.",
          "type": "string"
        },
        "optimizationStrategy": {
          "description": "Optimization strategy for training linear regression models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Uses an iterative batch gradient descent algorithm.",
            "Uses a normal equation to solve linear regression problem."
          ],
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "BATCH_GRADIENT_DESCENT",
            "NORMAL_EQUATION"
          ]
        },
        "hiddenUnits": {
          "description": "Hidden units for dnn models.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "batchSize": {
          "description": "Batch size for dnn models.",
          "type": "string",
          "format": "int64"
        },
        "dropout": {
          "description": "Dropout probability for dnn models.",
          "type": "number",
          "format": "double"
        },
        "maxTreeDepth": {
          "description": "Maximum depth of a tree for boosted tree models.",
          "type": "string",
          "format": "int64"
        },
        "subsample": {
          "description": "Subsample fraction of the training data to grow tree to prevent overfitting for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "minSplitLoss": {
          "description": "Minimum split loss for boosted tree models.",
          "type": "number",
          "format": "double"
        },
        "numFactors": {
          "description": "Num factors specified for matrix factorization models.",
          "type": "string",
          "format": "int64"
        },
        "feedbackType": {
          "description": "Feedback type that specifies which algorithm to run for matrix factorization.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Use weighted-als for implicit feedback problems.",
            "Use nonweighted-als for explicit feedback problems."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "IMPLICIT",
            "EXPLICIT"
          ]
        },
        "walsAlpha": {
          "description": "Hyperparameter for matrix factoration when implicit feedback type is specified.",
          "type": "number",
          "format": "double"
        },
        "kmeansInitializationMethod": {
          "description": "The method used to initialize the centroids for kmeans algorithm.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Initializes the centroids randomly.",
            "Initializes the centroids using data specified in kmeans_initialization_column.",
            "Initializes with kmeans++."
          ],
          "enum": [
            "KMEANS_INITIALIZATION_METHOD_UNSPECIFIED",
            "RANDOM",
            "CUSTOM",
            "KMEANS_PLUS_PLUS"
          ]
        },
        "kmeansInitializationColumn": {
          "description": "The column used to provide the initial centroids for kmeans algorithm when kmeans_initialization_method is CUSTOM.",
          "type": "string"
        },
        "timeSeriesTimestampColumn": {
          "description": "Column to be designated as time series timestamp for ARIMA model.",
          "type": "string"
        },
        "timeSeriesDataColumn": {
          "description": "Column to be designated as time series data for ARIMA model.",
          "type": "string"
        },
        "autoArima": {
          "description": "Whether to enable auto ARIMA or not.",
          "type": "boolean"
        },
        "nonSeasonalOrder": {
          "description": "A specification of the non-seasonal part of the ARIMA model: the three components (p, d, q) are the AR order, the degree of differencing, and the MA order.",
          "$ref": "ArimaOrder"
        },
        "dataFrequency": {
          "description": "The data frequency of a time series.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Automatically inferred from timestamps.",
            "Yearly data.",
            "Quarterly data.",
            "Monthly data.",
            "Weekly data.",
            "Daily data.",
            "Hourly data."
          ],
          "enum": [
            "DATA_FREQUENCY_UNSPECIFIED",
            "AUTO_FREQUENCY",
            "YEARLY",
            "QUARTERLY",
            "MONTHLY",
            "WEEKLY",
            "DAILY",
            "HOURLY"
          ]
        },
        "includeDrift": {
          "description": "Include drift when fitting an ARIMA model.",
          "type": "boolean"
        },
        "holidayRegion": {
          "description": "The geographical region based on which the holidays are considered in time series modeling. If a valid value is specified, then holiday effects modeling is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Holiday region unspecified.",
            "Global.",
            "North America.",
            "Japan and Asia Pacific: Korea, Greater China, India, Australia, and New Zealand.",
            "Europe, the Middle East and Africa.",
            "Latin America and the Caribbean.",
            "United Arab Emirates",
            "Argentina",
            "Austria",
            "Australia",
            "Belgium",
            "Brazil",
            "Canada",
            "Switzerland",
            "Chile",
            "China",
            "Colombia",
            "Czechoslovakia",
            "Czech Republic",
            "Germany",
            "Denmark",
            "Algeria",
            "Ecuador",
            "Estonia",
            "Egypt",
            "Spain",
            "Finland",
            "France",
            "Great Britain (United Kingdom)",
            "Greece",
            "Hong Kong",
            "Hungary",
            "Indonesia",
            "Ireland",
            "Israel",
            "India",
            "Iran",
            "Italy",
            "Japan",
            "Korea (South)",
            "Latvia",
            "Morocco",
            "Mexico",
            "Malaysia",
            "Nigeria",
            "Netherlands",
            "Norway",
            "New Zealand",
            "Peru",
            "Philippines",
            "Pakistan",
            "Poland",
            "Portugal",
            "Romania",
            "Serbia",
            "Russian Federation",
            "Saudi Arabia",
            "Sweden",
            "Singapore",
            "Slovenia",
            "Slovakia",
            "Thailand",
            "Turkey",
            "Taiwan",
            "Ukraine",
            "United States",
            "Venezuela",
            "Viet Nam",
            "South Africa"
          ],
          "enum": [
            "HOLIDAY_REGION_UNSPECIFIED",
            "GLOBAL",
            "NA",
            "JAPAC",
            "EMEA",
            "LAC",
            "AE",
            "AR",
            "AT",
            "AU",
            "BE",
            "BR",
            "CA",
            "CH",
            "CL",
            "CN",
            "CO",
            "CS",
            "CZ",
            "DE",
            "DK",
            "DZ",
            "EC",
            "EE",
            "EG",
            "ES",
            "FI",
            "FR",
            "GB",
            "GR",
            "HK",
            "HU",
            "ID",
            "IE",
            "IL",
            "IN",
            "IR",
            "IT",
            "JP",
            "KR",
            "LV",
            "MA",
            "MX",
            "MY",
            "NG",
            "NL",
            "NO",
            "NZ",
            "PE",
            "PH",
            "PK",
            "PL",
            "PT",
            "RO",
            "RS",
            "RU",
            "SA",
            "SE",
            "SG",
            "SI",
            "SK",
            "TH",
            "TR",
            "TW",
            "UA",
            "US",
            "VE",
            "VN",
            "ZA"
          ]
        },
        "timeSeriesIdColumn": {
          "description": "The id column that will be used to indicate different time series to forecast in parallel.",
          "type": "string"
        },
        "horizon": {
          "description": "The number of periods ahead that need to be forecasted.",
          "type": "string",
          "format": "int64"
        },
        "preserveInputStructs": {
          "description": "Whether to preserve the input structs in output feature names. Suppose there is a struct A with field b. When false (default), the output feature name is A_b. When true, the output feature name is A.b.",
          "type": "boolean"
        },
        "autoArimaMaxOrder": {
          "description": "The max value of non-seasonal p and q.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ArimaOrder": {
      "id": "ArimaOrder",
      "description": "Arima order, can be used for both non-seasonal and seasonal parts.",
      "type": "object",
      "properties": {
        "p": {
          "description": "Order of the autoregressive part.",
          "type": "string",
          "format": "int64"
        },
        "d": {
          "description": "Order of the differencing part.",
          "type": "string",
          "format": "int64"
        },
        "q": {
          "description": "Order of the moving-average part.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "IterationResult": {
      "id": "IterationResult",
      "description": "Information about a single iteration of the training run.",
      "type": "object",
      "properties": {
        "index": {
          "description": "Index of the iteration, 0 based.",
          "type": "integer",
          "format": "int32"
        },
        "durationMs": {
          "description": "Time taken to run the iteration in milliseconds.",
          "type": "string",
          "format": "int64"
        },
        "trainingLoss": {
          "description": "Loss computed on the training data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "evalLoss": {
          "description": "Loss computed on the eval data at the end of iteration.",
          "type": "number",
          "format": "double"
        },
        "learnRate": {
          "description": "Learn rate used for this iteration.",
          "type": "number",
          "format": "double"
        },
        "clusterInfos": {
          "description": "Information about top clusters for clustering models.",
          "type": "array",
          "items": {
            "$ref": "ClusterInfo"
          }
        },
        "arimaResult": {
          "$ref": "ArimaResult"
        }
      }
    },
    "ClusterInfo": {
      "id": "ClusterInfo",
      "description": "Information about a single cluster for clustering model.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "type": "string",
          "format": "int64"
        },
        "clusterRadius": {
          "description": "Cluster radius, the average distance from centroid to each point assigned to the cluster.",
          "type": "number",
          "format": "double"
        },
        "clusterSize": {
          "description": "Cluster size, the total number of points assigned to the cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ArimaResult": {
      "id": "ArimaResult",
      "description": "(Auto-)arima fitting result. Wrap everything in ArimaResult for easier refactoring if we want to use model-specific iteration results.",
      "type": "object",
      "properties": {
        "arimaModelInfo": {
          "description": "This message is repeated because there are multiple arima models fitted in auto-arima. For non-auto-arima model, its size is one.",
          "type": "array",
          "items": {
            "$ref": "ArimaModelInfo"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        }
      }
    },
    "ArimaModelInfo": {
      "id": "ArimaModelInfo",
      "description": "Arima model information.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "arimaCoefficients": {
          "description": "Arima coefficients.",
          "$ref": "ArimaCoefficients"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "timeSeriesId": {
          "description": "The id to indicate different time series.",
          "type": "string"
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        }
      }
    },
    "ArimaCoefficients": {
      "id": "ArimaCoefficients",
      "description": "Arima coefficients.",
      "type": "object",
      "properties": {
        "autoRegressiveCoefficients": {
          "description": "Auto-regressive coefficients, an array of double.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "movingAverageCoefficients": {
          "description": "Moving-average coefficients, an array of double.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        },
        "interceptCoefficient": {
          "description": "Intercept coefficient, just a double not an array.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArimaFittingMetrics": {
      "id": "ArimaFittingMetrics",
      "description": "ARIMA model fitting metrics.",
      "type": "object",
      "properties": {
        "logLikelihood": {
          "description": "Log-likelihood.",
          "type": "number",
          "format": "double"
        },
        "aic": {
          "description": "AIC.",
          "type": "number",
          "format": "double"
        },
        "variance": {
          "description": "Variance.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "EvaluationMetrics": {
      "id": "EvaluationMetrics",
      "description": "Evaluation metrics of a model. These are either computed on all training data or just the eval data based on whether eval data was used during training. These are not present for imported models.",
      "type": "object",
      "properties": {
        "regressionMetrics": {
          "description": "Populated for regression models and explicit feedback type matrix factorization models.",
          "$ref": "RegressionMetrics"
        },
        "binaryClassificationMetrics": {
          "description": "Populated for binary classification\/classifier models.",
          "$ref": "BinaryClassificationMetrics"
        },
        "multiClassClassificationMetrics": {
          "description": "Populated for multi-class classification\/classifier models.",
          "$ref": "MultiClassClassificationMetrics"
        },
        "clusteringMetrics": {
          "description": "Populated for clustering models.",
          "$ref": "ClusteringMetrics"
        },
        "rankingMetrics": {
          "description": "Populated for implicit feedback type matrix factorization models.",
          "$ref": "RankingMetrics"
        },
        "arimaForecastingMetrics": {
          "description": "Populated for ARIMA models.",
          "$ref": "ArimaForecastingMetrics"
        }
      }
    },
    "RegressionMetrics": {
      "id": "RegressionMetrics",
      "description": "Evaluation metrics for regression and explicit feedback type matrix factorization models.",
      "type": "object",
      "properties": {
        "meanAbsoluteError": {
          "description": "Mean absolute error.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Mean squared error.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredLogError": {
          "description": "Mean squared log error.",
          "type": "number",
          "format": "double"
        },
        "medianAbsoluteError": {
          "description": "Median absolute error.",
          "type": "number",
          "format": "double"
        },
        "rSquared": {
          "description": "R^2 score.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BinaryClassificationMetrics": {
      "id": "BinaryClassificationMetrics",
      "description": "Evaluation metrics for binary classification\/classifier models.",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "binaryConfusionMatrixList": {
          "description": "Binary confusion matrix at multiple thresholds.",
          "type": "array",
          "items": {
            "$ref": "BinaryConfusionMatrix"
          }
        },
        "positiveLabel": {
          "description": "Label representing the positive class.",
          "type": "string"
        },
        "negativeLabel": {
          "description": "Label representing the negative class.",
          "type": "string"
        }
      }
    },
    "AggregateClassificationMetrics": {
      "id": "AggregateClassificationMetrics",
      "description": "Aggregate metrics for classification\/classifier models. For multi-class models, the metrics are either macro-averaged or micro-averaged. When macro-averaged, the metrics are calculated for each label and then an unweighted average is taken of those values. When micro-averaged, the metric is calculated globally by counting the total number of correctly predicted rows.",
      "type": "object",
      "properties": {
        "precision": {
          "description": "Precision is the fraction of actual positive predictions that had positive actual labels. For multiclass this is a macro-averaged metric treating each class as a binary classifier.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "Recall is the fraction of actual positive labels that were given a positive prediction. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "description": "Accuracy is the fraction of predictions given the correct label. For multiclass this is a micro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "threshold": {
          "description": "Threshold at which the metrics are computed. For binary classification models this is the positive class threshold. For multi-class classfication models this is the confidence threshold.",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "description": "The F1 score is an average of recall and precision. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "logLoss": {
          "description": "Logarithmic Loss. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        },
        "rocAuc": {
          "description": "Area Under a ROC Curve. For multiclass this is a macro-averaged metric.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BinaryConfusionMatrix": {
      "id": "BinaryConfusionMatrix",
      "description": "Confusion matrix for binary classification models.",
      "type": "object",
      "properties": {
        "positiveClassThreshold": {
          "description": "Threshold value used when computing each of the following metric.",
          "type": "number",
          "format": "double"
        },
        "truePositives": {
          "description": "Number of true samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "falsePositives": {
          "description": "Number of false samples predicted as true.",
          "type": "string",
          "format": "int64"
        },
        "trueNegatives": {
          "description": "Number of true samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "falseNegatives": {
          "description": "Number of false samples predicted as false.",
          "type": "string",
          "format": "int64"
        },
        "precision": {
          "description": "The fraction of actual positive predictions that had positive actual labels.",
          "type": "number",
          "format": "double"
        },
        "recall": {
          "description": "The fraction of actual positive labels that were given a positive prediction.",
          "type": "number",
          "format": "double"
        },
        "f1Score": {
          "description": "The equally weighted average of recall and precision.",
          "type": "number",
          "format": "double"
        },
        "accuracy": {
          "description": "The fraction of predictions given the correct label.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "MultiClassClassificationMetrics": {
      "id": "MultiClassClassificationMetrics",
      "description": "Evaluation metrics for multi-class classification\/classifier models.",
      "type": "object",
      "properties": {
        "aggregateClassificationMetrics": {
          "description": "Aggregate classification metrics.",
          "$ref": "AggregateClassificationMetrics"
        },
        "confusionMatrixList": {
          "description": "Confusion matrix at different thresholds.",
          "type": "array",
          "items": {
            "$ref": "ConfusionMatrix"
          }
        }
      }
    },
    "ConfusionMatrix": {
      "id": "ConfusionMatrix",
      "description": "Confusion matrix for multi-class classification models.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "Confidence threshold used when computing the entries of the confusion matrix.",
          "type": "number",
          "format": "double"
        },
        "rows": {
          "description": "One row per actual label.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "Row": {
      "id": "Row",
      "description": "A single row in the confusion matrix.",
      "type": "object",
      "properties": {
        "actualLabel": {
          "description": "The original label of this row.",
          "type": "string"
        },
        "entries": {
          "description": "Info describing predicted label distribution.",
          "type": "array",
          "items": {
            "$ref": "Entry"
          }
        }
      }
    },
    "Entry": {
      "id": "Entry",
      "description": "A single entry in the confusion matrix.",
      "type": "object",
      "properties": {
        "predictedLabel": {
          "description": "The predicted label. For confidence_threshold > 0, we will also add an entry indicating the number of items under the confidence threshold.",
          "type": "string"
        },
        "itemCount": {
          "description": "Number of items being predicted as this label.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ClusteringMetrics": {
      "id": "ClusteringMetrics",
      "description": "Evaluation metrics for clustering models.",
      "type": "object",
      "properties": {
        "daviesBouldinIndex": {
          "description": "Davies-Bouldin index.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredDistance": {
          "description": "Mean of squared distances between each sample to its cluster centroid.",
          "type": "number",
          "format": "double"
        },
        "clusters": {
          "description": "[Beta] Information for all clusters.",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        }
      }
    },
    "Cluster": {
      "id": "Cluster",
      "description": "Message containing the information about one cluster.",
      "type": "object",
      "properties": {
        "centroidId": {
          "description": "Centroid id.",
          "type": "string",
          "format": "int64"
        },
        "featureValues": {
          "description": "Values of highly variant features for this cluster.",
          "type": "array",
          "items": {
            "$ref": "FeatureValue"
          }
        },
        "count": {
          "description": "Count of training data rows that were assigned to this cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FeatureValue": {
      "id": "FeatureValue",
      "description": "Representative value of a single feature within the cluster.",
      "type": "object",
      "properties": {
        "featureColumn": {
          "description": "The feature column name.",
          "type": "string"
        },
        "numericalValue": {
          "description": "The numerical feature value. This is the centroid value for this feature.",
          "type": "number",
          "format": "double"
        },
        "categoricalValue": {
          "description": "The categorical feature value.",
          "$ref": "CategoricalValue"
        }
      }
    },
    "CategoricalValue": {
      "id": "CategoricalValue",
      "description": "Representative value of a categorical feature.",
      "type": "object",
      "properties": {
        "categoryCounts": {
          "description": "Counts of all categories for the categorical feature. If there are more than ten categories, we return top ten (by count) and return one more CategoryCount with category \"_OTHER_\" and count as aggregate counts of remaining categories.",
          "type": "array",
          "items": {
            "$ref": "CategoryCount"
          }
        }
      }
    },
    "CategoryCount": {
      "id": "CategoryCount",
      "description": "Represents the count of a single category within the cluster.",
      "type": "object",
      "properties": {
        "category": {
          "description": "The name of category.",
          "type": "string"
        },
        "count": {
          "description": "The count of training samples matching the category within the cluster.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RankingMetrics": {
      "id": "RankingMetrics",
      "description": "Evaluation metrics used by weighted-ALS models specified by feedback_type=implicit.",
      "type": "object",
      "properties": {
        "meanAveragePrecision": {
          "description": "Calculates a precision per user for all the items by ranking them and then averages all the precisions across all the users.",
          "type": "number",
          "format": "double"
        },
        "meanSquaredError": {
          "description": "Similar to the mean squared error computed in regression and explicit recommendation models except instead of computing the rating directly, the output from evaluate is computed against a preference which is 1 or 0 depending on if the rating exists or not.",
          "type": "number",
          "format": "double"
        },
        "normalizedDiscountedCumulativeGain": {
          "description": "A metric to determine the goodness of a ranking calculated from the predicted confidence by comparing it to an ideal rank measured by the original ratings.",
          "type": "number",
          "format": "double"
        },
        "averageRank": {
          "description": "Determines the goodness of a ranking by computing the percentile rank from the predicted confidence and dividing it by the original rank.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArimaForecastingMetrics": {
      "id": "ArimaForecastingMetrics",
      "description": "Model evaluation metrics for ARIMA forecasting models.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "type": "array",
          "items": {
            "$ref": "ArimaOrder"
          }
        },
        "arimaFittingMetrics": {
          "description": "Arima model fitting metrics.",
          "type": "array",
          "items": {
            "$ref": "ArimaFittingMetrics"
          }
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        },
        "hasDrift": {
          "description": "Whether Arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "array",
          "items": {
            "type": "boolean"
          }
        },
        "timeSeriesId": {
          "description": "Id to differentiate different time series for the large-scale case.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "arimaSingleModelForecastingMetrics": {
          "description": "Repeated as there can be many metric sets (one for each model) in auto-arima and the large-scale case.",
          "type": "array",
          "items": {
            "$ref": "ArimaSingleModelForecastingMetrics"
          }
        }
      }
    },
    "ArimaSingleModelForecastingMetrics": {
      "id": "ArimaSingleModelForecastingMetrics",
      "description": "Model evaluation metrics for a single ARIMA forecasting model.",
      "type": "object",
      "properties": {
        "nonSeasonalOrder": {
          "description": "Non-seasonal order.",
          "$ref": "ArimaOrder"
        },
        "arimaFittingMetrics": {
          "description": "Arima fitting metrics.",
          "$ref": "ArimaFittingMetrics"
        },
        "hasDrift": {
          "description": "Is arima model fitted with drift or not. It is always false when d is not 1.",
          "type": "boolean"
        },
        "timeSeriesId": {
          "description": "The id to indicate different time series.",
          "type": "string"
        },
        "seasonalPeriods": {
          "description": "Seasonal periods. Repeated because multiple periods are supported for one time series.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "No seasonality",
              "Daily period, 24 hours.",
              "Weekly period, 7 days.",
              "Monthly period, 30 days or irregular.",
              "Quarterly period, 90 days or irregular.",
              "Yearly period, 365 days or irregular."
            ],
            "enum": [
              "SEASONAL_PERIOD_TYPE_UNSPECIFIED",
              "NO_SEASONALITY",
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "QUARTERLY",
              "YEARLY"
            ]
          }
        }
      }
    },
    "DataSplitResult": {
      "id": "DataSplitResult",
      "description": "Data split result. This contains references to the training and evaluation data tables that were used to train the model.",
      "type": "object",
      "properties": {
        "trainingTable": {
          "description": "Table reference of the training data after split.",
          "$ref": "TableReference"
        },
        "evaluationTable": {
          "description": "Table reference of the evaluation data after split.",
          "$ref": "TableReference"
        }
      }
    },
    "StandardSqlField": {
      "id": "StandardSqlField",
      "description": "A field or a column.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of this field. Can be absent for struct fields.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of this parameter. Absent if not explicitly specified (e.g., CREATE FUNCTION statement can omit the return type; in this case the output parameter does not have this \"type\" field).",
          "$ref": "StandardSqlDataType"
        }
      }
    },
    "StandardSqlDataType": {
      "id": "StandardSqlDataType",
      "description": "The type of a variable, e.g., a function argument. Examples: INT64: {type_kind=\"INT64\"} ARRAY: {type_kind=\"ARRAY\", array_element_type=\"STRING\"} STRUCT>: {type_kind=\"STRUCT\", struct_type={fields=[ {name=\"x\", type={type_kind=\"STRING\"}}, {name=\"y\", type={type_kind=\"ARRAY\", array_element_type=\"DATE\"}} ]}}",
      "type": "object",
      "properties": {
        "typeKind": {
          "description": "Required. The top level type of this field. Can be any standard SQL data type (e.g., \"INT64\", \"DATE\", \"ARRAY\").",
          "type": "string",
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Encoded as a decimal string.",
            "Encoded as a list with types matching Type.array_type.",
            "Encoded as a list with fields of type Type.struct_type[i]. List is used because a JSON object cannot have duplicate field names."
          ],
          "enum": [
            "TYPE_KIND_UNSPECIFIED",
            "INT64",
            "BOOL",
            "FLOAT64",
            "STRING",
            "BYTES",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "DATETIME",
            "GEOGRAPHY",
            "NUMERIC",
            "BIGNUMERIC",
            "ARRAY",
            "STRUCT"
          ]
        },
        "arrayElementType": {
          "description": "The type of the array's elements, if type_kind = \"ARRAY\".",
          "$ref": "StandardSqlDataType"
        },
        "structType": {
          "description": "The fields of this struct, in order, if type_kind = \"STRUCT\".",
          "$ref": "StandardSqlStructType"
        }
      }
    },
    "StandardSqlStructType": {
      "id": "StandardSqlStructType",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "StandardSqlField"
          }
        }
      }
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "type": "object",
      "properties": {
        "models": {
          "description": "Models in the requested dataset. Only the following fields are populated: model_reference, model_type, creation_time, last_modified_time and labels.",
          "type": "array",
          "items": {
            "$ref": "Model"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "JobCancelResponse": {
      "id": "JobCancelResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The resource type of the response.",
          "type": "string"
        },
        "job": {
          "description": "The final state of the job.",
          "$ref": "Job"
        }
      }
    },
    "Job": {
      "id": "Job",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. The type of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. A hash of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Opaque ID field of the job.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A URL that can be used to access the resource again.",
          "readOnly": true,
          "type": "string"
        },
        "user_email": {
          "description": "Output only. Email address of the user who ran the job.",
          "readOnly": true,
          "type": "string"
        },
        "configuration": {
          "description": "Required. Describes the job configuration.",
          "$ref": "JobConfiguration"
        },
        "jobReference": {
          "description": "Optional. Reference describing the unique-per-user name of the job.",
          "$ref": "JobReference"
        },
        "statistics": {
          "description": "Output only. Information about the job, including starting time and ending time of the job.",
          "readOnly": true,
          "$ref": "JobStatistics"
        },
        "status": {
          "description": "Output only. The status of this job. Examine this value when polling an asynchronous job to see if the job is complete.",
          "readOnly": true,
          "$ref": "JobStatus"
        }
      }
    },
    "JobConfiguration": {
      "id": "JobConfiguration",
      "type": "object",
      "properties": {
        "jobType": {
          "description": "Output only. The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
          "type": "string"
        },
        "query": {
          "description": "[Pick one] Configures a query job.",
          "$ref": "JobConfigurationQuery"
        },
        "load": {
          "description": "[Pick one] Configures a load job.",
          "$ref": "JobConfigurationLoad"
        },
        "copy": {
          "description": "[Pick one] Copies a table.",
          "$ref": "JobConfigurationTableCopy"
        },
        "extract": {
          "description": "[Pick one] Configures an extract job.",
          "$ref": "JobConfigurationExtract"
        },
        "dryRun": {
          "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined.",
          "type": "boolean"
        },
        "jobTimeoutMs": {
          "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobConfigurationQuery": {
      "id": "JobConfigurationQuery",
      "description": "JobConfigurationQuery configures a BigQuery query job.",
      "type": "object",
      "properties": {
        "query": {
          "description": "[Required] SQL query text to execute. The useLegacySql field can be used to indicate whether the query uses legacy SQL or standard SQL.",
          "type": "string"
        },
        "destinationTable": {
          "description": "[Optional] Describes the table where the query results should be stored. This property must be set for large results that exceed the maximum response size. For queries that produce anonymous (cached) results, this field will be populated by BigQuery.",
          "$ref": "TableReference"
        },
        "tableDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ExternalDataConfiguration"
          }
        },
        "userDefinedFunctionResources": {
          "description": "Describes user-defined function resources used in the query.",
          "type": "array",
          "items": {
            "$ref": "UserDefinedFunctionResource"
          }
        },
        "createDisposition": {
          "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: * CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. * CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "writeDisposition": {
          "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: * WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data and uses the schema from the query result. * WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. * WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
          "type": "string"
        },
        "defaultDataset": {
          "description": "[Optional] Specifies the default dataset to use for unqualified table names in the query. Note that this does not alter behavior of unqualified dataset names.",
          "$ref": "DatasetReference"
        },
        "priority": {
          "description": "[Optional] Specifies a priority for the query. Possible values include INTERACTIVE and BATCH. The default value is INTERACTIVE.",
          "type": "string"
        },
        "preserveNulls": {
          "description": "[Deprecated] This property is deprecated.",
          "type": "boolean"
        },
        "allowLargeResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, allows the query to produce arbitrarily large result tables at a slight cost in performance. Requires destinationTable to be set. For standard SQL queries, this flag is ignored and large results are always allowed. However, you must still set destinationTable when result size exceeds the allowed maximum response size.",
          "type": "boolean"
        },
        "useQueryCache": {
          "description": "[Optional] Whether to look for the result in the query cache. The query cache is a best-effort cache that will be flushed whenever tables in the query are modified. Moreover, the query cache is only available when a query does not have a destination table specified. The default value is true.",
          "default": "true",
          "type": "boolean"
        },
        "flattenResults": {
          "description": "[Optional] If true and query uses legacy SQL dialect, flattens all nested and repeated fields in the query results. allowLargeResults must be true if this is set to false. For standard SQL queries, this flag is ignored and results are never flattened.",
          "type": "boolean"
        },
        "maximumBillingTier": {
          "description": "[Optional, Deprecated] Maximum billing tier allowed for this query. The billing tier controls the amount of compute resources allotted to the query, and multiplies the on-demand cost of the query accordingly. A query that runs within its allotted resources will succeed and indicate its billing tier in statistics.query.billingTier, but if the query exceeds its allotted resources, it will fail with billingTierLimitExceeded. WARNING: The billed byte amount can be multiplied by an amount up to this number! Most users should not need to alter this setting, and we recommend that you avoid introducing new uses of it.",
          "type": "integer",
          "format": "int32"
        },
        "maximumBytesBilled": {
          "description": "[Optional] Limits the bytes billed for this job. Queries that will have bytes billed beyond this limit will fail (without incurring a charge). If unspecified, this will be set to your project default.",
          "type": "string",
          "format": "int64"
        },
        "useLegacySql": {
          "description": "Specifies whether to use BigQuery's legacy SQL dialect for this query. The default value is true. If set to false, the query will use BigQuery's standard SQL: https:\/\/cloud.google.com\/bigquery\/sql-reference\/ When useLegacySql is set to false, the value of flattenResults is ignored; query will be run as if flattenResults is false.",
          "type": "boolean"
        },
        "parameterMode": {
          "description": "Standard SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to use named (@myparam) query parameters in this query.",
          "type": "string"
        },
        "queryParameters": {
          "description": "Query parameters for standard SQL queries.",
          "type": "array",
          "items": {
            "$ref": "QueryParameter"
          }
        },
        "schemaUpdateOptions": {
          "description": "Allows the schema of the destination table to be updated as a side effect of the query job. Schema update options are supported in two cases: when writeDisposition is WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will always overwrite the schema. One or more of the following values are specified: * ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. * ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to nullable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timePartitioning": {
          "description": "Time-based partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "TimePartitioning"
        },
        "rangePartitioning": {
          "description": "Range partitioning specification for the destination table. Only one of timePartitioning and rangePartitioning should be specified.",
          "$ref": "RangePartitioning"
        },
        "clustering": {
          "description": "Clustering specification for the destination table.",
          "$ref": "Clustering"
        },
        "destinationEncryptionConfiguration": {
          "description": "Custom encryption configuration (e.g., Cloud KMS keys)",
          "$ref": "EncryptionConfiguration"
        },
        "scriptOptions": {
          "description": "Options controlling the execution of scripts.",
          "$ref": "ScriptOptions"
        },
        "connectionProperties": {
          "description": "Connection properties which can modify the query behavior.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProperty"
          }
        }
      }
    },
    "ExternalDataConfiguration": {
      "id": "ExternalDataConfiguration",
      "type": "object",
      "properties": {
        "sourceUris": {
          "description": "[Required] The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud Storage URIs: Each URI can contain one '*' wildcard character and it must come after the 'bucket' name. Size limits related to load jobs apply to external data sources. For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard character is not allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schema": {
          "description": "[Optional] The schema for the data. Schema is required for CSV and JSON formats if autodetect is not on. Schema is disallowed for Google Cloud Bigtable, Cloud Datastore backups, Avro, ORC and Parquet formats.",
          "$ref": "TableSchema"
        },
        "sourceFormat": {
          "description": "[Required] The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files, specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\". For ORC files, specify \"ORC\". For Parquet files, specify \"PARQUET\". [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\".",
          "type": "string"
        },
        "maxBadRecords": {
          "description": "[Optional] The maximum number of bad records that BigQuery can ignore when reading data. If the number of bad records exceeds this value, an invalid error is returned in the job result. The default value is 0, which requires that all records are valid. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups, Avro, ORC and Parquet formats.",
          "type": "integer",
          "format": "int32"
        },
        "autodetect": {
          "description": "Try to detect schema and format options automatically. Any option specified explicitly will be honored.",
          "type": "boolean"
        },
        "ignoreUnknownValues": {
          "description": "[Optional] Indicates if BigQuery should allow extra values that are not represented in the table schema. If true, the extra values are ignored. If false, records with extra columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false. The sourceFormat property determines what BigQuery treats as an extra value: CSV: Trailing columns JSON: Named values that don't match any column names Google Cloud Bigtable: This setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro: This setting is ignored. ORC: This setting is ignored. Parquet: This setting is ignored.",
          "type": "boolean"
        },
        "compression": {
          "description": "[Optional] The compression type of the data source. Possible values include GZIP and NONE. The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups, Avro, ORC and Parquet formats. An empty string is an invalid value.",
          "type": "string"
        },
        "csvOptions": {
          "description": "Additional properties to set if sourceFormat is set to CSV.",
          "$ref": "CsvOptions"
        },
        "bigtableOptions": {
          "description": "[Optional] Additional options if sourceFormat is set to BIGTABLE.",
          "$ref": "BigtableOptions"
        },
        "googleSheetsOptions": {
          "description": "[Optional] Additional options if sourceFormat is set to GOOGLE_SHEETS.",
          "$ref": "GoogleSheetsOptions"
        },
        "hivePartitioningOptions": {
          "description": "[Optional] When set, configures hive partitioning support. Not all storage formats support hive partitioning -- requesting hive partitioning on an unsupported format will lead to an error, as will providing an invalid specification.",
          "$ref": "HivePartitioningOptions"
        },
        "connectionId": {
          "description": "Optional This field is in testing and should not yet be used.",
          "type": "string"
        }
      }
    },
    "TableSchema": {
      "id": "TableSchema",
      "description": "Schema of a table",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Describes the fields in a table.",
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          }
        }
      }
    },
    "TableFieldSchema": {
      "id": "TableFieldSchema",
      "description": "A field in TableSchema",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The field name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 128 characters.",
          "type": "string"
        },
        "type": {
          "description": "Required. The field data type. Possible values include STRING, BYTES, INTEGER, INT64 (same as INTEGER), FLOAT, FLOAT64 (same as FLOAT), BOOLEAN, BOOL (same as BOOLEAN), TIMESTAMP, DATE, TIME, DATETIME, GEOGRAPHY, NUMERIC, RECORD (where RECORD indicates that the field contains a nested schema) or STRUCT (same as RECORD).",
          "type": "string"
        },
        "mode": {
          "description": "Optional. The field mode. Possible values include NULLABLE, REQUIRED and REPEATED. The default value is NULLABLE.",
          "type": "string"
        },
        "fields": {
          "description": "Optional. Describes the nested schema fields if the type property is set to RECORD.",
          "type": "array",
          "items": {
            "$ref": "TableFieldSchema"
          }
        },
        "description": {
          "description": "Optional. The field description. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "policyTags": {
          "description": "Optional. The policy tags attached to this field, used for field-level access control. If not set, defaults to empty policy_tags.",
          "type": "object",
          "properties": {
            "names": {
              "description": "A list of policy tag resource names. For example, \"projects\/1\/locations\/eu\/taxonomies\/2\/policyTags\/3\". At most 1 policy tag is currently allowed.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "CsvOptions": {
      "id": "CsvOptions",
      "description": "Options for external data sources.",
      "type": "object",
      "properties": {
        "fieldDelimiter": {
          "description": "[Optional] The separator character for fields in a CSV file. The separator is interpreted as a single byte. For files encoded in ISO-8859-1, any single character can be used as a separator. For files encoded in UTF-8, characters represented in decimal range 1-127 (U+0001-U+007F) can be used without any modification. UTF-8 characters encoded with multiple bytes (i.e. U+0080 and above) will have only the first byte used for separating fields. The remaining bytes will be treated as a part of the field. BigQuery also supports the escape sequence \"\\t\" (U+0009) to specify a tab separator. The default value is comma (\",\", U+002C).",
          "type": "string"
        },
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a CSV file that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows in the file that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema. [Optional] The value that is used to quote data sections in a CSV file. BigQuery converts the string to ISO-8859-1 encoding, and then uses the first byte of the encoded string to split the data in its raw, binary state. The default value is a double-quote (\"). If your data does not contain quoted sections, set the property value to an empty string. If your data contains quoted newline characters, you must also set the allowQuotedNewlines property to true. To include the specific quote character within a quoted value, precede it with an additional matching quote character. For example, if you want to escape the default character ' \" ', use ' \"\" '.",
          "type": "string",
          "format": "int64"
        },
        "quote": {
          "pattern": ".?",
          "type": "string"
        },
        "allowQuotedNewlines": {
          "description": "[Optional] Indicates if BigQuery should allow quoted data sections that contain newline characters in a CSV file. The default value is false.",
          "type": "boolean"
        },
        "allowJaggedRows": {
          "description": "[Optional] Indicates if BigQuery should accept rows that are missing trailing optional columns. If true, BigQuery treats missing trailing columns as null values. If false, records with missing trailing columns are treated as bad records, and if there are too many bad records, an invalid error is returned in the job result. The default value is false.",
          "type": "boolean"
        },
        "encoding": {
          "description": "[Optional] The character encoding of the data. The supported values are UTF-8 or ISO-8859-1. The default value is UTF-8. BigQuery decodes the data after the raw, binary data has been split using the values of the quote and fieldDelimiter properties.",
          "type": "string"
        }
      }
    },
    "BigtableOptions": {
      "id": "BigtableOptions",
      "type": "object",
      "properties": {
        "columnFamilies": {
          "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
          "type": "array",
          "items": {
            "$ref": "BigtableColumnFamily"
          }
        },
        "ignoreUnspecifiedColumnFamilies": {
          "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
          "type": "boolean"
        },
        "readRowkeyAsString": {
          "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
          "type": "boolean"
        }
      }
    },
    "BigtableColumnFamily": {
      "id": "BigtableColumnFamily",
      "type": "object",
      "properties": {
        "familyId": {
          "description": "Identifier of the column family.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column family. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column by listing that column in 'columns' and specifying a type for it.",
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. This can be overridden for a specific column by listing that column in 'columns' and specifying an encoding for it.",
          "type": "string"
        },
        "columns": {
          "description": "[Optional] Lists of columns that should be exposed as individual fields as opposed to a list of (column name, value) pairs. All columns whose qualifier matches a qualifier in this list can be accessed as .. Other columns can be accessed as a list through .Column field.",
          "type": "array",
          "items": {
            "$ref": "BigtableColumn"
          }
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set only the latest version of value are exposed for all columns in this column family. This can be overridden for a specific column by listing that column in 'columns' and specifying a different setting for that column.",
          "type": "boolean"
        }
      }
    },
    "BigtableColumn": {
      "id": "BigtableColumn",
      "type": "object",
      "properties": {
        "qualifierEncoded": {
          "description": "[Required] Qualifier of the column. Columns in the parent column family that has this exact qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can be specified in the qualifier_string field. Otherwise, a base-64 encoded value must be set to qualifier_encoded. The column field name is the same as the column qualifier. However, if the qualifier is not a valid BigQuery field identifier i.e. does not match a-zA-Z*, a valid identifier must be provided as field_name.",
          "type": "string",
          "format": "byte"
        },
        "qualifierString": {
          "type": "string"
        },
        "fieldName": {
          "description": "[Optional] If the qualifier is not a valid BigQuery field identifier i.e. does not match a-zA-Z*, a valid identifier must be provided as the column field name and is used as field name in queries.",
          "type": "string"
        },
        "type": {
          "description": "[Optional] The type to convert the value in cells of this column. The values are expected to be encoded using HBase Bytes.toBytes function when using the BINARY encoding value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT BOOLEAN Default type is BYTES. 'type' can also be set at the column family level. However, the setting at this level takes precedence if 'type' is set at both levels.",
          "type": "string"
        },
        "encoding": {
          "description": "[Optional] The encoding of the values when the type is not STRING. Acceptable encoding values are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be set at the column family level. However, the setting at this level takes precedence if 'encoding' is set at both levels.",
          "type": "string"
        },
        "onlyReadLatest": {
          "description": "[Optional] If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest' can also be set at the column family level. However, the setting at this level takes precedence if 'onlyReadLatest' is set at both levels.",
          "type": "boolean"
        }
      }
    },
    "GoogleSheetsOptions": {
      "id": "GoogleSheetsOptions",
      "type": "object",
      "properties": {
        "skipLeadingRows": {
          "description": "[Optional] The number of rows at the top of a sheet that BigQuery will skip when reading the data. The default value is 0. This property is useful if you have header rows that should be skipped. When autodetect is on, the behavior is the following: * skipLeadingRows unspecified - Autodetect tries to detect headers in the first row. If they are not detected, the row is read as data. Otherwise data is read starting from the second row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect skips N-1 rows and tries to detect headers in row N. If headers are not detected, row N is just skipped. Otherwise row N is used to extract column names for the detected schema.",
          "type": "string",
          "format": "int64"
        },
        "range": {
          "description": "[Optional] Range of a sheet to query from. Only used when non-empty. Typical format: sheet_name!top_left_cell_id:bottom_right_cell_id For example: sheet1!A1:B20",
          "type": "string"
        }
      }
    },
    "HivePartitioningOptions": {
      "id": "HivePartitioningOptions",
      "description": "Options for configuring hive partitioning detect.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. When set, what mode of hive partitioning to use when reading data. The following modes are supported: * AUTO: automatically infer partition key name(s) and type(s). * STRINGS: automatically infer partition key name(s). All types are strings. * CUSTOM: partition key schema is encoded in the source URI prefix. Not all storage formats support hive partitioning. Requesting hive partitioning on an unsupported format will lead to an error. Currently supported formats are: JSON, CSV, ORC, Avro and Parquet.",
          "type": "string"
        },
        "sourceUriPrefix": {
[...]
