apache-beam[dataframe,gcp,test,yaml,aws]
setuptools
job-builder-util-transforms @ https://storage.googleapis.com/dataflow-templates/extra-python-packages/2026-05-02/job_builder_util_transforms-0.1.1.tar.gz