apache-beam[gcp]==2.68.0
jsonschema==4.25.1 # TODO: remove when correct version could come from beam
jsonschema-specifications==2025.4.1 # TODO: remove when correct version could come from beam
torch
transformers
torchvision
setuptools
