{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "accesscontextmanager:v1beta",
  "name": "accesscontextmanager",
  "canonicalName": "Access Context Manager",
  "version": "v1beta",
  "revision": "0",
  "title": "Access Context Manager API",
  "description": "An API for setting attribute based access control to requests to GCP services.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/access-context-manager/docs/reference/rest/",
  "protocol": "rest",
  "rootUrl": "https://accesscontextmanager.googleapis.com/",
  "mtlsRootUrl": "https://accesscontextmanager.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://accesscontextmanager.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "ListAccessPoliciesResponse": {
      "id": "ListAccessPoliciesResponse",
      "description": "A response to `ListAccessPoliciesRequest`.",
      "type": "object",
      "properties": {
        "accessPolicies": {
          "description": "List of the AccessPolicy instances.",
          "type": "array",
          "items": {
            "$ref": "AccessPolicy"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      }
    },
    "AccessPolicy": {
      "id": "AccessPolicy",
      "description": "`AccessPolicy` is a container for `AccessLevels` (which define the necessary attributes to use Google Cloud services) and `ServicePerimeters` (which define regions of services able to freely pass data within a perimeter). An access policy is globally visible within an organization, and the restrictions it specifies apply to all projects within an organization.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the `AccessPolicy`. Format: `accessPolicies\/{policy_id}`",
          "type": "string"
        },
        "parent": {
          "description": "Required. The parent of this `AccessPolicy` in the Cloud Resource Hierarchy. Currently immutable once created. Format: `organizations\/{organization_id}`",
          "type": "string"
        },
        "title": {
          "description": "Required. Human readable title. Does not affect behavior.",
          "type": "string"
        }
      }
    },
    "ListAccessLevelsResponse": {
      "id": "ListAccessLevelsResponse",
      "description": "A response to `ListAccessLevelsRequest`.",
      "type": "object",
      "properties": {
        "accessLevels": {
          "description": "List of the Access Level instances.",
          "type": "array",
          "items": {
            "$ref": "AccessLevel"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      }
    },
    "AccessLevel": {
      "id": "AccessLevel",
      "description": "An `AccessLevel` is a label that can be applied to requests to Google Cloud services, along with a list of requirements necessary for the label to be applied.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource name for the Access Level. The `short_name` component must begin with a letter and only include alphanumeric and '_'. Format: `accessPolicies\/{policy_id}\/accessLevels\/{short_name}`. The maximum length \/\/ of the `short_name` component is 50 characters.",
          "type": "string"
        },
        "title": {
          "description": "Human readable title. Must be unique within the Policy.",
          "type": "string"
        },
        "description": {
          "description": "Description of the `AccessLevel` and its use. Does not affect behavior.",
          "type": "string"
        },
        "basic": {
          "description": "A `BasicLevel` composed of `Conditions`.",
          "$ref": "BasicLevel"
        },
        "custom": {
          "description": "A `CustomLevel` written in the Common Expression Language.",
          "$ref": "CustomLevel"
        }
      }
    },
    "BasicLevel": {
      "id": "BasicLevel",
      "description": "`BasicLevel` is an `AccessLevel` using a set of recommended features.",
      "type": "object",
      "properties": {
        "conditions": {
          "description": "Required. A list of requirements for the `AccessLevel` to be granted.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "combiningFunction": {
          "description": "How the `conditions` list should be combined to determine if a request is granted this `AccessLevel`. If AND is used, each `Condition` in `conditions` must be satisfied for the `AccessLevel` to be applied. If OR is used, at least one `Condition` in `conditions` must be satisfied for the `AccessLevel` to be applied. Default behavior is AND.",
          "type": "string",
          "enumDescriptions": [
            "All `Conditions` must be true for the `BasicLevel` to be true.",
            "If at least one `Condition` is true, then the `BasicLevel` is true."
          ],
          "enum": [
            "AND",
            "OR"
          ]
        }
      }
    },
    "Condition": {
      "id": "Condition",
      "description": "A condition necessary for an `AccessLevel` to be granted. The Condition is an AND over its fields. So a Condition is true if: 1) the request IP is from one of the listed subnetworks AND 2) the originating device complies with the listed device policy AND 3) all listed access levels are granted AND 4) the request was sent at a time allowed by the DateTimeRestriction.",
      "type": "object",
      "properties": {
        "ipSubnetworks": {
          "description": "CIDR block IP subnetwork specification. May be IPv4 or IPv6. Note that for a CIDR IP address block, the specified IP address portion must be properly truncated (i.e. all the host bits must be zero) or the input is considered malformed. For example, \"192.0.2.0\/24\" is accepted but \"192.0.2.1\/24\" is not. Similarly, for IPv6, \"2001:db8::\/32\" is accepted whereas \"2001:db8::1\/32\" is not. The originating IP of a request must be in one of the listed subnets in order for this Condition to be true. If empty, all IP addresses are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "devicePolicy": {
          "description": "Device specific restrictions, all restrictions must hold for the Condition to be true. If not specified, all devices are allowed.",
          "$ref": "DevicePolicy"
        },
        "requiredAccessLevels": {
          "description": "A list of other access levels defined in the same `Policy`, referenced by resource name. Referencing an `AccessLevel` which does not exist is an error. All access levels listed must be granted for the Condition to be true. Example: \"`accessPolicies\/MY_POLICY\/accessLevels\/LEVEL_NAME\"`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "negate": {
          "description": "Whether to negate the Condition. If true, the Condition becomes a NAND over its non-empty fields, each field must be false for the Condition overall to be satisfied. Defaults to false.",
          "type": "boolean"
        },
        "members": {
          "description": "The request must be made by one of the provided user or service accounts. Groups are not supported. Syntax: `user:{emailid}` `serviceAccount:{emailid}` If not specified, a request may come from any user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "regions": {
          "description": "The request must originate from one of the provided countries\/regions. Must be valid ISO 3166-1 alpha-2 codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DevicePolicy": {
      "id": "DevicePolicy",
      "description": "`DevicePolicy` specifies device specific restrictions necessary to acquire a given access level. A `DevicePolicy` specifies requirements for requests from devices to be granted access levels, it does not do any enforcement on the device. `DevicePolicy` acts as an AND over all specified fields, and each repeated field is an OR over its elements. Any unset fields are ignored. For example, if the proto is { os_type : DESKTOP_WINDOWS, os_type : DESKTOP_LINUX, encryption_status: ENCRYPTED}, then the DevicePolicy will be true for requests originating from encrypted Linux desktops and encrypted Windows desktops.",
      "type": "object",
      "properties": {
        "requireScreenlock": {
          "description": "Whether or not screenlock is required for the DevicePolicy to be true. Defaults to `false`.",
          "type": "boolean"
        },
        "allowedEncryptionStatuses": {
          "description": "Allowed encryptions statuses, an empty list allows all statuses.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The encryption status of the device is not specified or not known.",
              "The device does not support encryption.",
              "The device supports encryption, but is currently unencrypted.",
              "The device is encrypted."
            ],
            "enum": [
              "ENCRYPTION_UNSPECIFIED",
              "ENCRYPTION_UNSUPPORTED",
              "UNENCRYPTED",
              "ENCRYPTED"
            ]
          }
        },
        "osConstraints": {
          "description": "Allowed OS versions, an empty list allows all types and all versions.",
          "type": "array",
          "items": {
            "$ref": "OsConstraint"
          }
        },
        "allowedDeviceManagementLevels": {
          "description": "Allowed device management levels, an empty list allows all management levels.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The device's management level is not specified or not known.",
              "The device is not managed.",
              "Basic management is enabled, which is generally limited to monitoring and wiping the corporate account.",
              "Complete device management. This includes more thorough monitoring and the ability to directly manage the device (such as remote wiping). This can be enabled through the Android Enterprise Platform."
            ],
            "enum": [
              "MANAGEMENT_UNSPECIFIED",
              "NONE",
              "BASIC",
              "COMPLETE"
            ]
          }
        },
        "requireAdminApproval": {
          "description": "Whether the device needs to be approved by the customer admin.",
          "type": "boolean"
        },
        "requireCorpOwned": {
          "description": "Whether the device needs to be corp owned.",
          "type": "boolean"
        }
      }
    },
    "OsConstraint": {
      "id": "OsConstraint",
      "description": "A restriction on the OS type and version of devices making requests.",
      "type": "object",
      "properties": {
        "osType": {
          "description": "Required. The allowed OS type.",
          "type": "string",
          "enumDescriptions": [
            "The operating system of the device is not specified or not known.",
            "A desktop Mac operating system.",
            "A desktop Windows operating system.",
            "A desktop Linux operating system.",
            "A desktop ChromeOS operating system.",
            "An Android operating system.",
            "An iOS operating system."
          ],
          "enum": [
            "OS_UNSPECIFIED",
            "DESKTOP_MAC",
            "DESKTOP_WINDOWS",
            "DESKTOP_LINUX",
            "DESKTOP_CHROME_OS",
            "ANDROID",
            "IOS"
          ]
        },
        "minimumVersion": {
          "description": "The minimum allowed OS version. If not set, any version of this OS satisfies the constraint. Format: `\"major.minor.patch\"`. Examples: `\"10.5.301\"`, `\"9.2.1\"`.",
          "type": "string"
        },
        "requireVerifiedChromeOs": {
          "description": "Only allows requests from devices with a verified Chrome OS. Verifications includes requirements that the device is enterprise-managed, conformant to domain policies, and the caller has permission to call the API targeted by the request.",
          "type": "boolean"
        }
      }
    },
    "CustomLevel": {
      "id": "CustomLevel",
      "description": "`CustomLevel` is an `AccessLevel` using the Cloud Common Expression Language to represent the necessary conditions for the level to apply to a request. See CEL spec at: https:\/\/github.com\/google\/cel-spec",
      "type": "object",
      "properties": {
        "expr": {
          "description": "Required. A Cloud CEL expression evaluating to a boolean.",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "ListServicePerimetersResponse": {
      "id": "ListServicePerimetersResponse",
      "description": "A response to `ListServicePerimetersRequest`.",
      "type": "object",
      "properties": {
        "servicePerimeters": {
          "description": "List of the Service Perimeter instances.",
          "type": "array",
          "items": {
            "$ref": "ServicePerimeter"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      }
    },
    "ServicePerimeter": {
      "id": "ServicePerimeter",
      "description": "`ServicePerimeter` describes a set of Google Cloud resources which can freely import and export data amongst themselves, but not export outside of the `ServicePerimeter`. If a request with a source within this `ServicePerimeter` has a target outside of the `ServicePerimeter`, the request will be blocked. Otherwise the request is allowed. There are two types of Service Perimeter - Regular and Bridge. Regular Service Perimeters cannot overlap, a single Google Cloud project can only belong to a single regular Service Perimeter. Service Perimeter Bridges can contain only Google Cloud projects as members, a single Google Cloud project may belong to multiple Service Perimeter Bridges.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource name for the ServicePerimeter. The `short_name` component must begin with a letter and only include alphanumeric and '_'. Format: `accessPolicies\/{policy_id}\/servicePerimeters\/{short_name}`",
          "type": "string"
        },
        "title": {
          "description": "Human readable title. Must be unique within the Policy.",
          "type": "string"
        },
        "description": {
          "description": "Description of the `ServicePerimeter` and its use. Does not affect behavior.",
          "type": "string"
        },
        "perimeterType": {
          "description": "Perimeter type indicator. A single project is allowed to be a member of single regular perimeter, but multiple service perimeter bridges. A project cannot be a included in a perimeter bridge without being included in regular perimeter. For perimeter bridges, restricted\/unrestricted service lists as well as access lists must be empty.",
          "type": "string",
          "enumDescriptions": [
            "Regular Perimeter.",
            "Perimeter Bridge."
          ],
          "enum": [
            "PERIMETER_TYPE_REGULAR",
            "PERIMETER_TYPE_BRIDGE"
          ]
        },
        "status": {
          "description": "Current ServicePerimeter configuration. Specifies sets of resources, restricted\/unrestricted services and access levels that determine perimeter content and boundaries.",
          "$ref": "ServicePerimeterConfig"
        },
        "spec": {
          "description": "Proposed (or dry run) ServicePerimeter configuration. This configuration allows to specify and test ServicePerimeter configuration without enforcing actual access restrictions. Only allowed to be set when the \"dry_run\" flag is set.",
          "$ref": "ServicePerimeterConfig"
        },
        "dryRun": {
          "description": "Dry run flag. This flag enables dry run tests for the \"proposed\" Service Perimeter configuration. When this flag is enabled, access restrictions suggestions from the proposed(\"spec\") configuration are tested without actually enforcing them. This testing is done through analyzing the differences between currently enforced and suggested restrictions. As of now, dry_run must be set to true if there is any proposed config",
          "type": "boolean"
        }
      }
    },
    "ServicePerimeterConfig": {
      "id": "ServicePerimeterConfig",
      "description": "`ServicePerimeterConfig` specifies a set of Google Cloud resources that describe specific Service Perimeter configuration.",
      "type": "object",
      "properties": {
        "resources": {
          "description": "A list of Google Cloud resources that are inside of the service perimeter. Currently only projects are allowed. Format: `projects\/{project_number}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessLevels": {
          "description": "A list of `AccessLevel` resource names that allow resources within the `ServicePerimeter` to be accessed from the internet. `AccessLevels` listed must be in the same policy as this `ServicePerimeter`. Referencing a nonexistent `AccessLevel` is a syntax error. If no `AccessLevel` names are listed, resources within the perimeter can only be accessed via Google Cloud calls with request origins within the perimeter. Example: `\"accessPolicies\/MY_POLICY\/accessLevels\/MY_LEVEL\"`. For Service Perimeter Bridge, must be empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unrestrictedServices": {
          "description": "Google Cloud services that are not subject to the Service Perimeter restrictions. Deprecated. Must be set to a single wildcard \"*\". The wildcard means that unless explicitly specified by \"restricted_services\" list, any service is treated as unrestricted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "restrictedServices": {
          "description": "Google Cloud services that are subject to the Service Perimeter restrictions. Must contain a list of services. For example, if `storage.googleapis.com` is specified, access to the storage buckets inside the perimeter must meet the perimeter's access restrictions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vpcAccessibleServices": {
          "description": "Beta. Configuration for APIs allowed within Perimeter.",
          "$ref": "VpcAccessibleServices"
        }
      }
    },
    "VpcAccessibleServices": {
      "id": "VpcAccessibleServices",
      "description": "Specifies how APIs are allowed to communicate within the Service Perimeter.",
      "type": "object",
      "properties": {
        "enableRestriction": {
          "description": "Whether to restrict API calls within the Service Perimeter to the list of APIs specified in 'allowed_services'.",
          "type": "boolean"
        },
        "allowedServices": {
          "description": "The list of APIs usable within the Service Perimeter. Must be empty unless 'enable_restriction' is True. You can specify a list of individual services, as well as include the 'RESTRICTED-SERVICES' value, which automatically includes all of the services protected by the perimeter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReplaceAccessLevelsRequest": {
      "id": "ReplaceAccessLevelsRequest",
      "description": "A request to replace all existing Access Levels in an Access Policy with the Access Levels provided. This is done atomically.",
      "type": "object",
      "properties": {
        "accessLevels": {
          "description": "Required. The desired Access Levels that should replace all existing Access Levels in the Access Policy.",
          "type": "array",
          "items": {
            "$ref": "AccessLevel"
          }
        }
      }
    },
    "ReplaceServicePerimetersRequest": {
      "id": "ReplaceServicePerimetersRequest",
      "description": "A request to replace all existing Service Perimeters in an Access Policy with the Service Perimeters provided. This is done atomically.",
      "type": "object",
      "properties": {
        "servicePerimeters": {
          "description": "Required. The desired Service Perimeters that should replace all existing Service Perimeters in the Access Policy.",
          "type": "array",
          "items": {
            "$ref": "ServicePerimeter"
          }
        }
      }
    },
    "ReplaceAccessLevelsResponse": {
      "id": "ReplaceAccessLevelsResponse",
      "description": "A response to ReplaceAccessLevelsRequest. This will be put inside of Operation.response field.",
      "type": "object",
      "properties": {
        "accessLevels": {
          "description": "List of the Access Level instances.",
          "type": "array",
          "items": {
            "$ref": "AccessLevel"
          }
        }
      }
    },
    "ReplaceServicePerimetersResponse": {
      "id": "ReplaceServicePerimetersResponse",
      "description": "A response to ReplaceServicePerimetersRequest. This will be put inside of Operation.response field.",
      "type": "object",
      "properties": {
        "servicePerimeters": {
          "description": "List of the Service Perimeter instances.",
          "type": "array",
          "items": {
            "$ref": "ServicePerimeter"
          }
        }
      }
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "id": "accesscontextmanager.operations.get",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/operations/{operationsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^operations\/.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "accessPolicies": {
      "methods": {
        "list": {
          "id": "accesscontextmanager.accessPolicies.list",
          "path": "v1beta/accessPolicies",
          "flatPath": "v1beta/accessPolicies",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "Required. Resource name for the container to list AccessPolicy instances from. Format: `organizations\/{org_id}`",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Number of AccessPolicy instances to include in the list. Default 100.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Next page token for the next batch of AccessPolicy instances. Defaults to the first page of results.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
          ],
          "response": {
            "$ref": "ListAccessPoliciesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "List all AccessPolicies under a container."
        },
        "get": {
          "id": "accesscontextmanager.accessPolicies.get",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accessPolicies/{accessPoliciesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. Resource name for the access policy to get. Format `accessPolicies\/{policy_id}`",
              "location": "path",
              "required": true,
              "pattern": "^accessPolicies\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AccessPolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get an AccessPolicy by name."
        },
        "create": {
          "id": "accesscontextmanager.accessPolicies.create",
          "path": "v1beta/accessPolicies",
          "flatPath": "v1beta/accessPolicies",
          "httpMethod": "POST",
          "parameters": {
          },
          "parameterOrder": [
          ],
          "request": {
            "$ref": "AccessPolicy"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Create an `AccessPolicy`. Fails if this organization already has a `AccessPolicy`. The longrunning Operation will have a successful status once the `AccessPolicy` has propagated to long-lasting storage. Syntactic and basic semantic errors will be returned in `metadata` as a BadRequest proto."
        },
        "patch": {
          "id": "accesscontextmanager.accessPolicies.patch",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accessPolicies/{accessPoliciesId}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Output only. Resource name of the `AccessPolicy`. Format: `accessPolicies\/{policy_id}`",
              "location": "path",
              "required": true,
              "pattern": "^accessPolicies\/[^\/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. Mask to control which fields get updated. Must be non-empty.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "AccessPolicy"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update an AccessPolicy. The longrunning Operation from this RPC will have a successful status once the changes to the AccessPolicy have propagated to long-lasting storage. Syntactic and basic semantic errors will be returned in `metadata` as a BadRequest proto."
        },
        "delete": {
          "id": "accesscontextmanager.accessPolicies.delete",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/accessPolicies/{accessPoliciesId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. Resource name for the access policy to delete. Format `accessPolicies\/{policy_id}`",
              "location": "path",
              "required": true,
              "pattern": "^accessPolicies\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Delete an AccessPolicy by resource name. The longrunning Operation will have a successful status once the AccessPolicy has been removed from long-lasting storage."
        }
      }
      ,
      "resources": {
        "accessLevels": {
          "methods": {
            "list": {
              "id": "accesscontextmanager.accessPolicies.accessLevels.list",
              "path": "v1beta/{+parent}/accessLevels",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/accessLevels",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name for the access policy to list Access Levels from. Format: `accessPolicies\/{policy_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Number of Access Levels to include in the list. Default 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Next page token for the next batch of Access Level instances. Defaults to the first page of results.",
                  "location": "query",
                  "type": "string"
                },
                "accessLevelFormat": {
                  "description": "Whether to return `BasicLevels` in the Cloud Common Expression language, as `CustomLevels`, rather than as `BasicLevels`. Defaults to returning `AccessLevels` in the format they were defined.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The format was not specified.",
                    "Uses the format the resource was defined in. BasicLevels are returned as BasicLevels, CustomLevels are returned as CustomLevels.",
                    "Use Cloud Common Expression Language when returning the resource. Both BasicLevels and CustomLevels are returned as CustomLevels."
                  ],
                  "enum": [
                    "LEVEL_FORMAT_UNSPECIFIED",
                    "AS_DEFINED",
                    "CEL"
                  ]
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccessLevelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List all Access Levels for an access policy."
            },
            "get": {
              "id": "accesscontextmanager.accessPolicies.accessLevels.get",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/accessLevels/{accessLevelsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the Access Level. Format: `accessPolicies\/{policy_id}\/accessLevels\/{access_level_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+\/accessLevels\/[^\/]+$",
                  "type": "string"
                },
                "accessLevelFormat": {
                  "description": "Whether to return `BasicLevels` in the Cloud Common Expression Language rather than as `BasicLevels`. Defaults to AS_DEFINED, where Access Levels are returned as `BasicLevels` or `CustomLevels` based on how they were created. If set to CEL, all Access Levels are returned as `CustomLevels`. In the CEL case, `BasicLevels` are translated to equivalent `CustomLevels`.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The format was not specified.",
                    "Uses the format the resource was defined in. BasicLevels are returned as BasicLevels, CustomLevels are returned as CustomLevels.",
                    "Use Cloud Common Expression Language when returning the resource. Both BasicLevels and CustomLevels are returned as CustomLevels."
                  ],
                  "enum": [
                    "LEVEL_FORMAT_UNSPECIFIED",
                    "AS_DEFINED",
                    "CEL"
                  ]
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccessLevel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an Access Level by resource name."
            },
            "create": {
              "id": "accesscontextmanager.accessPolicies.accessLevels.create",
              "path": "v1beta/{+parent}/accessLevels",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/accessLevels",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name for the access policy which owns this Access Level. Format: `accessPolicies\/{policy_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AccessLevel"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create an Access Level. The longrunning operation from this RPC will have a successful status once the Access Level has propagated to long-lasting storage. Access Levels containing errors will result in an error response for the first error encountered."
            },
            "patch": {
              "id": "accesscontextmanager.accessPolicies.accessLevels.patch",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/accessLevels/{accessLevelsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the Access Level. The `short_name` component must begin with a letter and only include alphanumeric and '_'. Format: `accessPolicies\/{policy_id}\/accessLevels\/{short_name}`. The maximum length \/\/ of the `short_name` component is 50 characters.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+\/accessLevels\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. Mask to control which fields get updated. Must be non-empty.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "AccessLevel"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update an Access Level. The longrunning operation from this RPC will have a successful status once the changes to the Access Level have propagated to long-lasting storage. Access Levels containing errors will result in an error response for the first error encountered."
            },
            "delete": {
              "id": "accesscontextmanager.accessPolicies.accessLevels.delete",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/accessLevels/{accessLevelsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the Access Level. Format: `accessPolicies\/{policy_id}\/accessLevels\/{access_level_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+\/accessLevels\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete an Access Level by resource name. The longrunning operation from this RPC will have a successful status once the Access Level has been removed from long-lasting storage."
            },
            "replaceAll": {
              "id": "accesscontextmanager.accessPolicies.accessLevels.replaceAll",
              "path": "v1beta/{+parent}/accessLevels:replaceAll",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/accessLevels:replaceAll",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name for the access policy which owns these Access Levels. Format: `accessPolicies\/{policy_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ReplaceAccessLevelsRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Replace all existing Access Levels in an Access Policy with the Access Levels provided. This is action done in atomically. The longrunning operation from this RPC will have a successful status once all replacements have propagated to long-lasting storage. Replacements containing errors will result in an error response for the first error encountered. Replacement will be cancelled on error, existing Access Levels will not be affected. Operation.response field will contain ReplaceAccessLevelsResponse."
            }
          }
        },
        "servicePerimeters": {
          "methods": {
            "list": {
              "id": "accesscontextmanager.accessPolicies.servicePerimeters.list",
              "path": "v1beta/{+parent}/servicePerimeters",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/servicePerimeters",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name for the access policy to list Service Perimeters from. Format: `accessPolicies\/{policy_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Number of Service Perimeters to include in the list. Default 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Next page token for the next batch of Service Perimeter instances. Defaults to the first page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListServicePerimetersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List all Service Perimeters for an access policy."
            },
            "get": {
              "id": "accesscontextmanager.accessPolicies.servicePerimeters.get",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/servicePerimeters/{servicePerimetersId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the Service Perimeter. Format: `accessPolicies\/{policy_id}\/servicePerimeters\/{service_perimeters_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+\/servicePerimeters\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ServicePerimeter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a Service Perimeter by resource name."
            },
            "create": {
              "id": "accesscontextmanager.accessPolicies.servicePerimeters.create",
              "path": "v1beta/{+parent}/servicePerimeters",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/servicePerimeters",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name for the access policy which owns this Service Perimeter. Format: `accessPolicies\/{policy_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ServicePerimeter"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create a Service Perimeter. The longrunning operation from this RPC will have a successful status once the Service Perimeter has propagated to long-lasting storage. Service Perimeters containing errors will result in an error response for the first error encountered."
            },
            "patch": {
              "id": "accesscontextmanager.accessPolicies.servicePerimeters.patch",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/servicePerimeters/{servicePerimetersId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the ServicePerimeter. The `short_name` component must begin with a letter and only include alphanumeric and '_'. Format: `accessPolicies\/{policy_id}\/servicePerimeters\/{short_name}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+\/servicePerimeters\/[^\/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. Mask to control which fields get updated. Must be non-empty.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ServicePerimeter"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update a Service Perimeter. The longrunning operation from this RPC will have a successful status once the changes to the Service Perimeter have propagated to long-lasting storage. Service Perimeter containing errors will result in an error response for the first error encountered."
            },
            "delete": {
              "id": "accesscontextmanager.accessPolicies.servicePerimeters.delete",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/servicePerimeters/{servicePerimetersId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Resource name for the Service Perimeter. Format: `accessPolicies\/{policy_id}\/servicePerimeters\/{service_perimeter_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+\/servicePerimeters\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Delete a Service Perimeter by resource name. The longrunning operation from this RPC will have a successful status once the Service Perimeter has been removed from long-lasting storage."
            },
            "replaceAll": {
              "id": "accesscontextmanager.accessPolicies.servicePerimeters.replaceAll",
              "path": "v1beta/{+parent}/servicePerimeters:replaceAll",
              "flatPath": "v1beta/accessPolicies/{accessPoliciesId}/servicePerimeters:replaceAll",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name for the access policy which owns these Service Perimeters. Format: `accessPolicies\/{policy_id}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accessPolicies\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ReplaceServicePerimetersRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Replace all existing Service Perimeters in an Access Policy with the Service Perimeters provided. This is done atomically. The longrunning operation from this RPC will have a successful status once all replacements have propagated to long-lasting storage. Replacements containing errors will result in an error response for the first error encountered. Replacement will be cancelled on error, existing Service Perimeters will not be affected. Operation.response field will contain ReplaceServicePerimetersResponse. Either all Service Perimeters' spec fields should be set or all status fields should be set, but not both."
            }
          }
        }
      }
    }
  },
  "basePath": ""
}