{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "cloudcommerceconsumerprocurement:v1alpha1",
  "name": "cloudcommerceconsumerprocurement",
  "canonicalName": "Cloud Commerce Procurement",
  "version": "v1alpha1",
  "revision": "0",
  "title": "Cloud Commerce Consumer Procurement API",
  "description": "Enables consumers to procure products served by Cloud CommerceMarketplace platform",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/marketplace/docs/",
  "protocol": "rest",
  "rootUrl": "https://cloudcommerceconsumerprocurement.googleapis.com/",
  "mtlsRootUrl": "https://cloudcommerceconsumerprocurement.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://cloudcommerceconsumerprocurement.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1Account": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1Account",
      "description": "Represents an account that was established by the customer with a service provider. When consuming services on external service provider's systems, the service provider generally needs to create a linked-account on their system to track customers. The account resource represents this relationship. Products\/Services that are hosted by external service providers generally require an account to be present before they can be purchased and used. The metadata that indicates whether an Account is required for a purchase, or what parameters are needed for creating an Account is configured by service providers.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the account. Account names have the form `billingAccounts\/{billing_account_id}\/accounts\/{account_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "Required. The identifier of the service provider that this account was created against. Provider has the format of `providers\/{provider_id}`.",
          "type": "string"
        },
        "properties": {
          "description": "Output only. Set of properties that the service provider supplied during account creation.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "approvals": {
          "description": "Output only. The approvals for this account. These approvals are used to track actions that are permitted or have been completed by a customer within the context of the provider. This might include a sign up flow or a provisioning step, for example, that the provider can admit to having happened.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1AccountApproval"
          }
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1AccountApproval": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1AccountApproval",
      "description": "An approval for some action on an account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the approval.",
          "type": "string"
        },
        "state": {
          "description": "The state of the approval.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value; do not use.",
            "The approval is pending response from the provider. The approval state can transition to Account.Approval.State.APPROVED or Account.Approval.State.REJECTED.",
            "The approval has been granted by the provider.",
            "The approval has been rejected by the provider. A provider may choose to approve a previously rejected approval, so is it possible to transition to Account.Approval.State.APPROVED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "reason": {
          "description": "An explanation for the state of the approval.",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update timestamp of the approval.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ListAccountsResponse": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ListAccountsResponse",
      "description": "Response message for ConsumerProcurementService.ListAccounts.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The list of accounts in this response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Account"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceOrderRequest",
      "description": "Request message for ConsumerProcurementService.PlaceOrder. Next Id: 11",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The user-specified name of the order being placed. Must be unique within a billing account.",
          "type": "string"
        },
        "account": {
          "description": "The resource name of the account that this order is based on. If this field is not specified and the creation of any products in the order requires an account, system will look for existing account and auto create one if there is no existing one.",
          "type": "string"
        },
        "provider": {
          "description": "Required. Provider of the items being purchased. Provider has the format of `providers\/{provider_id}`.",
          "type": "string"
        },
        "placeProductsOrderRequest": {
          "description": "Optional. Places order for non-quote products.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceProductsOrderRequest"
        },
        "placeQuoteOrderRequest": {
          "description": "Optional. Places order for quote.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceQuoteOrderRequest"
        },
        "lineItemInfo": {
          "description": "Optional. Places order for offer. Required when offer based order is being placed. Setting `line_item_info` will take precedence to place offer order if request is also set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
          }
        },
        "requestId": {
          "description": "Optional. A unique identifier for this request. The server will ignore subsequent requests that provide a duplicate request ID for at least 120 minutes after the first request. The request ID must be a valid [UUID](https:\/\/en.wikipedia.org\/wiki\/Universally_unique_identifier#Format).",
          "type": "string"
        },
        "autoRenewalBehavior": {
          "description": "Optional. Auto renewal behavior of the subscription associated with the order.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified, the auto renewal behavior will follow the default config.",
            "Auto Renewal will be enabled on subscription.",
            "Auto Renewal will be disabled on subscription."
          ],
          "enum": [
            "AUTO_RENEWAL_BEHAVIOR_UNSPECIFIED",
            "AUTO_RENEWAL_BEHAVIOR_ENABLE",
            "AUTO_RENEWAL_BEHAVIOR_DISABLE"
          ]
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceProductsOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceProductsOrderRequest",
      "description": "Request message to place an order for non-quote products.",
      "type": "object",
      "properties": {
        "lineItemInfo": {
          "description": "Required. Items to purchase within an order.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo",
      "description": "Line item information. Next Id: 14",
      "type": "object",
      "properties": {
        "productExternalName": {
          "description": "External name of the product being purchased.",
          "type": "string"
        },
        "flavorExternalName": {
          "description": "External name of the flavor being purchased.",
          "type": "string"
        },
        "pricePlanVersion": {
          "description": "The price plan version being purchased.",
          "type": "string"
        },
        "offer": {
          "description": "Optional. The name of the offer is accepted in either of these formats: 'billingAccounts\/{billing_account}\/offers\/{offer}', or 'services\/{service}\/standardOffers\/{offer}'.",
          "type": "string"
        },
        "quoteExternalName": {
          "description": "Output only. External name of the quote this product is associated with. Present if the product is part of a Quote.",
          "readOnly": true,
          "type": "string"
        },
        "entitlementInfo": {
          "description": "Output only. Entitlement info associated with this line item.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementInfo"
        },
        "addOnDetails": {
          "description": "Output only. Add on information of a line item, if applicable.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1AddOnDetails"
        },
        "customPricing": {
          "description": "Output only. The custom pricing information for this line item, if applicable.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1CustomPricing"
        },
        "parameters": {
          "description": "Optional. User provided parameters.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Parameter"
          }
        },
        "subscription": {
          "description": "Output only. Information about the subscription created, if applicable.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Subscription"
        },
        "systemProperties": {
          "description": "Output only. System provided key value pairs.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementInfo": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementInfo",
      "description": "The benefit associated with a product purchase.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the entitlement info. Unique across all orders.",
          "type": "string"
        },
        "services": {
          "description": "The names of the Inception services to enable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1AddOnDetails": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1AddOnDetails",
      "description": "Information about an add-on line item.",
      "type": "object",
      "properties": {
        "isAddOn": {
          "description": "Output only. Indicates whether this item is an add-on.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1CustomPricing": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1CustomPricing",
      "description": "Information about custom pricing on a resource.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The end time of the custom pricing.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1Parameter": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1Parameter",
      "description": "LINT.IfChange User provided Parameters.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the parameter.",
          "type": "string"
        },
        "value": {
          "description": "Value of parameter.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ParameterValue"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ParameterValue": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ParameterValue",
      "type": "object",
      "properties": {
        "int64Value": {
          "description": "Represents an int64 value.",
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "doubleValue": {
          "description": "Represents a double value.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1Subscription": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1Subscription",
      "description": "Subscription information.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The timestamp when the subscription ends, if applicable.",
          "type": "string",
          "format": "google-datetime"
        },
        "autoRenewalEnabled": {
          "description": "Whether auto renewal is enabled by user choice on current subscription. This field indicates order\/subscription status after pending plan change is cancelled or rejected.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceQuoteOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceQuoteOrderRequest",
      "description": "Request message to place an order for a quote.",
      "type": "object",
      "properties": {
        "quoteExternalName": {
          "description": "Required. External name of the quote to purchase.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1Order": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1Order",
      "description": "Order represents a purchase made by a customer on the Cloud Commerce Platform. Creation of an order programs both the Google backend systems as well as external service provider's systems (if needed) to allow use of purchased products and to ensure the appropriate billing events occur. An Order can be made against one Product with multiple add-ons (optional) or one Quote which could potentially references multiple products. Customers typically choose a price plan for each Product purchased when creating an order and can change their plan later, if the product allows. Customers can also cancel their purchases through the Order resource once they no longer need it. The metadata that is needed during an Order's creation is hosted on the Cloud Commerce Inventory system, as part of a Product's definition. Next Id: 13",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the order. Order names have the form `billingAccounts\/{billing-account-id}\/orders\/{order_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-specified name of the order. Must be unique within a billing account.",
          "type": "string"
        },
        "provider": {
          "description": "Provider of the products being purchased. Provider has the format of `providers\/{provider_id}`.",
          "type": "string"
        },
        "account": {
          "description": "The resource name of the account that this order is based on. Required if the creation of any products in the order requires an account to be present.",
          "type": "string"
        },
        "orderState": {
          "description": "Output only. The state of the order.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "The order is active.",
            "The order is cancelled.",
            "The order is being cancelled either by the user or by the system. The order stays in this state, if any product in the order allows use of the underlying resource until the end of the current billing cycle. Once the billing cycle completes, the resource will transition to OrderState.ORDER_STATE_CANCELLED state."
          ],
          "enum": [
            "ORDER_STATE_UNSPECIFIED",
            "ORDER_STATE_ACTIVE",
            "ORDER_STATE_CANCELLED",
            "ORDER_STATE_PENDING_CANCELLATION"
          ]
        },
        "stateReason": {
          "description": "Output only. An explanation for the order's state. Mainly used in the case of `OrderState.ORDER_STATE_CANCELLED` states to explain why the order is cancelled.",
          "readOnly": true,
          "type": "string"
        },
        "lineItems": {
          "description": "Output only. The items being purchased.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItem"
          }
        },
        "cancelledLineItems": {
          "description": "Output only. Line items that were cancelled.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItem"
          }
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "The weak etag of the order.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1LineItem": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItem",
      "description": "A single item within an order.",
      "type": "object",
      "properties": {
        "lineItemId": {
          "description": "Output only. Line item ID.",
          "readOnly": true,
          "type": "string"
        },
        "lineItemInfo": {
          "description": "Output only. Current state and information of this item. It tells what, e.g. which plan, is currently effective.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
        },
        "pendingChange": {
          "description": "Output only. A change made on the item which is pending and not yet effective. Absence of this field indicates the line item is not undergoing a change.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemChange"
        },
        "changeHistory": {
          "description": "Output only. Changes made on the item that are not pending anymore, e.g. it was effective at some point, or the change was reverted by the customer, or the change was rejected by partner. No more operations are allowed on these changes.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemChange"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemChange": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemChange",
      "description": "A change made on a line item.",
      "type": "object",
      "properties": {
        "changeId": {
          "description": "Output only. Change ID. All changes made within one order update operation have the same change_id.",
          "readOnly": true,
          "type": "string"
        },
        "changeType": {
          "description": "Required. Type of the change to make.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "The change is to create a new line item.",
            "The change is to update an existing line item.",
            "The change is to cancel an existing line item.",
            "The change is to revert a cancellation."
          ],
          "enum": [
            "LINE_ITEM_CHANGE_TYPE_UNSPECIFIED",
            "LINE_ITEM_CHANGE_TYPE_CREATE",
            "LINE_ITEM_CHANGE_TYPE_UPDATE",
            "LINE_ITEM_CHANGE_TYPE_CANCEL",
            "LINE_ITEM_CHANGE_TYPE_REVERT_CANCELLATION"
          ]
        },
        "oldLineItemInfo": {
          "description": "Output only. Line item info before the change.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
        },
        "newLineItemInfo": {
          "description": "Line item info after the change.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
        },
        "changeState": {
          "description": "Output only. State of the change.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "Change is in this state when a change is initiated and waiting for partner approval.",
            "Change is in this state, if the change was approved by partner or auto-approved but is pending to be effective.",
            "Change is in this state, if the change was activated and completed successfully.",
            "Change is in this state, if the change was rejected by partner.",
            "Change is in this state, if it was abandoned by user."
          ],
          "enum": [
            "LINE_ITEM_CHANGE_STATE_UNSPECIFIED",
            "LINE_ITEM_CHANGE_STATE_PENDING_APPROVAL",
            "LINE_ITEM_CHANGE_STATE_APPROVED",
            "LINE_ITEM_CHANGE_STATE_COMPLETED",
            "LINE_ITEM_CHANGE_STATE_REJECTED",
            "LINE_ITEM_CHANGE_STATE_ABANDONED"
          ]
        },
        "stateReason": {
          "description": "Output only. Provider supplied message explanation for the LineItemChange's state. Mainly used to communicate progress and ETA for provisioning in the case of `PENDING_APPROVAL`, and to explain why the change request was denied or canceled in the case of `REJECTED` and `CANCELED` states.",
          "readOnly": true,
          "type": "string"
        },
        "changeEffectiveTime": {
          "description": "Output only. A time at which the change became or will become (in case of pending change) effective.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time when change was initiated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when change was updated, e.g. approved\/rejected by partners or cancelled by the user.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ListOrdersResponse": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ListOrdersResponse",
      "description": "Response message for ConsumerProcurementService.ListOrders.",
      "type": "object",
      "properties": {
        "orders": {
          "description": "The list of orders in this response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Order"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ListMigratableOrdersResponse": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ListMigratableOrdersResponse",
      "description": "Response message for ConsumerProcurementService.ListMigratableOrders.",
      "type": "object",
      "properties": {
        "migratableOrders": {
          "description": "The list of orders in this response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Order"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyOrderRequest",
      "description": "Request message for ConsumerProcurementService.ModifyOrder. Next Id: 7",
      "type": "object",
      "properties": {
        "modifications": {
          "description": "Optional. Modifications for an existing Order created by an Offer. Required when Offer based Order is being modified.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyOrderRequestModification"
          }
        },
        "modifyProductsOrderRequest": {
          "description": "Required. Modifies an existing order for non-quote products.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyProductsOrderRequest"
        },
        "modifyQuoteOrderRequest": {
          "description": "Required. Modifies an existing order for quote.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyQuoteOrderRequest"
        },
        "displayName": {
          "description": "Optional. Updated display name of the order, leave as empty if you do not want to update current display name.",
          "type": "string"
        },
        "etag": {
          "description": "The weak etag, which can be optionally populated, of the order that this modify request is based on. Validation checking will only happen if the invoker supplies this field.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyOrderRequestModification": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyOrderRequestModification",
      "description": "Modifications to make on the order.",
      "type": "object",
      "properties": {
        "lineItemId": {
          "description": "ID of the existing line item to make change to. Required when change type is [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_UPDATE] or [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_CANCEL].",
          "type": "string"
        },
        "changeType": {
          "description": "Required. Type of change to make.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "The change is to create a new line item.",
            "The change is to update an existing line item.",
            "The change is to cancel an existing line item.",
            "The change is to revert a cancellation."
          ],
          "enum": [
            "LINE_ITEM_CHANGE_TYPE_UNSPECIFIED",
            "LINE_ITEM_CHANGE_TYPE_CREATE",
            "LINE_ITEM_CHANGE_TYPE_UPDATE",
            "LINE_ITEM_CHANGE_TYPE_CANCEL",
            "LINE_ITEM_CHANGE_TYPE_REVERT_CANCELLATION"
          ]
        },
        "newLineItemInfo": {
          "description": "The line item to update to. Required when change_type is [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_CREATE] or [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_UPDATE].",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
        },
        "autoRenewalBehavior": {
          "description": "Auto renewal behavior of the subscription for the update. Applied when change_type is [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_UPDATE]. Follows plan default config when this field is not specified.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified, the auto renewal behavior will follow the default config.",
            "Auto Renewal will be enabled on subscription.",
            "Auto Renewal will be disabled on subscription."
          ],
          "enum": [
            "AUTO_RENEWAL_BEHAVIOR_UNSPECIFIED",
            "AUTO_RENEWAL_BEHAVIOR_ENABLE",
            "AUTO_RENEWAL_BEHAVIOR_DISABLE"
          ]
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyProductsOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyProductsOrderRequest",
      "description": "Request message to update an order for non-quote products.",
      "type": "object",
      "properties": {
        "modifications": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyProductsOrderRequestModification"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyProductsOrderRequestModification": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyProductsOrderRequestModification",
      "description": "Modifications to make on the order.",
      "type": "object",
      "properties": {
        "lineItemId": {
          "description": "ID of the existing line item to make change to. Required when change type is [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_UPDATE] or [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_CANCEL].",
          "type": "string"
        },
        "changeType": {
          "description": "Required. Type of change to make.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "The change is to create a new line item.",
            "The change is to update an existing line item.",
            "The change is to cancel an existing line item.",
            "The change is to revert a cancellation."
          ],
          "enum": [
            "LINE_ITEM_CHANGE_TYPE_UNSPECIFIED",
            "LINE_ITEM_CHANGE_TYPE_CREATE",
            "LINE_ITEM_CHANGE_TYPE_UPDATE",
            "LINE_ITEM_CHANGE_TYPE_CANCEL",
            "LINE_ITEM_CHANGE_TYPE_REVERT_CANCELLATION"
          ]
        },
        "newLineItemInfo": {
          "description": "The line item to update to. Required when change_type is [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_CREATE] or [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_UPDATE].",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1LineItemInfo"
        },
        "autoRenewalBehavior": {
          "description": "Auto renewal behavior of the subscription for the update. Applied when change_type is [LineItemChangeType.LINE_ITEM_CHANGE_TYPE_UPDATE].",
          "type": "string",
          "enumDescriptions": [
            "If unspecified, the auto renewal behavior will follow the default config.",
            "Auto Renewal will be enabled on subscription.",
            "Auto Renewal will be disabled on subscription."
          ],
          "enum": [
            "AUTO_RENEWAL_BEHAVIOR_UNSPECIFIED",
            "AUTO_RENEWAL_BEHAVIOR_ENABLE",
            "AUTO_RENEWAL_BEHAVIOR_DISABLE"
          ]
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyQuoteOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyQuoteOrderRequest",
      "description": "Request message for ConsumerProcurementService.ModifyOrder.",
      "type": "object",
      "properties": {
        "newQuoteExternalName": {
          "description": "External name of the new quote to update to. Required when change_type is [QuoteChangeType.QUOTE_CHANGE_TYPE_UPDATE].",
          "type": "string"
        },
        "changeType": {
          "description": "Required. Type of change to make.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "The change is to update an existing order for quote.",
            "The change is to cancel an existing order for quote.",
            "The change is to revert a cancellation for an order for quote."
          ],
          "enum": [
            "QUOTE_CHANGE_TYPE_UNSPECIFIED",
            "QUOTE_CHANGE_TYPE_UPDATE",
            "QUOTE_CHANGE_TYPE_CANCEL",
            "QUOTE_CHANGE_TYPE_REVERT_CANCELLATION"
          ]
        },
        "autoRenewalBehavior": {
          "description": "Auto renewal behavior of the subscription for the update. Applied when change_type is [QuoteChangeType.QUOTE_CHANGE_TYPE_UPDATE].",
          "type": "string",
          "enumDescriptions": [
            "If unspecified, the auto renewal behavior will follow the default config.",
            "Auto Renewal will be enabled on subscription.",
            "Auto Renewal will be disabled on subscription."
          ],
          "enum": [
            "AUTO_RENEWAL_BEHAVIOR_UNSPECIFIED",
            "AUTO_RENEWAL_BEHAVIOR_ENABLE",
            "AUTO_RENEWAL_BEHAVIOR_DISABLE"
          ]
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1CancelOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1CancelOrderRequest",
      "description": "Request message for ConsumerProcurementService.CancelOrder.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The weak etag, which can be optionally populated, of the order that this cancel request is based on. Validation checking will only happen if the invoker supplies this field.",
          "type": "string"
        },
        "cancellationPolicy": {
          "description": "Cancellation policy of this request.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified, cancellation will try to cancel the order, if order cannot be immediately cancelled, auto renewal will be turned off.",
            "Request will cancel the whole order immediately, if order cannot be immediately cancelled, the request will fail.",
            "Request will cancel the auto renewal, if order is not subscription based, the request will fail."
          ],
          "enum": [
            "CANCELLATION_POLICY_UNSPECIFIED",
            "CANCELLATION_POLICY_CANCEL_IMMEDIATELY",
            "CANCELLATION_POLICY_CANCEL_AT_TERM_END"
          ]
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1MigrateOrderRequest": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1MigrateOrderRequest",
      "description": "Request message for ConsumerProcurementService.MigrateOrder.",
      "type": "object",
      "properties": {
        "newParent": {
          "description": "Required. Destination billing account where the order will be migrated to. This field is of the form: 'billingAccounts\/{billing-account-id}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1Entitlement": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1Entitlement",
      "description": "Entitlement represents the ability to use a product or services associated with a purchase within a Project. When the customer creates an Order, the system will create Entitlement resources under projects associated with the same billing account as the order, for all products\/services procured in the order. Users can enable\/disable Entitlements to allow\/disallow using the product\/service in a project. Next Id: 17",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource Name of the Entitlement. Entitlement names have the form `projects\/{project_id}\/entitlements\/{entitlement_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "order": {
          "description": "Output only. Order associated with this Entitlement.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "Output only. Provider associated with this Entitlement. In the format of `providers\/{provider_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "productExternalName": {
          "description": "Output only. External name of the product this entitlement is created against.",
          "readOnly": true,
          "type": "string"
        },
        "flavorExternalName": {
          "description": "Output only. External name of the flavor this entitlement is created against. This field is populated when entitlement has currently associated flavor, it is empty when entitlement is UNAVAILABLE (if order is pending activation or order is already cancelled).",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the entitlement.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "Indicates that the entitlement is unavailable and cannot be enabled.",
            "Indicates that the entitlement is enabled. The procured item is now usable.",
            "Indicates that the entitlement is disabled. The procured item is not usable."
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLEMENT_STATE_UNAVAILABLE",
            "ENTITLEMENT_STATE_ENABLED",
            "ENTITLEMENT_STATE_DISABLED"
          ]
        },
        "stateReason": {
          "description": "Output only. An explanation for the entitlement's state. Mainly used in the case of `EntitlementState.ENTITLEMENT_STATE_UNAVAILABLE` states to explain why the entitlement is unavailable.",
          "readOnly": true,
          "type": "string"
        },
        "services": {
          "description": "Output only. Services associated with the entitlement.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementService"
          }
        },
        "createTime": {
          "description": "Output only. The create timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "pendingChange": {
          "description": "Output only. A change which is pending and not yet effective.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementChange"
        },
        "changeHistory": {
          "description": "Output only. Changes that are not pending anymore, e.g. it was effective at some point, or the change was reverted by the customer, or the change was rejected by partner. No more operations are allowed on these changes.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementChange"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementService": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementService",
      "description": "A service associated with the entitlement.",
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "The name of the service.",
          "type": "string"
        },
        "serviceState": {
          "description": "Current state of the service within project.",
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "Indicates service is enabled within project.",
            "Indicates service is disabled within project."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementChange": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1EntitlementChange",
      "description": "Entitlement change information. Next Id: 7",
      "type": "object",
      "properties": {
        "oldFlavorExternalName": {
          "description": "Output only. Flavor external name before the change.",
          "readOnly": true,
          "type": "string"
        },
        "newFlavorExternalName": {
          "description": "Output only. Flavor external name after the change.",
          "readOnly": true,
          "type": "string"
        },
        "changeState": {
          "description": "Output only. State of the change.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "Change is in this state when a change is initiated and waiting for partner approval.",
            "Change is in this state, if the change was approved by partner or auto-approved but is pending to be effective.",
            "Change is in this state, if the change was activated and completed successfully.",
            "Change is in this state, if the change was rejected by partner.",
            "Change is in this state, if it was abandoned by user."
          ],
          "enum": [
            "CHANGE_STATE_UNSPECIFIED",
            "CHANGE_STATE_PENDING_APPROVAL",
            "CHANGE_STATE_APPROVED",
            "CHANGE_STATE_COMPLETED",
            "CHANGE_STATE_REJECTED",
            "CHANGE_STATE_ABANDONED"
          ]
        },
        "changeEffectiveTime": {
          "description": "Output only. A time at which the change became or will become (in case of pending change) effective.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ListEntitlementsResponse": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ListEntitlementsResponse",
      "description": "Response message for ConsumerProcurementService.ListEntitlements.",
      "type": "object",
      "properties": {
        "entitlements": {
          "description": "The list of Entitlements in this response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Entitlement"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1FreeTrial": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1FreeTrial",
      "description": "FreeTrial represents the free trial created for a specific provider, product id and billing id with argentum. Free Trial resource are created for products by placing orders for 3p or just enabling free trials for 1p product. Next Id: 5",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the free trial item. This field is of the form: `projects\/{project_id}\/freeTrials\/{freetrial_id}`. Present if free trial is created under the project's associated billing account for 3p, or free trial is enabled for 1p product.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "Provider of the products for which free trial exist. Provider has the format of `providers\/{provider_id}`.",
          "type": "string"
        },
        "productExternalName": {
          "description": "External name for the product for which free trial exist.",
          "type": "string"
        },
        "credit": {
          "description": "Output only. Credit tracking the real time credit status.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1FreeTrialCredit"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1FreeTrialCredit": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1FreeTrialCredit",
      "description": "Credit represents the real time credit information.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the credit.",
          "$ref": "GoogleTypeMoney"
        },
        "remainingAmount": {
          "description": "The amount of the credit remaining.",
          "$ref": "GoogleTypeMoney"
        },
        "creationDate": {
          "description": "Date credit was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "When the credit becomes effective. If empty then there's no lower bound of credit's effective timespan (i.e. the credit becomes effective at the time of its creation). For credit creation, this cannot be in the past.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "When the credit expires. If empty then there's no upper bound of credit's effective timespan (i.e. the credit never expires).",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ListFreeTrialsResponse": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ListFreeTrialsResponse",
      "description": "Response message for ConsumerProcurementService.ListFreeTrials.",
      "type": "object",
      "properties": {
        "freeTrials": {
          "description": "The list of FreeTrialss in this response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1FreeTrial"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocation": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocation",
      "description": "OrderAllocation represents the allocation of resources within a specific order to a set of targets (projects). Next Id: 8",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the allocation. This field is of the form: `billingAccounts\/{billing-account-id}\/orders\/{order-id}\/orderAllocations\/{order-allocation-id}`.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The user-specified name of the allocation. Must be unique within an Order if specified.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the allocation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Sentinel value. Do not use.",
            "The allocation is pending activation.",
            "The allocation is active.",
            "The allocation is pending deletion.",
            "The allocation is cancelled. This can be caused by failure in creating the allocation or the associated Order being cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING_ACTIVATION",
            "STATE_ACTIVE",
            "STATE_PENDING_DELETION",
            "STATE_CANCELLED"
          ]
        },
        "allocationEntry": {
          "description": "Required. The currently effective allocation entry.",
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocationAllocationEntry"
        },
        "pendingAllocationEntry": {
          "description": "Output only. The upcoming allocation entry.",
          "readOnly": true,
          "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocationAllocationEntry"
        },
        "createTime": {
          "description": "Output only. The time when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the resource was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocationAllocationEntry": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocationAllocationEntry",
      "description": "An allocation entry representing what resource is being allocated to which targets.",
      "type": "object",
      "properties": {
        "int64ResourceValue": {
          "description": "Represents an int64 value.",
          "type": "string",
          "format": "int64"
        },
        "doubleResourceValue": {
          "description": "Represents a double value.",
          "type": "number",
          "format": "double"
        },
        "stringResourceValue": {
          "description": "Represents a string value.",
          "type": "string"
        },
        "targets": {
          "description": "Required. The targets of the allocation, only projects are allowed at the moment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudCommerceConsumerProcurementV1alpha1ListOrderAllocationsResponse": {
      "id": "GoogleCloudCommerceConsumerProcurementV1alpha1ListOrderAllocationsResponse",
      "description": "Response message for ConsumerProcurementService.ListOrderAllocations.",
      "type": "object",
      "properties": {
        "orderAllocations": {
          "description": "The list of OrderAllocations in this response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocation"
          }
        },
        "nextPageToken": {
          "description": "The token for fetching the next page.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "billingAccounts": {
      "resources": {
        "accounts": {
          "methods": {
            "create": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.create",
              "path": "v1alpha1/{+parent}/accounts",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource of this account. This field is of the form \"\/\". Currently supported type: 'billingAccounts\/{billing-account-id}'",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Account"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new Account."
            },
            "list": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.list",
              "path": "v1alpha1/{+parent}/accounts",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource to query for accounts. This field is of the form `billingAccounts\/{billing-account-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entries that are requested.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token for fetching the next page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ListAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists Account resources that the user has access to, within the scope of the parent resource."
            },
            "get": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts/{accountsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/accounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the requested Account resource."
            },
            "delete": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.delete",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts/{accountsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account to delete.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/accounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an existing Account. An account can only be deleted when all outstanding orders against that account is also deleted."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.operations.list",
                  "path": "v1alpha1/{+name}/operations",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts/{accountsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/accounts\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.operations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts/{accountsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/accounts\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts/{accountsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/accounts\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.accounts.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/accounts/{accountsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/accounts\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            }
          }
        },
        "orders": {
          "methods": {
            "place": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.place",
              "path": "v1alpha1/{+parent}/orders:place",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders:place",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent resource. This field is of the form `billingAccounts\/{billing-account-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1PlaceOrderRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a new Order. The returned long-running operation will be in-progress until the backend can complete the creation of the resource. Once completed, the order will be in OrderState.ORDER_STATE_ACTIVE. In case of failure, the order resource will be removed."
            },
            "get": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the order to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Order"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the requested Order resource."
            },
            "list": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.list",
              "path": "v1alpha1/{+parent}/orders",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource to query for orders. This field is of the form `billingAccounts\/{billing-account-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entries that are requested.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token for fetching the next page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter that can be used to limit the list request. The filter is a query string that can match a selected set of attributes with string values. For example `display_name=abc`. Supported query attributes are * `display_name` * `product_external_name` If the query contains some special characters other than letters, underscore, or digits, the phrase must be quoted with double quotes. For example, `display_name=\"foo:bar\"`, where the display name needs to be quoted because it contains special character colon. Queries can be combined with `OR`, and `NOT` to form more complex queries. They can also be grouped to force a desired evaluation order. For example, `display_name=abc OR display_name=def`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ListOrdersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists Order resources that the user have access to, within the scope of the parent resource."
            },
            "listMigratable": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.listMigratable",
              "path": "v1alpha1/{+parent}/orders:listMigratable",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders:listMigratable",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource to query for orders. This field is of the form `billingAccounts\/`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+$",
                  "type": "string"
                },
                "newParent": {
                  "description": "Required. The parent the Orders intend on migrating to. This field is of the form `billingAccounts\/`. You must have the \"consumerprocurement.orders.migrate\" permission on new_parent also.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entries that are requested.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The token for fetching the next page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ListMigratableOrdersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists migratable Order resources that the user have access to, within the scope of the parent resource."
            },
            "modify": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.modify",
              "path": "v1alpha1/{+name}:modify",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}:modify",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the order to update.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ModifyOrderRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Modifies an existing Order resource."
            },
            "cancel": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.cancel",
              "path": "v1alpha1/{+name}:cancel",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the order.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1CancelOrderRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Cancels an existing Order. Every product procured in the Order will be cancelled."
            },
            "migrate": {
              "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.migrate",
              "path": "v1alpha1/{+name}:migrate",
              "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}:migrate",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the order to migrate. This field is in this form: billingAccounts\/{billing-account-id}\/orders\/{order-id}.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1MigrateOrderRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Migrates an existing Order resource to a different billing account."
            }
          }
          ,
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.operations.list",
                  "path": "v1alpha1/{+name}/operations",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users\/*\/operations`. To override the binding, API services can add a binding such as `\"\/v1\/{name=users\/*}\/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.operations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.operations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.operations.cancel",
                  "path": "v1alpha1/{+name}:cancel",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+\/operations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "orderAllocations": {
              "methods": {
                "create": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.orderAllocations.create",
                  "path": "v1alpha1/{+parent}/orderAllocations",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/orderAllocations",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of this OrderAllocation. This field is of the form 'billingAccounts\/{billing-account-id}\/orders\/{order-id}'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocation"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an OrderAllocation resource."
                },
                "get": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.orderAllocations.get",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/orderAllocations/{orderAllocationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the OrderAllocation to retrieve. This field is of the form `billingAccounts\/{billing-account-id}\/orders\/{order-id}\/orderAllocations\/{order-allocation-id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+\/orderAllocations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the requested OrderAllocation resource."
                },
                "list": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.orderAllocations.list",
                  "path": "v1alpha1/{+parent}/orderAllocations",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/orderAllocations",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource to query for OrderAllocations. This field is of the form `billingAccounts\/{billing-account-id}\/orders\/{order-id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of entries that are requested.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The token for fetching the next page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1ListOrderAllocationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists OrderAllocation resources that the user has access to, within the scope of the parent resource."
                },
                "patch": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.orderAllocations.patch",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/orderAllocations/{orderAllocationsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the allocation. This field is of the form: `billingAccounts\/{billing-account-id}\/orders\/{order-id}\/orderAllocations\/{order-allocation-id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+\/orderAllocations\/[^\/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. The update mask that applies to the resource. See the [FieldMask definition] (https:\/\/developers.google.com\/protocol-buffers\/docs\/reference\/google.protobuf#fieldmask) for more details.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1OrderAllocation"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing OrderAllocation."
                },
                "delete": {
                  "id": "cloudcommerceconsumerprocurement.billingAccounts.orders.orderAllocations.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/billingAccounts/{billingAccountsId}/orders/{ordersId}/orderAllocations/{orderAllocationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the OrderAllocation to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^billingAccounts\/[^\/]+\/orders\/[^\/]+\/orderAllocations\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an existing OrderAllocation."
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "entitlements": {
          "methods": {
            "get": {
              "id": "cloudcommerceconsumerprocurement.projects.entitlements.get",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/projects/{projectsId}/entitlements/{entitlementsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the entitlement to retrieve. This field is one of the following forms: `projects\/{project-number}\/entitlements\/{entitlement-id}` `projects\/{project-id}\/entitlements\/{entitlement-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/entitlements\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudCommerceConsumerProcurementV1alpha1Entitlement"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the requested Entitlement resource."
            },
            "list": {
              "id": "cloudcommerceconsumerprocurement.projects.entitlements.list",
              "path": "v1alpha1/{+parent}/entitlements",
              "flatPath": "v1alpha1/projects/{projectsId}/entitlements",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource to query for Entitlements. Currently the only parents supported are \"projects\/{project-number}\" and \"projects\/{project-id}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of entries that are requested.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
[...]
