{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "firestore:v1beta1",
  "name": "firestore",
  "canonicalName": "Firestore",
  "version": "v1beta1",
  "revision": "20201106",
  "title": "Cloud Firestore API",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/firestore",
  "protocol": "rest",
  "rootUrl": "https://firestore.googleapis.com/",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://firestore.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "schemas": {
    "GoogleFirestoreAdminV1beta1Index": {
      "id": "GoogleFirestoreAdminV1beta1Index",
      "description": "An index definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the index. Output only.",
          "type": "string"
        },
        "collectionId": {
          "description": "The collection ID to which this index applies. Required.",
          "type": "string"
        },
        "fields": {
          "description": "The fields to index.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          }
        },
        "state": {
          "description": "The state of the index. Output only.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ]
        }
      }
    },
    "GoogleFirestoreAdminV1beta1IndexField": {
      "id": "GoogleFirestoreAdminV1beta1IndexField",
      "description": "A field of an index.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "The path of the field. Must match the field path specification described by google.firestore.v1beta1.Document.fields. Special field path `__name__` may be used by itself or at the end of a path. `__type__` may be used only at the end of path.",
          "type": "string"
        },
        "mode": {
          "description": "The field's mode.",
          "type": "string",
          "enumDescriptions": [
            "The mode is unspecified.",
            "The field's values are indexed so as to support sequencing in ascending order and also query by <, >, <=, >=, and =.",
            "The field's values are indexed so as to support sequencing in descending order and also query by <, >, <=, >=, and =.",
            "The field's array values are indexed so as to support membership using ARRAY_CONTAINS queries."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING",
            "ARRAY_CONTAINS"
          ]
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "type": "object",
      "properties": {
        "indexes": {
          "description": "The indexes.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest",
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "type": "object",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids to export. Unspecified means all collections.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs:\/\/BUCKET_NAME[\/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https:\/\/cloud.google.com\/storage\/docs\/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest",
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "type": "object",
      "properties": {
        "collectionIds": {
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputUriPrefix": {
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix.",
          "type": "string"
        }
      }
    },
    "Document": {
      "id": "Document",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the document, for example `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
          "type": "string"
        },
        "fields": {
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        },
        "createTime": {
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Value": {
      "id": "Value",
      "description": "A message that can hold any of the supported value types.",
      "type": "object",
      "properties": {
        "nullValue": {
          "description": "A null value.",
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ]
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "integerValue": {
          "description": "An integer value.",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "timestampValue": {
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "type": "string",
          "format": "google-datetime"
        },
        "stringValue": {
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries.",
          "type": "string"
        },
        "bytesValue": {
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries.",
          "type": "string",
          "format": "byte"
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
          "type": "string"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "arrayValue": {
          "description": "An array value. Cannot directly contain another array value, though can contain an map which contains another array.",
          "$ref": "ArrayValue"
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        }
      }
    },
    "LatLng": {
      "id": "LatLng",
      "description": "An object that represents a latitude\/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "description": "An array value.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Values in the array.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      }
    },
    "MapValue": {
      "id": "MapValue",
      "description": "A map value.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      }
    },
    "ListDocumentsResponse": {
      "id": "ListDocumentsResponse",
      "description": "The response for Firestore.ListDocuments.",
      "type": "object",
      "properties": {
        "documents": {
          "description": "The Documents found.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      }
    },
    "BatchGetDocumentsRequest": {
      "id": "BatchGetDocumentsRequest",
      "description": "The request for Firestore.BatchGetDocuments.",
      "type": "object",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DocumentMask": {
      "id": "DocumentMask",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "type": "object",
      "properties": {
        "fieldPaths": {
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "description": "Options for creating a new transaction.",
      "type": "object",
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        }
      }
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "description": "Options for a transaction that can only be used to read documents.",
      "type": "object",
      "properties": {
        "readTime": {
          "description": "Reads documents at the given time. This may not be older than 60 seconds.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ReadWrite": {
      "id": "ReadWrite",
      "description": "Options for a transaction that can be used to read and write documents.",
      "type": "object",
      "properties": {
        "retryTransaction": {
          "description": "An optional transaction to retry.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "type": "object",
      "properties": {
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
          "type": "string"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BeginTransactionRequest": {
      "id": "BeginTransactionRequest",
      "description": "The request for Firestore.BeginTransaction.",
      "type": "object",
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      }
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "description": "The response for Firestore.BeginTransaction.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction that was started.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "description": "The request for Firestore.Commit.",
      "type": "object",
      "properties": {
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "transaction": {
          "description": "If set, applies all writes in this transaction, and commits it.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Write": {
      "id": "Write",
      "description": "A write on a document.",
      "type": "object",
      "properties": {
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "delete": {
          "description": "A document name to delete. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
          "type": "string"
        },
        "transform": {
          "description": "Applies a transformation to a document.",
          "$ref": "DocumentTransform"
        },
        "updateMask": {
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name.",
          "$ref": "DocumentMask"
        },
        "updateTransforms": {
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          }
        },
        "currentDocument": {
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document.",
          "$ref": "Precondition"
        }
      }
    },
    "DocumentTransform": {
      "id": "DocumentTransform",
      "description": "A transformation of a document.",
      "type": "object",
      "properties": {
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        },
        "fieldTransforms": {
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          }
        }
      }
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "description": "A transformation of a field of the document.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ]
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive\/negative integer overflow, the field is resolved to the largest magnitude positive\/negative integer.",
          "$ref": "Value"
        },
        "maximum": {
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        }
      }
    },
    "Precondition": {
      "id": "Precondition",
      "description": "A precondition on a document, used for conditional operations.",
      "type": "object",
      "properties": {
        "exists": {
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "When set, the target document must exist and have been last updated at that time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "description": "The response for Firestore.Commit.",
      "type": "object",
      "properties": {
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "WriteResult": {
      "id": "WriteResult",
      "description": "The result of applying a write.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time.",
          "type": "string",
          "format": "google-datetime"
        },
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      }
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "Required. The transaction to roll back.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery.",
      "type": "object",
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "StructuredQuery": {
      "id": "StructuredQuery",
      "description": "A Firestore query.",
      "type": "object",
      "properties": {
        "select": {
          "description": "The projection to return.",
          "$ref": "Projection"
        },
        "from": {
          "description": "The collections to query.",
          "type": "array",
          "items": {
            "$ref": "CollectionSelector"
          }
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "orderBy": {
          "description": "The order to apply to the query results. Firestore guarantees a stable ordering through the following rules: * Any field required to appear in `order_by`, that is not already specified in `order_by`, is appended to the order in field name order by default. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `SELECT * FROM Foo ORDER BY A` becomes `SELECT * FROM Foo ORDER BY A, __name__` * `SELECT * FROM Foo ORDER BY A DESC` becomes `SELECT * FROM Foo ORDER BY A DESC, __name__ DESC` * `SELECT * FROM Foo WHERE A > 1` becomes `SELECT * FROM Foo WHERE A > 1 ORDER BY A, __name__`",
          "type": "array",
          "items": {
            "$ref": "Order"
          }
        },
        "startAt": {
          "description": "A starting point for the query results.",
          "$ref": "Cursor"
        },
        "endAt": {
          "description": "A end point for the query results.",
          "$ref": "Cursor"
        },
        "offset": {
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Must be >= 0 if specified.",
          "type": "integer",
          "format": "int32"
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Must be >= 0 if specified.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Projection": {
      "id": "Projection",
      "description": "The projection of document's fields to return.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          }
        }
      }
    },
    "FieldReference": {
      "id": "FieldReference",
      "description": "A reference to a field, such as `max(messages.time) as max_time`.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "type": "string"
        }
      }
    },
    "CollectionSelector": {
      "id": "CollectionSelector",
      "description": "A selection of a collection, such as `messages as m1`.",
      "type": "object",
      "properties": {
        "collectionId": {
          "description": "The collection ID. When set, selects only collections with this ID.",
          "type": "string"
        },
        "allDescendants": {
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections.",
          "type": "boolean"
        }
      }
    },
    "Filter": {
      "id": "Filter",
      "description": "A filter.",
      "type": "object",
      "properties": {
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        },
        "unaryFilter": {
          "description": "A filter that takes exactly one argument.",
          "$ref": "UnaryFilter"
        }
      }
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "type": "object",
      "properties": {
        "op": {
          "description": "The operator for combining multiple filters.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Must contain at least one filter.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      }
    },
    "FieldFilter": {
      "id": "FieldFilter",
      "description": "A filter on a specific field.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field to filter by.",
          "$ref": "FieldReference"
        },
        "op": {
          "description": "The operator to filter by.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY` or `NOT_IN`.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN` or `ARRAY_CONTAINS_ANY` or `NOT_IN`.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ]
        },
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        }
      }
    },
    "UnaryFilter": {
      "id": "UnaryFilter",
      "description": "A filter with a single operand.",
      "type": "object",
      "properties": {
        "op": {
          "description": "The unary operator to apply.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ]
        },
        "field": {
          "description": "The field to which to apply the operator.",
          "$ref": "FieldReference"
        }
      }
    },
    "Order": {
      "id": "Order",
      "description": "An order on a field.",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        },
        "direction": {
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        }
      }
    },
    "Cursor": {
      "id": "Cursor",
      "description": "A position in a query result set.",
      "type": "object",
      "properties": {
        "values": {
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        },
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        }
      }
    },
    "RunQueryResponse": {
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string",
          "format": "byte"
        },
        "document": {
          "description": "A query result. Not set when reporting partial progress.",
          "$ref": "Document"
        },
        "readTime": {
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        },
        "skippedResults": {
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PartitionQueryRequest": {
      "id": "PartitionQueryRequest",
      "description": "The request for Firestore.PartitionQuery.",
      "type": "object",
      "properties": {
        "structuredQuery": {
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start\/end cursors are not supported.",
          "$ref": "StructuredQuery"
        },
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PartitionQueryResponse": {
      "id": "PartitionQueryResponse",
      "description": "The response for Firestore.PartitionQuery.",
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned.",
          "type": "array",
          "items": {
            "$ref": "Cursor"
          }
        },
        "nextPageToken": {
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results.",
          "type": "string"
        }
      }
    },
    "WriteRequest": {
      "id": "WriteRequest",
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "properties": {
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        },
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "streamToken": {
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string",
          "format": "byte"
        },
        "labels": {
          "description": "Labels associated with this write request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "description": "The response for Firestore.Write.",
      "type": "object",
      "properties": {
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "type": "string",
          "format": "byte"
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListenRequest": {
      "id": "ListenRequest",
      "description": "A request for Firestore.Listen",
      "type": "object",
      "properties": {
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        },
        "removeTarget": {
          "description": "The ID of a target to remove from this stream.",
          "type": "integer",
          "format": "int32"
        },
        "labels": {
          "description": "Labels associated with this target change.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Target": {
      "id": "Target",
      "description": "A specification of a set of documents to listen to.",
      "type": "object",
      "properties": {
        "query": {
          "description": "A target specified by a query.",
          "$ref": "QueryTarget"
        },
        "documents": {
          "description": "A target specified by a set of document names.",
          "$ref": "DocumentsTarget"
        },
        "resumeToken": {
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "targetId": {
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero.",
          "type": "integer",
          "format": "int32"
        },
        "once": {
          "description": "If the target should be removed once it is current and consistent.",
          "type": "boolean"
        }
      }
    },
    "QueryTarget": {
      "id": "QueryTarget",
      "description": "A target specified by a query.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The parent resource name. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents` or `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`. For example: `projects\/my-project\/databases\/my-database\/documents` or `projects\/my-project\/databases\/my-database\/documents\/chatrooms\/my-chatroom`",
          "type": "string"
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        }
      }
    },
    "DocumentsTarget": {
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "type": "object",
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListenResponse": {
      "id": "ListenResponse",
      "description": "The response for Firestore.Listen.",
      "type": "object",
      "properties": {
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        },
        "documentDelete": {
          "description": "A Document has been deleted.",
          "$ref": "DocumentDelete"
        },
        "documentRemove": {
          "description": "A Document has been removed from a target (because it is no longer relevant to that target).",
          "$ref": "DocumentRemove"
        },
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        }
      }
    },
    "TargetChange": {
      "id": "TargetChange",
      "description": "Targets being watched have changed.",
      "type": "object",
      "properties": {
        "targetChangeType": {
          "description": "The type of change that occurred.",
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DocumentChange": {
      "id": "DocumentChange",
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "type": "object",
      "properties": {
        "document": {
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added.",
          "$ref": "Document"
        },
        "targetIds": {
          "description": "A set of target IDs of targets that match this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "DocumentDelete": {
      "id": "DocumentDelete",
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "type": "object",
      "properties": {
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this entity.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "readTime": {
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "DocumentRemove": {
      "id": "DocumentRemove",
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "type": "object",
      "properties": {
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change\/delete\/remove.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ExistenceFilter": {
      "id": "ExistenceFilter",
      "description": "A digest of all the documents that match a given target.",
      "type": "object",
      "properties": {
        "targetId": {
          "description": "The target ID to which this filter applies.",
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListCollectionIdsRequest": {
      "id": "ListCollectionIdsRequest",
      "description": "The request for Firestore.ListCollectionIds.",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "The maximum number of results to return.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "A page token. Must be a value from ListCollectionIdsResponse.",
          "type": "string"
        }
      }
    },
    "ListCollectionIdsResponse": {
      "id": "ListCollectionIdsResponse",
      "description": "The response from Firestore.ListCollectionIds.",
      "type": "object",
      "properties": {
        "collectionIds": {
          "description": "The collection ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A page token that may be used to continue the list.",
          "type": "string"
        }
      }
    },
    "BatchWriteRequest": {
      "id": "BatchWriteRequest",
      "description": "The request for Firestore.BatchWrite.",
      "type": "object",
      "properties": {
        "writes": {
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "labels": {
          "description": "Labels associated with this batch write.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BatchWriteResponse": {
      "id": "BatchWriteResponse",
      "description": "The response from Firestore.BatchWrite.",
      "type": "object",
      "properties": {
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "status": {
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata",
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string",
          "format": "google-datetime"
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects\/{project_id}\/databases\/{database_id}\/indexes\/{index_id}`",
          "type": "string"
        },
        "operationType": {
          "description": "The type of index operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ]
        },
        "cancelled": {
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false.",
          "type": "boolean"
        },
        "documentProgress": {
          "description": "Progress of the existing operation, measured in number of documents.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "id": "GoogleFirestoreAdminV1beta1Progress",
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "properties": {
        "workCompleted": {
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "type": "string",
          "format": "int64"
        },
        "workEstimated": {
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1LocationMetadata": {
      "id": "GoogleFirestoreAdminV1beta1LocationMetadata",
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata",
      "description": "Metadata for ExportDocuments operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "collectionIds": {
          "description": "Which collection ids are being exported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "description": "Where the entities are being exported to.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "description": "Metadata for ImportDocuments operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationState": {
          "description": "The state of the import operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressDocuments": {
          "description": "An estimate of the number of documents processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "collectionIds": {
          "description": "Which collection ids are being imported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputUriPrefix": {
          "description": "The location of the documents being imported.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsResponse": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsResponse",
      "description": "Returned in the google.longrunning.Operation response field.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "exportDocuments": {
              "id": "firestore.projects.databases.exportDocuments",
              "path": "v1beta1/{+name}:exportDocuments",
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Database to export. Should be of the form: `projects\/{project_id}\/databases\/{database_id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage."
            },
            "importDocuments": {
              "id": "firestore.projects.databases.importDocuments",
              "path": "v1beta1/{+name}:importDocuments",
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Database to import into. Should be of the form: `projects\/{project_id}\/databases\/{database_id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore."
            }
          }
          ,
          "resources": {
            "indexes": {
              "methods": {
                "create": {
                  "id": "firestore.projects.databases.indexes.create",
                  "path": "v1beta1/{+parent}/indexes",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "The name of the database this index will apply to. For example: `projects\/{project_id}\/databases\/{database_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created."
                },
                "list": {
                  "id": "firestore.projects.databases.indexes.list",
                  "path": "v1beta1/{+parent}/indexes",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "The database name. For example: `projects\/{project_id}\/databases\/{database_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard List page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard List page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists the indexes that match the specified filters."
                },
                "get": {
                  "id": "firestore.projects.databases.indexes.get",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the index. For example: `projects\/{project_id}\/databases\/{database_id}\/indexes\/{index_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+\/indexes\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets an index."
                },
                "delete": {
                  "id": "firestore.projects.databases.indexes.delete",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The index name. For example: `projects\/{project_id}\/databases\/{database_id}\/indexes\/{index_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+\/indexes\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Deletes an index."
                }
              }
            },
            "documents": {
              "methods": {
                "get": {
                  "id": "firestore.projects.databases.documents.get",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Document to get. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+\/documents\/[^\/]+\/.*$",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "location": "query",
                      "type": "string",
                      "format": "byte"
                    },
                    "readTime": {
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets a single document."
                },
                "list": {
                  "id": "firestore.projects.databases.documents.list",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents` or `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`. For example: `projects\/my-project\/databases\/my-database\/documents` or `projects\/my-project\/databases\/my-database\/documents\/chatrooms\/my-chatroom`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+\/documents\/[^\/]+\/.*$",
                      "type": "string"
                    },
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of documents to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "location": "query",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "transaction": {
                      "description": "Reads documents in a transaction.",
                      "location": "query",
                      "type": "string",
                      "format": "byte"
                    },
                    "readTime": {
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "showMissing": {
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists documents."
                },
                "patch": {
                  "id": "firestore.projects.databases.documents.patch",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the document, for example `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+\/documents\/[^\/]+\/.*$",
                      "type": "string"
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Document"
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Updates or inserts a document."
                },
                "delete": {
                  "id": "firestore.projects.databases.documents.delete",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Document to delete. In the format: `projects\/{project_id}\/databases\/{database_id}\/documents\/{document_path}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+\/documents\/[^\/]+\/.*$",
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Deletes a document."
                },
                "batchGet": {
                  "id": "firestore.projects.databases.documents.batchGet",
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects\/{project_id}\/databases\/{database_id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested."
                },
                "beginTransaction": {
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "path": "v1beta1/{+database}/documents:beginTransaction",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects\/{project_id}\/databases\/{database_id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Starts a new transaction."
                },
                "commit": {
                  "id": "firestore.projects.databases.documents.commit",
                  "path": "v1beta1/{+database}/documents:commit",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects\/{project_id}\/databases\/{database_id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Commits a transaction, while optionally updating documents."
                },
                "rollback": {
                  "id": "firestore.projects.databases.documents.rollback",
                  "path": "v1beta1/{+database}/documents:rollback",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects\/{project_id}\/databases\/{database_id}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects\/[^\/]+\/databases\/[^\/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
[...]
