{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "healthcare:v1alpha2",
  "name": "healthcare",
  "canonicalName": "Cloud Healthcare",
  "version": "v1alpha2",
  "revision": "0",
  "title": "Cloud Healthcare API",
  "description": "Manage, store, and access healthcare data in Google Cloud Platform.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/healthcare",
  "protocol": "rest",
  "rootUrl": "https://healthcare.googleapis.com/",
  "mtlsRootUrl": "https://healthcare.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://healthcare.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects\/example-project\/locations\/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com\/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles\/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles\/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles\/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles\/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/docs\/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members` with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles\/viewer`, `roles\/editor`, or `roles\/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https:\/\/cloud.google.com\/iam\/help\/conditions\/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https:\/\/cloud.google.com\/iam\/docs\/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations\/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`\/`Create`\/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https:\/\/github.com\/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https:\/\/cloud.google.com\/apis\/design\/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    },
    "AnnotationStore": {
      "id": "AnnotationStore",
      "description": "An Annotation store that can store annotation resources such as labels and tags for text, image and audio.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the Annotation store, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/annotationStores\/{annotation_store_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-supplied key-value pairs used to organize Annotation stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListAnnotationStoresResponse": {
      "id": "ListAnnotationStoresResponse",
      "description": "Lists the Annotation stores in the given dataset.",
      "type": "object",
      "properties": {
        "annotationStores": {
          "description": "The returned Annotation stores. Won't be more Annotation stores than the value of page_size in the request.",
          "type": "array",
          "items": {
            "$ref": "AnnotationStore"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ImportAnnotationsRequest": {
      "id": "ImportAnnotationsRequest",
      "description": "Request to import Annotations. The Annotations to be imported must have client-supplied resource names which indicate the annotation resource. The import operation is not atomic. If a failure occurs, any annotations already imported are not removed.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1alpha2AnnotationGcsSource"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2AnnotationGcsSource": {
      "id": "GoogleCloudHealthcareV1alpha2AnnotationGcsSource",
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs:\/\/{bucket_id}\/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: '*' to match 0 or more non-separator characters '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs:\/\/my-bucket\/my-directory\/**.json` imports all files with .json extensions in `my-directory\/` and its sub-directories. '?' to match 1 character All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      }
    },
    "ExportAnnotationsRequest": {
      "id": "ExportAnnotationsRequest",
      "description": "Request to export Annotations. The export operation is not atomic. If a failure occurs, any annotations already imported are not removed.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage destination, which requires the `roles\/storage.objectAdmin` Cloud IAM role.",
          "$ref": "GoogleCloudHealthcareV1alpha2AnnotationGcsDestination"
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination, which requires two IAM roles: `roles\/bigquery.dataEditor` and `roles\/bigquery.jobUser`.",
          "$ref": "GoogleCloudHealthcareV1alpha2AnnotationBigQueryDestination"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2AnnotationGcsDestination": {
      "id": "GoogleCloudHealthcareV1alpha2AnnotationGcsDestination",
      "description": "The Cloud Storage location for export.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes result files, in the format `gs:\/\/{bucket-id}\/{path\/to\/destination\/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2AnnotationBigQueryDestination": {
      "id": "GoogleCloudHealthcareV1alpha2AnnotationBigQueryDestination",
      "description": "The BigQuery table for export.",
      "type": "object",
      "properties": {
        "tableUri": {
          "description": "BigQuery URI to a table, up to 2000 characters long, must be of the form bq:\/\/projectId.bqDatasetId.tableId.",
          "type": "string"
        },
        "force": {
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        },
        "schemaType": {
          "description": "Specifies the schema format to export.",
          "type": "string",
          "enumDescriptions": [
            "Same as SIMPLE.",
            "A flatterned version of Annotation."
          ],
          "enum": [
            "SCHEMA_TYPE_UNSPECIFIED",
            "SIMPLE"
          ]
        },
        "writeDisposition": {
          "description": "Determines whether existing tables in the destination dataset are overwritten or appended to. If a write_disposition is specified, the `force` parameter is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination table is empty.",
            "Erase all existing data in a table before writing the instances.",
            "Append data to the existing table."
          ],
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ]
        }
      }
    },
    "EvaluateAnnotationStoreRequest": {
      "id": "EvaluateAnnotationStoreRequest",
      "description": "Request to evaluate an Annotation store against a ground truth [Annotation store].",
      "type": "object",
      "properties": {
        "goldenStore": {
          "description": "The Annotation store to use as ground truth, in the format of `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/annotationStores\/{annotation_store_id}`.",
          "type": "string"
        },
        "bigqueryDestination": {
          "description": "The BigQuery table where the server writes the output. BigQueryDestination requires the `roles\/bigquery.dataEditor` and `roles\/bigquery.jobUser` Cloud IAM roles.",
          "$ref": "GoogleCloudHealthcareV1alpha2AnnotationBigQueryDestination"
        }
      }
    },
    "ConsentStore": {
      "id": "ConsentStore",
      "description": "Represents a Consent store.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the Consent store, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize Consent stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListConsentStoresResponse": {
      "id": "ListConsentStoresResponse",
      "description": "Lists the Consent stores in the given dataset.",
      "type": "object",
      "properties": {
        "consentStores": {
          "description": "The returned Consent stores. The maximum number of stores returned is determined by the value of page_size in the ListConsentStoresRequest.",
          "type": "array",
          "items": {
            "$ref": "ConsentStore"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "AttributeDefinition": {
      "id": "AttributeDefinition",
      "description": "A client-defined consent attribute.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the attribute definition, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}\/attributeDefinitions\/{attribute_definition_id}`.",
          "type": "string"
        },
        "description": {
          "description": "A description of the attribute.",
          "type": "string"
        },
        "category": {
          "description": "Required. The category of the attribute. The value of this field cannot be changed after creation.",
          "type": "string",
          "enumDescriptions": [
            "No category specified. This option is invalid.",
            "Specify when this attribute captures properties of data resources. For example, data anonymity or data type.",
            "Specify when this attribute captures properties of access requests. For example, requester's role or requester's organization."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE",
            "REQUEST"
          ]
        },
        "allowedValues": {
          "description": "Required. Possible values for the attribute. The number of allowed values must not exceed 100. An empty list is invalid. The list can only be expanded after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "consentDefaultValues": {
          "description": "Default values of the attribute in consents. If no default values are specified, it defaults to an empty value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataMappingDefaultValue": {
          "description": "Default value of the attribute in user data mappings. If no default value is specified, it defaults to an empty value. This field is only applicable to attributes of the category `RESOURCE`.",
          "type": "string"
        }
      }
    },
    "ListAttributeDefinitionsResponse": {
      "id": "ListAttributeDefinitionsResponse",
      "description": "Lists the Attribute definitions in the given Consent store.",
      "type": "object",
      "properties": {
        "attributeDefinitions": {
          "description": "The returned attribute definitions. The maximum number of attributes returned is determined by the value of page_size in the ListAttributeDefinitionsRequest.",
          "type": "array",
          "items": {
            "$ref": "AttributeDefinition"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ConsentArtifact": {
      "id": "ConsentArtifact",
      "description": "Proof of an end user's consent.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the Consent artifact, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}\/consentArtifacts\/{consent_artifact_id}`.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "userSignature": {
          "description": "User's signature.",
          "$ref": "Signature"
        },
        "guardianSignature": {
          "description": "A signature from guardian.",
          "$ref": "Signature"
        },
        "witnessSignature": {
          "description": "A signature from a witness.",
          "$ref": "Signature"
        },
        "consentContentScreenshots": {
          "description": "Screenshots of the consent content.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "consentContentVersion": {
          "description": "An string indicating the version of the consent content.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata associated with the consent artifact. For example, the consent locale or user agent version.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Signature": {
      "id": "Signature",
      "description": "User signature.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "User's UUID provided by the client.",
          "type": "string"
        },
        "image": {
          "description": "An image of the user's signature.",
          "$ref": "Image"
        },
        "metadata": {
          "description": "Metadata associated with the user's signature. For example, the user's name or the user's title.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "signatureTime": {
          "description": "Timestamp of the signature.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Image": {
      "id": "Image",
      "description": "An image.",
      "type": "object",
      "properties": {
        "rawBytes": {
          "description": "Image content represented as a stream of bytes. This field is populated when returned in GetConsentArtifact response, but not included in CreateConsentArtifact and ListConsentArtifact response.",
          "type": "string",
          "format": "byte"
        },
        "gcsUri": {
          "description": "Input only. Points to a Cloud Storage URI containing the image. The URI must be in the following format: `gs:\/\/{bucket_id}\/{object_id}`. The Cloud Healthcare API service account must have the `roles\/storage.objectViewer` Cloud IAM role for this Cloud Storage location. The image at this URI is copied to a Cloud Storage location managed by the Cloud Healthcare API. Responses to image fetching requests return the image in raw_bytes.",
          "type": "string"
        }
      }
    },
    "ListConsentArtifactsResponse": {
      "id": "ListConsentArtifactsResponse",
      "description": "Lists the Consent artifacts in the given Consent store.",
      "type": "object",
      "properties": {
        "consentArtifacts": {
          "description": "The returned consent artifacts. The maximum number of artifacts returned is determined by the value of page_size in the ListConsentArtifactsRequest.",
          "type": "array",
          "items": {
            "$ref": "ConsentArtifact"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Consent": {
      "id": "Consent",
      "description": "Represents an end user's consent.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the Consent, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}\/consents\/{consent_id}`.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "policies": {
          "description": "Represents an end user's consent in terms of the resources that can be accessed and under what conditions.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudHealthcareV1alpha2ConsentPolicy"
          }
        },
        "consentArtifact": {
          "description": "Required. The resource name of the consent artifact that contains proof of the end user's consent, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}\/consentArtifacts\/{consent_artifact_id}`.",
          "type": "string"
        },
        "state": {
          "description": "Indicates the current state of this consent.",
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The consent is active and is considered when evaluating user's consent on resources.",
            "When a consent is updated, the current version is archived and a new one is created with active state.",
            "A revoked consent is not considered when evaluating user's consent on resources."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "REVOKED"
          ]
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2ConsentPolicy": {
      "id": "GoogleCloudHealthcareV1alpha2ConsentPolicy",
      "description": "Represents an end user's consent in terms of the resources that can be accessed and under what conditions.",
      "type": "object",
      "properties": {
        "resourceAttributes": {
          "description": "The data resources that this policy applies to. A data resource is a match if it matches all the attributes listed here.",
          "type": "array",
          "items": {
            "$ref": "Attribute"
          }
        },
        "authorizationRule": {
          "description": "The request conditions to meet to grant access. In addition to any supported comparison operators, authorization rules may have `IN` operator as well as at most 10 logical operators that are limited to `AND` (`&&`), `OR` (`||`).",
          "$ref": "Expr"
        }
      }
    },
    "Attribute": {
      "id": "Attribute",
      "description": "An attribute value for a consent or data mapping. Each Attribute must have a corresponding AttributeDefinition in the consent store that defines the default and allowed values.",
      "type": "object",
      "properties": {
        "attributeDefinitionId": {
          "description": "Indicates the name of an attribute defined at the consent store.",
          "type": "string"
        },
        "values": {
          "description": "The value of the attribute. Must be an acceptable value as defined in the consent store. For example, if the consent store defines \"data type\" with acceptable values \"questionnaire\" and \"step-count\", when the attribute name is data type, this field must contain one of those values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListConsentsResponse": {
      "id": "ListConsentsResponse",
      "description": "Lists the Consents in the given Consent store.",
      "type": "object",
      "properties": {
        "consents": {
          "description": "The returned consents. The maximum number of consents returned is determined by the value of page_size in the ListConsentsRequest.",
          "type": "array",
          "items": {
            "$ref": "Consent"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "RevokeConsentRequest": {
      "id": "RevokeConsentRequest",
      "description": "Revokes the latest revision of the specified Consent by committing a new revision with `state` updated to `REVOKED`. If the latest revision of the given consent is in the `REVOKED` state, no new revision is committed.",
      "type": "object",
      "properties": {
      }
    },
    "UserDataMapping": {
      "id": "UserDataMapping",
      "description": "Maps a user data entry to its end user and Attributes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the User data mapping, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}\/userDataMappings\/{user_data_mapping_id}`.",
          "type": "string"
        },
        "dataId": {
          "description": "Required. A unique identifier for the mapped data.",
          "type": "string"
        },
        "userId": {
          "description": "Required. User's UUID provided by the client.",
          "type": "string"
        },
        "resourceAttributes": {
          "description": "Attributes of end user data. Each attribute can have exactly one value specified. Only explicitly set attributes are displayed here. Attribute definitions with defaults set implicitly apply to these User data mappings. Attributes listed here must be single valued, that is, exactly one value is specified for the field \"values\" in each Attribute.",
          "type": "array",
          "items": {
            "$ref": "Attribute"
          }
        },
        "archived": {
          "description": "Output only. Indicates whether this data mapping is archived.",
          "readOnly": true,
          "type": "boolean"
        },
        "archiveTime": {
          "description": "Output only. Indicates the time when this data mapping was archived.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListUserDataMappingsResponse": {
      "id": "ListUserDataMappingsResponse",
      "description": "Lists the User data mappings in the given Consent store.",
      "type": "object",
      "properties": {
        "userDataMappings": {
          "description": "The returned user data mappings. The maximum number of user data mappings returned is determined by the value of page_size in the ListUserDataMappingsRequest.",
          "type": "array",
          "items": {
            "$ref": "UserDataMapping"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ArchiveUserDataMappingRequest": {
      "id": "ArchiveUserDataMappingRequest",
      "description": "Archives the specified User data mapping.",
      "type": "object",
      "properties": {
      }
    },
    "ArchiveUserDataMappingResponse": {
      "id": "ArchiveUserDataMappingResponse",
      "description": "Archives the specified User data mapping.",
      "type": "object",
      "properties": {
      }
    },
    "CheckDataAccessRequest": {
      "id": "CheckDataAccessRequest",
      "description": "Checks if a particular data_id of a User data mapping in the given Consent store is consented for a given use.",
      "type": "object",
      "properties": {
        "dataId": {
          "description": "The unique identifier of the data to check access for. It must exist in the given `consent_store`.",
          "type": "string"
        },
        "requestAttributes": {
          "description": "The values of request attributes associated with this access request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consentList": {
          "description": "The Consents to evaluate the access request against. They must have the same `user_id` as the data to check access for, exist in the current `consent_store`, and can have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 consents can be provided here.",
          "$ref": "ConsentList"
        },
        "responseView": {
          "description": "The view for CheckDataAccessResponse.",
          "type": "string",
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `consented` field is populated in CheckDataAccessResponse.",
            "All fields within CheckDataAccessResponse are populated. When set to `FULL`, all `ACTIVE` consents are evaluated even if a matching policy is found during evaluation."
          ],
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        }
      }
    },
    "ConsentList": {
      "id": "ConsentList",
      "description": "List of resource names of Consent resources.",
      "type": "object",
      "properties": {
        "consents": {
          "description": "The resource names of the Consents to evaluate against, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/consentStores\/{consent_store_id}\/consents\/{consent_id}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CheckDataAccessResponse": {
      "id": "CheckDataAccessResponse",
      "description": "Checks if a particular data_id of a User data mapping in the given Consent store is consented for a given use.",
      "type": "object",
      "properties": {
        "consented": {
          "description": "Whether the requested data is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "description": "The resource names of all evaluated Consents mapped to their evaluation.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          }
        }
      }
    },
    "ConsentEvaluation": {
      "id": "ConsentEvaluation",
      "description": "The detailed evaluation of a particular Consent.",
      "type": "object",
      "properties": {
        "evaluationResult": {
          "description": "The evaluation result.",
          "type": "string",
          "enumDescriptions": [
            "No evaluation result specified. This option is invalid.",
            "The consent is not applicable to the requested access determination. For example, it does not belong to the end user who owns the data for which the access determination is requested, or it has a `state` of `REVOKED`.",
            "The consent does not have a policy with matching `resource_attributes` as the data.",
            "The consent has at least one policy with matching `resource_attributes` as the data, but none with a satisfied `authorization_rule`.",
            "The consent has at least one policy with matching `resource_attributes` as the data and a satisfied `authorization_rule`."
          ],
          "enum": [
            "EVALUATION_RESULT_UNSPECIFIED",
            "NOT_APPLICABLE",
            "NO_MATCHING_POLICY",
            "NO_SATISFIED_POLICY",
            "HAS_SATISFIED_POLICY"
          ]
        }
      }
    },
    "QueryAccessibleDataRequest": {
      "id": "QueryAccessibleDataRequest",
      "description": "Queries all data_ids that are consented for a given use in the given Consent store and writes them to a specified destination. The returned Operation includes a progress counter for the number of User data mappings processed. Errors are logged to Cloud Logging (see [Viewing logs] (\/healthcare\/docs\/how-tos\/logging) and [QueryAccessibleData] for a sample log entry).",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage destination. The Cloud Healthcare API service account must have the `roles\/storage.objectAdmin` Cloud IAM role for this Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1alpha2ConsentGcsDestination"
        },
        "resourceAttributes": {
          "description": "The values of resources attributes associated with the type of data being requested. If no values are specified, then all data types are included in the output.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestAttributes": {
          "description": "The values of request attributes associated with this access request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2ConsentGcsDestination": {
      "id": "GoogleCloudHealthcareV1alpha2ConsentGcsDestination",
      "description": "The Cloud Storage location for export.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "description": "URI for a Cloud Storage directory where the server writes result files, in the format `gs:\/\/{bucket-id}\/{path\/to\/destination\/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket and directory referenced in `uri_prefix`.",
          "type": "string"
        }
      }
    },
    "EvaluateUserConsentsRequest": {
      "id": "EvaluateUserConsentsRequest",
      "description": "Evaluate an end user's Consents for all matching User data mappings.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. User ID to evaluate consents for.",
          "type": "string"
        },
        "resourceAttributes": {
          "description": "The values of resources attributes associated with the type of data being requested. If no values are specified, then all data types are queried.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestAttributes": {
          "description": "The values of request attributes associated with this access request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "consentList": {
          "description": "The resource names of the consents to evaluate against. Consents must be in the current `consent_store` and belong to the current `user_id`. Consents can be either active or draft. If this field is empty, the default behavior is to use all active consents that belong to `user_id`. A maximum of 100 consents can be provided here.",
          "$ref": "ConsentList"
        },
        "responseView": {
          "description": "The view for EvaluateUserConsentsResponse.",
          "type": "string",
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `consented` field is populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` consents are evaluated even if a matching policy is found during evaluation."
          ],
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ]
        },
        "pageSize": {
          "description": "Limit on the number of user data mappings to return in a single response. If zero the default page size of 100 is used.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "Token to retrieve the next page of results to get the first page.",
          "type": "string"
        }
      }
    },
    "EvaluateUserConsentsResponse": {
      "id": "EvaluateUserConsentsResponse",
      "description": "Evaluate an end user's Consents for all matching User data mappings.",
      "type": "object",
      "properties": {
        "results": {
          "description": "The consent evaluation result for each `data_id`.",
          "type": "array",
          "items": {
            "$ref": "Result"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list. This token is valid for 72 hours after it is created.",
          "type": "string"
        }
      }
    },
    "Result": {
      "id": "Result",
      "description": "The consent evaluation result for a single `data_id`.",
      "type": "object",
      "properties": {
        "dataId": {
          "description": "The unique identifier of the data the consents were checked for.",
          "type": "string"
        },
        "consented": {
          "description": "Whether the requested data is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "description": "The resource names of all evaluated Consents mapped to their evaluation.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          }
        }
      }
    },
    "HttpBody": {
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { \/\/ A unique request id. string request_id = 1; \/\/ The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "description": "The HTTP request\/response body as raw binary.",
          "type": "string",
          "format": "byte"
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "Dataset": {
      "id": "Dataset",
      "description": "A message representing a health dataset. A health dataset represents a collection of healthcare data pertaining to one or more patients. This may include multiple modalities of healthcare data, such as electronic medical records or medical imaging data.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the dataset, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}`.",
          "type": "string"
        },
        "timeZone": {
          "description": "The default timezone used by this dataset. Must be a either a valid IANA time zone name such as \"America\/New_York\" or empty, which defaults to UTC. This is used for parsing times in resources, such as HL7v2 messages, where no explicit timezone is specified.",
          "type": "string"
        },
        "storageOptions": {
          "description": "StorageOptions defines the options for storing datasets.",
          "$ref": "StorageOptions"
        }
      }
    },
    "StorageOptions": {
      "id": "StorageOptions",
      "description": "StorageOptions defines the options for storing datasets.",
      "type": "object",
      "properties": {
        "defaultBlobStorageClass": {
          "description": "The default storage class for Blobs stored in this dataset. Applies to DICOM objects only.",
          "type": "string",
          "enumDescriptions": [
            "If unspecified in CreateDataset, the StorageClass defaults to STANDARD. If unspecified in UpdateDataset and the StorageClass is set in the field mask, an InvalidRequest error is thrown.",
            "Stores the Object in Blob Standard Storage: https:\/\/cloud.google.com\/storage\/docs\/storage-classes#standard",
            "Stores the Object in Blob Nearline Storage: https:\/\/cloud.google.com\/storage\/docs\/storage-classes#nearline",
            "Stores the Object in Blob Coldline Storage: https:\/\/cloud.google.com\/storage\/docs\/storage-classes#coldline",
            "Stores the Object in Blob Archive Storage: https:\/\/cloud.google.com\/storage\/docs\/storage-classes#archive"
          ],
          "enum": [
            "BLOB_STORAGE_CLASS_UNSPECIFIED",
            "STANDARD",
            "NEARLINE",
            "COLDLINE",
            "ARCHIVE"
          ]
        }
      }
    },
    "ListDatasetsResponse": {
      "id": "ListDatasetsResponse",
      "description": "Lists the available datasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "description": "The first page of datasets.",
          "type": "array",
          "items": {
            "$ref": "Dataset"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "DeidentifyDatasetRequest": {
      "id": "DeidentifyDatasetRequest",
      "description": "Redacts identifying information from the specified dataset.",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "The name of the dataset resource to create and write the redacted data to. For example, `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}`. * The destination dataset must not exist. * The destination dataset must be in the same project and location as the source dataset. De-identifying data across multiple projects or locations is not supported.",
          "type": "string"
        },
        "config": {
          "description": "Deidentify configuration.",
          "$ref": "DeidentifyConfig"
        }
      }
    },
    "DeidentifyConfig": {
      "id": "DeidentifyConfig",
      "description": "Configures de-id options specific to different types of content. Each submessage customizes the handling of an https:\/\/tools.ietf.org\/html\/rfc6838 media type or subtype. Configs are applied in a nested manner at runtime.",
      "type": "object",
      "properties": {
        "dicom": {
          "description": "Configures de-id of application\/DICOM content.",
          "$ref": "DicomConfig"
        },
        "fhir": {
          "description": "Configures de-id of application\/FHIR content.",
          "$ref": "FhirConfig"
        },
        "image": {
          "description": "Configures the de-identification of image pixels in the source_dataset.",
          "$ref": "ImageConfig"
        },
        "annotation": {
          "description": "Configures how annotations (such as the location and infoTypes of sensitive information) are created during de-identification. If unspecified, no annotations are created.",
          "$ref": "AnnotationConfig"
        },
        "text": {
          "description": "Configures the de-identification of text in `source_dataset`.",
          "$ref": "TextConfig"
        }
      }
    },
    "DicomConfig": {
      "id": "DicomConfig",
      "description": "Specifies the parameters needed for the de-identification of DICOM stores.",
      "type": "object",
      "properties": {
        "keepList": {
          "description": "List of tags to keep. Remove all other tags.",
          "$ref": "TagFilterList"
        },
        "removeList": {
          "description": "List of tags to remove. Keep all other tags.",
          "$ref": "TagFilterList"
        },
        "filterProfile": {
          "description": "Tag filtering profile that determines the tags to keep or remove.",
          "type": "string",
          "enumDescriptions": [
            "No tag filtration profile provided. Same as KEEP_ALL_PROFILE.",
            "Keep only tags required to produce valid DICOM.",
            "Remove tags based on DICOM Standard's [Attribute Confidentiality Basic Profile (DICOM Standard Edition 2018e)] (http:\/\/dicom.nema.org\/medical\/dicom\/2018e\/output\/chtml\/part15\/chapter_E.html).",
            "Keep all tags.",
            "Inspects within tag contents (including tags nested in a sequence) and replaces sensitive text. The process can be configured using the TextConfig. Applies to all tags with the following Value Representation names: AE, LO, LT, PN, SH, ST, UC, UT, DA, DT, AS."
          ],
          "enum": [
            "TAG_FILTER_PROFILE_UNSPECIFIED",
            "MINIMAL_KEEP_LIST_PROFILE",
            "ATTRIBUTE_CONFIDENTIALITY_BASIC_PROFILE",
            "KEEP_ALL_PROFILE",
            "DEIDENTIFY_TAG_CONTENTS"
          ]
        }
      }
    },
    "TagFilterList": {
      "id": "TagFilterList",
      "description": "List of tags to filter.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags to filter. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined in the [Registry of DICOM Data Elements] (http:\/\/dicom.nema.org\/medical\/dicom\/current\/output\/html\/part06.html#table_6-1). They can be provided by \"Keyword\" or \"Tag\". For example, \"PatientID\", \"00100010\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FhirConfig": {
      "id": "FhirConfig",
      "description": "Specifies how to handle the de-identification of a FHIR store.",
      "type": "object",
      "properties": {
        "fieldMetadataList": {
          "description": "Specifies FHIR paths to match and how to transform them. Any field that is not matched by a FieldMetadata is passed through to the output dataset unmodified. All extensions are removed in the output. If a field can be matched by more than one FieldMetadata, the first FieldMetadata.Action is applied.",
          "type": "array",
          "items": {
            "$ref": "FieldMetadata"
          }
        }
      }
    },
    "FieldMetadata": {
      "id": "FieldMetadata",
      "description": "Specifies FHIR paths to match and how to handle the de-identification of matching fields.",
      "type": "object",
      "properties": {
        "paths": {
          "description": "List of paths to FHIR fields to redact. Each path is a period-separated list where each component is either a field name or FHIR type name. All types begin with an upper case letter. For example, the resource field \"Patient.Address.city\", which uses a string type, can be matched by \"Patient.Address.String\". Path also supports partial matching. For example, \"Patient.Address.city\" can be matched by \"Address.city\" (Patient omitted). Partial matching and type matching can be combined, for example \"Patient.Address.city\" can be matched by \"Address.String\". For \"choice\" types (those defined in the FHIR spec with the form: field[x]), use two separate components. For example, \"deceasedAge.unit\" is matched by \"Deceased.Age.unit\". Supported types are: AdministrativeGenderCode, Code, Date, DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml. Base64Binary is also supported, but may only be kept as-is or have all the content removed. The sub-type for HumanName(for example HumanName.given, HumanName.family) can be omitted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Deidentify action for one field.",
          "type": "string",
          "enumDescriptions": [
            "No action specified.",
            "Transform the entire field based on transformations specified in TextConfig. When the specified transformation cannot be applied to a field (for example, a Crypto Hash transformation cannot be applied to a FHIR Date field), RedactConfig is used.",
            "Inspect and transform any found PHI. When `AnnotationConfig` is provided, annotations of PHI are generated, except for Date and Datetime.",
            "Do not transform."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "TRANSFORM",
            "INSPECT_AND_TRANSFORM",
            "DO_NOT_TRANSFORM"
          ]
        }
      }
    },
    "ImageConfig": {
      "id": "ImageConfig",
      "description": "Specifies how to handle the de-identification of image pixels.",
      "type": "object",
      "properties": {
        "textRedactionMode": {
          "description": "Determines how to redact text from images.",
          "type": "string",
          "enumDescriptions": [
            "No text redaction specified. Same as REDACT_NO_TEXT.",
            "Redact all text.",
            "Redact sensitive text.",
            "Do not redact text."
          ],
          "enum": [
            "TEXT_REDACTION_MODE_UNSPECIFIED",
            "REDACT_ALL_TEXT",
            "REDACT_SENSITIVE_TEXT",
            "REDACT_NO_TEXT"
          ]
        }
      }
    },
    "AnnotationConfig": {
      "id": "AnnotationConfig",
      "description": "Specifies how to store annotations during de-identification operations.",
      "type": "object",
      "properties": {
        "annotationStoreName": {
          "description": "The name of the annotation store, in the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/annotationStores\/{annotation_store_id}`. * The destination annotation store must be in the same project and location as the source data. De-identifying data across multiple projects or locations is not supported. * The destination annotation store must exist when using DeidentifyDicomStore or DeidentifyFhirStore. DeidentifyDataset automatically creates the destination annotation store.",
          "type": "string"
        },
        "storeQuote": {
          "description": "If set to true, sensitive text is included in SensitiveTextAnnotation of Annotation.",
          "type": "boolean"
        }
      }
    },
    "TextConfig": {
      "id": "TextConfig",
      "description": "Configures how to transform sensitive text `InfoTypes`.",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "The transformations to apply to the detected data.",
          "type": "array",
          "items": {
            "$ref": "InfoTypeTransformation"
          }
        }
      }
    },
    "InfoTypeTransformation": {
      "id": "InfoTypeTransformation",
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "`InfoTypes` to apply this transformation to. If this is not specified, this transformation becomes the default transformation, and is used for any `info_type` that is not specified in another transformation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "redactConfig": {
          "description": "Config for text redaction.",
          "$ref": "RedactConfig"
        },
        "characterMaskConfig": {
          "description": "Config for character mask.",
          "$ref": "CharacterMaskConfig"
        },
        "dateShiftConfig": {
          "description": "Config for date shift.",
          "$ref": "DateShiftConfig"
        },
        "cryptoHashConfig": {
          "description": "Config for crypto hash.",
          "$ref": "CryptoHashConfig"
        },
        "replaceWithInfoTypeConfig": {
          "description": "Config for replace with InfoType.",
          "$ref": "ReplaceWithInfoTypeConfig"
        }
      }
    },
    "RedactConfig": {
      "id": "RedactConfig",
      "description": "Defines how to redact sensitive values. Default behavior is erase. For example, \"My name is Jane.\" becomes \"My name is .\"",
      "type": "object",
      "properties": {
      }
    },
    "CharacterMaskConfig": {
      "id": "CharacterMaskConfig",
      "description": "Masks a string by replacing its characters with a fixed character.",
      "type": "object",
      "properties": {
        "maskingCharacter": {
          "description": "Character to mask the sensitive values. If not supplied, defaults to \"*\".",
          "type": "string"
        }
      }
    },
    "DateShiftConfig": {
      "id": "DateShiftConfig",
      "description": "Shifts a date forward or backward in time by a random amount that is consistent for a given patient and crypto key combination.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "An AES 128\/192\/256 bit key. Causes the shift to be computed based on this key and the patient ID. A default key is generated for each de-identification operation and is used when crypto_key is not specified.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "CryptoHashConfig": {
      "id": "CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates using cryptographic hashing. Uses SHA-256. Outputs a base64-encoded representation of the hashed output. For example, `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`.",
      "type": "object",
      "properties": {
        "cryptoKey": {
          "description": "An AES 128\/192\/256 bit key. Causes the hash to be computed based on this key. A default key is generated for each Deidentify operation and is used when crypto_key is not specified.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ReplaceWithInfoTypeConfig": {
      "id": "ReplaceWithInfoTypeConfig",
      "description": "When using the INSPECT_AND_TRANSFORM action, each match is replaced with the name of the `info_type`. For example, \"My name is Jane\" becomes \"My name is [PERSON_NAME].\" The TRANSFORM action is equivalent to redacting.",
      "type": "object",
      "properties": {
      }
    },
    "DicomStore": {
      "id": "DicomStore",
      "description": "Represents a DICOM store.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the DICOM store, of the form `projects\/{project_id}\/locations\/{location_id}\/datasets\/{dataset_id}\/dicomStores\/{dicom_store_id}`.",
          "type": "string"
        },
        "notificationConfig": {
          "description": "Notification destination for new DICOM instances. Supplied by the client.",
          "$ref": "NotificationConfig"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize DICOM stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "Specifies where the server sends notifications upon changes to a data store.",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "description": "The [Cloud Pub\/Sub](https:\/\/cloud.google.com\/pubsub\/docs\/) topic that notifications of changes are published on. Supplied by the client. PubsubMessage.Data contains the resource name. PubsubMessage.MessageId is the ID of this message. It is guaranteed to be unique within the topic. PubsubMessage.PublishTime is the time at which the message was published. Notifications are only sent if the topic is non-empty. [Topic names](https:\/\/cloud.google.com\/pubsub\/docs\/overview#names) must be scoped to a project. Cloud Healthcare API service account must have publisher permissions on the given Cloud Pub\/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Cloud Pub\/Sub, errors are logged to Cloud Logging (see [Viewing logs](\/healthcare\/docs\/how-tos\/logging)). If the number of errors exceeds a certain rate, some aren't submitted. Note that not all operations trigger notifications, see [Configuring Pub\/Sub notifications](https:\/\/cloud.google.com\/healthcare\/docs\/how-tos\/pubsub) for specific details.",
          "type": "string"
        }
      }
    },
    "ListDicomStoresResponse": {
      "id": "ListDicomStoresResponse",
      "description": "Lists the DICOM stores in the given dataset.",
      "type": "object",
      "properties": {
        "dicomStores": {
          "description": "The returned DICOM stores. Won't be more DICOM stores than the value of page_size in the request.",
          "type": "array",
          "items": {
            "$ref": "DicomStore"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ImportDicomDataRequest": {
      "id": "ImportDicomDataRequest",
      "description": "Imports data into the specified DICOM store. Returns an error if any of the files to import are not DICOM files. This API accepts duplicate DICOM instances by ignoring the newly-pushed instance. It does not overwrite.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles\/storage.objectViewer` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1alpha2DicomGcsSource"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2DicomGcsSource": {
      "id": "GoogleCloudHealthcareV1alpha2DicomGcsSource",
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs:\/\/{bucket_id}\/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: '*' to match 0 or more non-separator characters '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs:\/\/my-bucket\/my-directory\/**.dcm` imports all files with .dcm extensions in `my-directory\/` and its sub-directories. '?' to match 1 character All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      }
    },
    "ExportDicomDataRequest": {
      "id": "ExportDicomDataRequest",
      "description": "Exports data from the specified DICOM store. If a given resource, such as a DICOM object with the same SOPInstance UID, already exists in the output, it is overwritten with the version in the source dataset. Exported DICOM data persists when the DICOM store from which it was exported is deleted.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles\/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1alpha2DicomGcsDestination"
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination. You can only export to a BigQuery dataset that's in the same project as the DICOM store you're exporting from. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles\/bigquery.dataEditor` and `roles\/bigquery.jobUser`.",
          "$ref": "GoogleCloudHealthcareV1alpha2DicomBigQueryDestination"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2DicomGcsDestination": {
      "id": "GoogleCloudHealthcareV1alpha2DicomGcsDestination",
      "description": "The Cloud Storage location where the server writes the output and the export configuration.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes the result files, in the format `gs:\/\/{bucket-id}\/{path\/to\/destination\/dir}`). If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`.",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME types supported by DICOM spec. Each file is written in the following format: `...\/{study_id}\/{series_id}\/{instance_id}[\/{frame_number}].{extension}` The frame_number component exists only for multi-frame instances. Supported MIME types are consistent with supported formats in DICOMweb: https:\/\/cloud.google.com\/healthcare\/docs\/dicom#retrieve_transaction. Specifically, the following are supported: - application\/dicom; transfer-syntax=1.2.840.10008.1.2.1 (uncompressed DICOM) - application\/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM with embedded JPEG Baseline) - application\/dicom; transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG 2000 Lossless Only) - application\/dicom; transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG 2000) - application\/dicom; transfer-syntax=* (DICOM with no transcoding) - application\/octet-stream; transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) - application\/octet-stream; transfer-syntax=* (raw PixelData in whatever format it was uploaded in) - image\/jpeg; transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image\/png The following extensions are used for output files: - application\/dicom -> .dcm - image\/jpeg -> .jpg - image\/png -> .png - application\/octet-stream -> no extension If unspecified, the instances are exported in the original DICOM format they were uploaded in.",
          "type": "string"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2DicomBigQueryDestination": {
      "id": "GoogleCloudHealthcareV1alpha2DicomBigQueryDestination",
      "description": "The BigQuery table where the server writes output.",
      "type": "object",
      "properties": {
        "tableUri": {
          "description": "BigQuery URI to a table, up to 2000 characters long, in the format `bq:\/\/projectId.bqDatasetId.tableId`",
          "type": "string"
        },
        "force": {
          "description": "Use `write_disposition` instead. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE.",
          "type": "boolean"
        }
      }
    },
    "Hl7V2Store": {
      "id": "Hl7V2Store",
      "description": "Represents an HL7v2 store.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the HL7v2 store, of the form `projects\/{project_id}\/datasets\/{dataset_id}\/hl7V2Stores\/{hl7v2_store_id}`.",
          "type": "string"
        },
        "notificationConfig": {
          "description": "The notification destination all messages (both Ingest & Create) are published on. Only the message name is sent as part of the notification. If this is unset, no notifications are sent. Supplied by the client.",
          "$ref": "NotificationConfig"
        },
        "parserConfig": {
          "description": "The configuration for the parser. It determines how the server parses the messages.",
          "$ref": "ParserConfig"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ParserConfig": {
      "id": "ParserConfig",
      "description": "The configuration for the parser. It determines how the server parses the messages.",
      "type": "object",
      "properties": {
        "allowNullHeader": {
          "description": "Determines whether messages with no header are allowed.",
          "type": "boolean"
        },
        "segmentTerminator": {
          "description": "Byte(s) to use as the segment terminator. If this is unset, '\\r' is used as the segment terminator, matching the HL7 version 2 specification.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ListHl7V2StoresResponse": {
      "id": "ListHl7V2StoresResponse",
      "description": "Lists the HL7v2 stores in the given dataset.",
      "type": "object",
      "properties": {
        "hl7V2Stores": {
          "description": "The returned HL7v2 stores. Won't be more HL7v2 stores than the value of page_size in the request.",
          "type": "array",
          "items": {
            "$ref": "Hl7V2Store"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "ExportMessagesRequest": {
      "id": "ExportMessagesRequest",
      "description": "Request to schedule an export.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start of the range in `send_time` (MSH.7, https:\/\/www.hl7.org\/documentcenter\/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D\/wg\/conf\/HL7MSH.htm) to process. If not specified, the UNIX epoch (1970-01-01T00:00:00Z) is used. This value has to come before the `end_time` defined below. Only messages whose `send_times` lie in the range defined by this value and `end_time` are exported.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the range in `send_time` (MSH.7, https:\/\/www.hl7.org\/documentcenter\/public_temp_2E58C1F9-1C23-BA17-0C6126475344DA9D\/wg\/conf\/HL7MSH.htm) to process. If not specified, the time when the export is scheduled is used. This value has to be after the `start_time` defined above. Only messages whose `send_times` lie in the range defined by this value and the `start_time` above are exported.",
          "type": "string",
          "format": "google-datetime"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1alpha2Hl7v2GcsDestination"
        }
      }
    },
    "GoogleCloudHealthcareV1alpha2Hl7v2GcsDestination": {
      "id": "GoogleCloudHealthcareV1alpha2Hl7v2GcsDestination",
      "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles\/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
      "type": "object",
      "properties": {
        "uriPrefix": {
          "description": "URI for a Cloud Storage directory where the server writes result files, in the format `gs:\/\/{bucket-id}\/{path\/to\/destination\/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`.",
          "type": "string"
        },
        "messageView": {
          "description": "Specifies the parts of the Message resource to include in the export. If not specified, FULL is used.",
          "type": "string",
          "enumDescriptions": [
            "Not specified, equivalent to FULL for getMessage, equivalent to BASIC for listMessages.",
            "Server responses include all the message fields except parsed_data and schematized_data fields.",
            "Server responses include all the message fields except data and schematized_data fields.",
            "Server responses include all the message fields.",
            "Server responses include all the message fields except data and parsed_data fields.",
            "Server responses include only the name field."
          ],
          "enum": [
            "MESSAGE_VIEW_UNSPECIFIED",
            "RAW_ONLY",
            "PARSED_ONLY",
            "FULL",
            "SCHEMATIZED_ONLY",
            "BASIC"
          ]
        },
        "contentStructure": {
          "description": "The format of the exported HL7v2 message files.",
          "type": "string",
          "enumDescriptions": [
            "If the content structure is not specified, the default value `MESSAGE_JSON` will be used.",
            "Messages are printed using the JSON format returned from the `GetMessage` API. Messages are delimited with newlines."
          ],
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "MESSAGE_JSON"
          ]
        }
      }
    },
    "ImportMessagesRequest": {
      "id": "ImportMessagesRequest",
      "description": "Request to import messages.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles\/storage.objectViewer` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GcsSource"
        }
      }
    },
    "GcsSource": {
      "id": "GcsSource",
      "description": "Specifies the configuration for importing data from Cloud Storage.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs:\/\/{bucket_id}\/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs:\/\/my-bucket\/my-directory\/**.ndjson` imports all files with `.ndjson` extensions in `my-directory\/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      }
    },
    "FhirStore": {
      "id": "FhirStore",
      "description": "Represents a FHIR store.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the FHIR store, of the form `projects\/{project_id}\/datasets\/{dataset_id}\/fhirStores\/{fhir_store_id}`.",
          "type": "string"
        },
        "enableUpdateCreate": {
          "description": "Whether this FHIR store has the [updateCreate capability](https:\/\/www.hl7.org\/fhir\/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. Be careful with the audit logs if client-specified resource IDs contain sensitive data such as patient identifiers, those IDs are part of the FHIR resource path recorded in Cloud audit logs and Cloud Pub\/Sub notifications.",
          "type": "boolean"
        },
        "notificationConfig": {
          "description": "If non-empty, publish all resource modifications of this FHIR store to this destination. The Cloud Pub\/Sub message attributes contain a map with a string describing the action that has triggered the notification. For example, \"action\":\"CreateResource\".",
          "$ref": "NotificationConfig"
        },
        "disableReferentialIntegrity": {
          "description": "Immutable. Whether to disable referential integrity in this FHIR store. This field is immutable after FHIR store creation. The default value is false, meaning that the API enforces referential integrity and fail the requests that result in inconsistent state in the FHIR store. When this field is set to true, the API skips referential integrity checks. Consequently, operations that rely on references, such as GetPatientEverything, do not return all the results if broken references exist.",
          "type": "boolean"
        },
        "disableResourceVersioning": {
          "description": "Immutable. Whether to disable resource versioning for this FHIR store. This field can not be changed after the creation of FHIR store. If set to false, which is the default behavior, all write operations cause historical versions to be recorded automatically. The historical versions can be fetched through the history APIs, but cannot be updated. If set to true, no historical versions are kept. The server sends errors for attempts to read the historical versions.",
          "type": "boolean"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "description": "Immutable. The FHIR specification version that this FHIR store supports natively. This field is immutable after store creation. Requests are rejected if they contain FHIR resources of a different version. Version is required for every FHIR store.",
          "type": "string",
          "enumDescriptions": [
            "VERSION_UNSPECIFIED is treated as STU3 to accommodate the existing FHIR stores.",
            "Draft Standard for Trial Use, [Release 2](https:\/\/www.hl7.org\/fhir\/DSTU2)",
            "Standard for Trial Use, [Release 3](https:\/\/www.hl7.org\/fhir\/STU3)",
            "[Release 4](https:\/\/www.hl7.org\/fhir\/R4)"
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "DSTU2",
            "STU3",
            "R4"
          ]
        },
        "streamConfigs": {
          "description": "A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination.",
          "type": "array",
          "items": {
            "$ref": "StreamConfig"
          }
        }
      }
    },
    "StreamConfig": {
      "id": "StreamConfig",
      "description": "Contains configuration for streaming FHIR export.",
      "type": "object",
      "properties": {
        "resourceTypes": {
          "description": "Supply a FHIR resource type (such as \"Patient\" or \"Observation\"). See https:\/\/www.hl7.org\/fhir\/valueset-resource-types.html for a list of all FHIR resource types. The server treats an empty list as an intent to stream all the supported resource types in this FHIR store.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigqueryDestination": {
[...]
