{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "orgpolicy:v2alpha1",
  "name": "orgpolicy",
  "canonicalName": "OrgPolicy API",
  "version": "v2alpha1",
  "revision": "0",
  "title": "Organization Policy API",
  "description": "The Org Policy API allows users to configure governance ruleson their GCP resources across the Cloud Resource Hierarchy.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
   },
  "documentationLink": "https://cloud.google.com/resource-manager/docs/organization-policy/understanding-constraints",
  "protocol": "rest",
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudOrgpolicyV2alpha1ListConstraintsResponse": {
      "id": "GoogleCloudOrgpolicyV2alpha1ListConstraintsResponse",
      "description": "The response returned from the ListConstraints method.",
      "type": "object",
      "properties": {
        "constraints": {
          "description": "The collection of constraints that are available on the targeted resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Constraint"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1Constraint": {
      "id": "GoogleCloudOrgpolicyV2alpha1Constraint",
      "description": "A `Constraint` describes a way in which a resource's configuration can be restricted. For example, it controls which cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. `Constraints` can be configured by the organization's policy adminstrator to fit the needs of the organzation by setting Policies for `Constraints` at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules please read about Policies. `Constraints` have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a `Policy` being defined or inherited for the resource in question.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the Constraint. Must be in one of the following forms: * `projects\/{project_number}\/constraints\/{constraint_name}` * `folders\/{folder_id}\/constraints\/{constraint_name}` * `organizations\/{organization_id}\/constraints\/{constraint_name}` For example, \"\/projects\/123\/constraints\/compute.disableSerialPortAccess\". Immutable.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name. Mutable.",
          "type": "string"
        },
        "description": {
          "description": "Detailed description of what this `Constraint` controls as well as how and where it is enforced. Mutable.",
          "type": "string"
        },
        "constraintDefault": {
          "description": "The evaluation behavior of this constraint in the absense of 'Policy'.",
          "type": "string",
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ],
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "listConstraint": {
          "description": "Defines this constraint as being a ListConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2alpha1ConstraintListConstraint"
        },
        "booleanConstraint": {
          "description": "Defines this constraint as being a BooleanConstraint.",
          "$ref": "GoogleCloudOrgpolicyV2alpha1ConstraintBooleanConstraint"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1ConstraintListConstraint": {
      "id": "GoogleCloudOrgpolicyV2alpha1ConstraintListConstraint",
      "description": "A `Constraint` that allows or disallows a list of string values, which are configured by an Organization's policy administrator with a `Policy`.",
      "type": "object",
      "properties": {
        "supportsIn": {
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group.",
          "type": "boolean"
        },
        "supportsUnder": {
          "description": "Indicates whether subtrees of Cloud Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders\/123\"` would match any resource under the 'folders\/123' folder.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1ConstraintBooleanConstraint": {
      "id": "GoogleCloudOrgpolicyV2alpha1ConstraintBooleanConstraint",
      "description": "A `Constraint` that is either enforced or not. For example a constraint `constraints\/compute.disableSerialPortAccess`. If it is enforced on a VM instance, serial port connections will not be opened to that instance.",
      "type": "object",
      "properties": {
      }
    },
    "GoogleCloudOrgpolicyV2alpha1ListPoliciesResponse": {
      "id": "GoogleCloudOrgpolicyV2alpha1ListPoliciesResponse",
      "description": "The response returned from the ListPolicies method. It will be empty if no `Policies` are set on the resource.",
      "type": "object",
      "properties": {
        "policies": {
          "description": "All `Policies` that exist on the resource. It will be empty if no `Policies` are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1Policy": {
      "id": "GoogleCloudOrgpolicyV2alpha1Policy",
      "description": "Defines a Cloud Organization `Policy` which is used to specify `Constraints` for configurations of Cloud Platform resources.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The resource name of the Policy. Must be one of the following forms, where constraint_name is the name of the constraint which this Policy configures: * `projects\/{project_number}\/policies\/{constraint_name}` * `folders\/{folder_id}\/policies\/{constraint_name}` * `organizations\/{organization_id}\/policies\/{constraint_name}` For example, \"projects\/123\/policies\/compute.disableSerialPortAccess\". Note: `projects\/{project_id}\/policies\/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
          "type": "string"
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2alpha1PolicySpec"
        },
        "alternate": {
          "description": "An alternate policy configuration that will be used instead of the baseline policy configurations as determined by the launch. Currently the only way the launch can trigger the alternate configuration is via dry-run\/dark.",
          "$ref": "GoogleCloudOrgpolicyV2alpha1AlternatePolicySpec"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1PolicySpec": {
      "id": "GoogleCloudOrgpolicyV2alpha1PolicySpec",
      "description": "Defines a Cloud Organization `PolicySpec` which is used to specify `Constraints` for configurations of Cloud Platform resources.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "An opaque tag indicating the current version of the `Policy`, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the `Policy` is returned from either a `GetPolicy` or a `ListPolicies` request, this `etag` indicates the version of the current `Policy` to use when executing a read-modify-write loop. When the `Policy` is returned from a `GetEffectivePolicy` request, the `etag` will be unset. When the `Policy` is used in a `UpdatePolicy` method, use the `etag` value that was returned from a `GetPolicy` request as part of a read-modify-write loop for concurrency control. If `UpdatePolicyRequest`'s `force_unconditional_write` field is set to true, this field must not be set. Otherwise, the `etag` is required for `UpdatePolicy`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that `Policy`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "rules": {
          "description": "Up to 10 PolicyRules are allowed. In Policies for boolean constraints, the following requirements apply: - There must be one and only one PolicyRule where condition is unset. - BooleanPolicyRules with conditions must set `enforced` to the opposite of the PolicyRule without a condition. - During policy evaluation, PolicyRules with conditions that are true for a target resource take precedence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1PolicySpecPolicyRule"
          }
        },
        "inheritFromParent": {
          "description": "This field can be set only for Policies which configure list constraints.",
          "type": "boolean"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific `Constraint` at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1PolicySpecPolicyRule": {
      "id": "GoogleCloudOrgpolicyV2alpha1PolicySpecPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object",
      "properties": {
        "values": {
          "description": "List of values to be used for this PolicyRule. This field can be set only in Policies for list constraints.",
          "$ref": "GoogleCloudOrgpolicyV2alpha1PolicySpecPolicyRuleStringValues"
        },
        "allowAll": {
          "description": "Setting this to true means that all values are allowed. This field can be set only in Policies for list constraints.",
          "type": "boolean"
        },
        "denyAll": {
          "description": "Setting this to true means that all values are denied. This field can be set only in Policies for list constraints.",
          "type": "boolean"
        },
        "enforce": {
          "description": "If `true`, then the `Policy` is enforced. If `false`, then any configuration is acceptable. This field can be set only in Policies for boolean constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "Optional. A condition which determines whether this rule is used in the evaluation of the policy. When set, the `expression` field in the `Expr' must include from 1 to 10 subexpressions, joined by the \"||\" or \"&&\" operators. Each subexpression must be of the form \"resource.matchLabels(key_name, value_name)\", where key_name and value_name are the resource names for Label Keys and Values. These names are available from the Label Manager Service. An example expression is: \"resource.matchLabels('labelKeys\/123, 'labelValues\/456')\".",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1PolicySpecPolicyRuleStringValues": {
      "id": "GoogleCloudOrgpolicyV2alpha1PolicySpecPolicyRuleStringValues",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of Cloud Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - \"projects\/\", e.g. \"projects\/tokyo-rain-123\" - \"folders\/\", e.g. \"folders\/1234\" - \"organizations\/\", e.g. \"organizations\/1234\" The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "type": "object",
      "properties": {
        "allowedValues": {
          "description": "List of values allowed at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "description": "List of values denied at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https:\/\/github.com\/google\/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2alpha1AlternatePolicySpec": {
      "id": "GoogleCloudOrgpolicyV2alpha1AlternatePolicySpec",
      "type": "object",
      "properties": {
        "launch": {
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Should be set only in the alternate policy.",
          "type": "string"
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2alpha1PolicySpec"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {
      }
    }
  },
  "resources": {
    "constraints": {
      "methods": {
        "list": {
          "id": "orgpolicy.constraints.list",
          "path": "v2alpha1/{+parent}/constraints",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/constraints",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "The Cloud resource that parents the constraint. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+$",
              "type": "string"
            },
            "pageSize": {
              "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1ListConstraintsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists `Constraints` that could be applied on the specified resource."
        }
      }
    },
    "policies": {
      "methods": {
        "list": {
          "id": "orgpolicy.policies.list",
          "path": "v2alpha1/{+parent}/policies",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/policies",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "The target Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+$",
              "type": "string"
            },
            "pageSize": {
              "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1ListPoliciesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieves all of the `Policies` that exist on a particular resource."
        },
        "get": {
          "id": "orgpolicy.policies.get",
          "path": "v2alpha1/{+name}",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/policies/{policiesId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Resource name of the policy. See `Policy` for naming requirements.",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+\/policies\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a `Policy` on a resource. If no `Policy` is set on the resource, NOT_FOUND is returned. The `etag` value can be used with `UpdatePolicy()` to update a `Policy` during read-modify-write."
        },
        "getEffectivePolicy": {
          "id": "orgpolicy.policies.getEffectivePolicy",
          "path": "v2alpha1/{+name}:getEffectivePolicy",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/policies/{policiesId}:getEffectivePolicy",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The effective policy to compute. See `Policy` for naming rules.",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+\/policies\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the effective `Policy` on a resource. This is the result of merging `Policies` in the resource hierarchy and evaluating conditions. The returned `Policy` will not have an `etag` or `condition` set because it is a computed `Policy` across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded."
        },
        "create": {
          "id": "orgpolicy.policies.create",
          "path": "v2alpha1/{+parent}/policies",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/policies",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "The Cloud resource that will parent the new Policy. Must be in one of the following forms: * `projects\/{project_number}` * `projects\/{project_id}` * `folders\/{folder_id}` * `organizations\/{organization_id}`",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+$",
              "type": "string"
            },
            "constraint": {
              "description": "The name of the `Constraint` the `Policy` is configuring, for example, `constraints\/compute.disableSerialPortAccess`.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          },
          "response": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a Policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Cloud resource."
        },
        "patch": {
          "id": "orgpolicy.policies.patch",
          "path": "v2alpha1/{+name}",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/policies/{policiesId}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Immutable. The resource name of the Policy. Must be one of the following forms, where constraint_name is the name of the constraint which this Policy configures: * `projects\/{project_number}\/policies\/{constraint_name}` * `folders\/{folder_id}\/policies\/{constraint_name}` * `organizations\/{organization_id}\/policies\/{constraint_name}` For example, \"projects\/123\/policies\/compute.disableSerialPortAccess\". Note: `projects\/{project_id}\/policies\/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+\/policies\/[^\/]+$",
              "type": "string"
            },
            "forceUnconditionalWrite": {
              "description": "Indicates that this request should overwrite the current policy and ignore the `etag` used for optimistic currency control. When set to true, `etag` in `Policy` must be unset. Otherwise, `etag` is required.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          },
          "response": {
            "$ref": "GoogleCloudOrgpolicyV2alpha1Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates a Policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy do not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the etag supplied in the request does not match the persisted etag of the policy Note: the supplied policy will perform a full overwrite of all fields."
        },
        "delete": {
          "id": "orgpolicy.policies.delete",
          "path": "v2alpha1/{+name}",
          "flatPath": "v2alpha1/{v2alpha1Id}/{v2alpha1Id1}/policies/{policiesId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Name of the policy to delete. See `Policy` for naming rules.",
              "location": "path",
              "required": true,
              "pattern": "^[^\/]+\/[^\/]+\/policies\/[^\/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a Policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or Org Policy does not exist."
        }
      }
    }
  },
  "basePath": ""
}