# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Checks that are intended to run on PRs containing Java code.

name: Java PR

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - '**.java'
      - '**.xml'
      # Include python files and Dockerfiles used for YAML and xlang templates.
      - '**.py'
      # Include Python requirements files for dependency updates
      - '**/requirements.txt'
      - 'python/default_base_*.txt'
      - 'python/generate_all_dependencies.sh'
      - 'plugins/core-plugin/src/main/resources/**'
      # Include relevant GitHub Action files for running these checks.
      # This will make it easier to verify action changes don't break anything.
      - '.github/actions/setup-env/*'
      - '.github/workflows/java-pr.yml'
      # Exclude spanner paths from global run (covered in https://github.com/GoogleCloudPlatform/DataflowTemplates/blob/main/.github/workflows/spanner-pr.yml)
      - '!v2/datastream-to-spanner/**'
      - '!v2/spanner-common/**'
      - '!v2/spanner-change-streams-to-sharded-file-sink/**'
      - '!v2/gcs-to-sourcedb/**'
      - '!v2/spanner-migrations-sdk/**'
      - '!v2/spanner-custom-shard/**'
      - '!v2/sourcedb-to-spanner/**'
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.plugins.shade=error
  IT_REGION: us-west2

permissions: write-all

jobs:
  java_integration_tests_templates:
    name: Dataflow Templates Integration Tests
    timeout-minutes: 240
    # Run on any runner that matches all the specified runs-on values.
    runs-on: [self-hosted, it]
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Environment
        id: setup-env
        uses: ./.github/actions/setup-env
      - name: Run Integration Tests
        run: |
          ./cicd/run-it-tests \
          --modules-to-build="YAML" \
          --it-region="${{ env.IT_REGION }}" \
          --it-project="cloud-teleport-testing" \
          --it-integration-test-parallelism=6 \
          --it-thread-count=6 \
          --it-artifact-bucket="cloud-teleport-testing-it-gitactions" \
          --it-private-connectivity="datastream-connect-2"
      - name: Upload Integration Tests Report
        uses: actions/upload-artifact@v5
        if: always() # always run even if the previous step fails
        with:
          name: surefire-integration-test-results
          path: |
            **/surefire-reports/TEST-*.xml
            **/surefire-reports/*.html
            **/surefire-reports/html/**
          retention-days: 1
      - name: Integration Test report on GitHub
        uses: dorny/test-reporter@v2
        if: always()
        with:
          name: Integration Test report on GitHub
          path: '**/surefire-reports/TEST-*.xml'
          reporter: java-junit
          only-summary: 'true'
          token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-error: 'false'
          list-suites: 'failed'
          list-tests: 'failed'
      - name: Cleanup Java Environment
        uses: ./.github/actions/cleanup-java-env
        if: always()
