name: Load Tests

on:
  schedule:
  # at 00:00 every Saturday.
  - cron: '0 0 * * 6'
  workflow_dispatch:

permissions: read-all

jobs:
  load_tests:
    name: Dataflow Templates Load tests
    timeout-minutes: 2880 # 2 days
    # Run on any runner that matches all the specified runs-on values.
    runs-on: [ self-hosted, perf ]
    steps:
    - name: Checkout code
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      with:
        fetch-depth: 0
    - name: Setup Environment
      id: setup-java-env
      uses: ./.github/actions/setup-java-env
    - name: Get Host IP
      id: variables
      run: echo "hostIP=$(gcloud compute instances list | grep $(hostname) | awk '{print $4; exit}' )" >> $GITHUB_OUTPUT
    - name: Run load tests with Maven
      # Use spec path if provided
      run: |
          mvn test -PtemplatesLoadTests -Dproject=apache-beam-testing -DartifactBucket=gs://apache-beam-testing-pranavbhandari -DhostIp=${HOST_IP} -DexportProject=cloud-teleport-testing -DexportDataset=performance_tests -DexportTable=template_performance_metrics -fae
      env:
        HOST_IP: ${{ steps.variables.outputs.hostIP }}
    - name: Cleanup Java Environment
      uses: ./.github/actions/cleanup-java-env