# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Checks that don't run any template code and only on PRs.

name: Preconditions

on:
  pull_request:
    branches: ['main']

jobs:
  spotless_check:
    name: Spotless
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@230611dbd0eb52da1e1f4f7bc8bb0c3a339fc8b7
      - name: Setup Environment
        id: setup-env
        uses: ./.github/workflows/env.yml
        with:
          java-version: '11' # Spotless won't work on version 8
      - name: Run Spotless
        run: |
          cd cicd/ && go build ./cmd/run-spotless && cd ..
          ./cicd/run-spotless --changed-files="${{ steps.setup-env.outputs.changed-files }}"
